@model SFA.Apprenticeships.Web.Recruit.ViewModels.Home.ContactMessageViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Contact us - Recruit an Apprentice";
}

<div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-xlarge">Contact us</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ContactUs, FormMethod.Post, new { id = "contact-us-form" }))
{
    @Html.AntiForgeryToken()
    @Html.FormTextFor(
            m => m.Name,
            containerHtmlAttributes: new { @class = "form-group-compound" },
            controlHtmlAttributes: new { type = "text", autocorrect = "off", maxlength = "71", @class="form-control-2-3" })

    @Html.FormTextFor(
            m => m.Email,
            containerHtmlAttributes: new { @class = "form-group" },
                controlHtmlAttributes: new { type = "email", spellcheck = "false", maxlength = "100", @class = "form-control-2-3" },
            hintHtmlAttributes: new { @class = "text" })

        @Html.FormTextFor(m => m.Enquiry, controlHtmlAttributes: new { type = "text", autocorrect = "off", @class = "select-injected form-control-2-3", maxlength = "100" })

    @Html.FormTextAreaFor(m => m.Details,
                controlHtmlAttributes: new { @data_val_length_max = "4000", rows = "7", role = "textbox", aria_multiline = "true", @class = "form-control-4-4" },
                hintHtmlAttributes: new { @class = "text" })
    <div class="form-group">
        <button id="send-contact-form-button" class="button">Send</button>
    </div>
}
</div>
</div>