@using SFA.Apprenticeships.Web.Candidate.ViewModels.Account

@model SettingsViewModel

@{
    ViewBag.Title = "Settings - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Settings</h1>
    </div>
    <div class="grid grid-1-2">
        @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { id = "find-apprenticeship-link", @class = "page-link small-btm-margin" })

        @if (Model!=null && Model.TraineeshipFeature!=null && Model.TraineeshipFeature.ShowTraineeshipsLink)
        {
            @Html.RouteLink("Find a traineeship", CandidateRouteNames.TraineeshipSearch, null, new { id = "find-traineeship-link", @class = "page-link small-btm-margin" })
        }
    </div>
</div>

@using (Html.BeginRouteForm(CandidateRouteNames.Settings, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset>

        @{
            var yourAccountTabClass = Model.Mode == SettingsViewModel.SettingsMode.YourAccount ? " active" : "";
            var savedSearchesTabClass = Model.Mode == SettingsViewModel.SettingsMode.SavedSearches ? " active" : "";
            var deleteAccountTabClass = Model.Mode == SettingsViewModel.SettingsMode.DeleteAccount ? " active" : "";
        }

        <nav class="tabbed-nav">
            @Html.RouteLink("Your account", CandidateRouteNames.Settings, null, new { @id = "your-account-tab-control", @class = "tabbed-tab" + yourAccountTabClass, tab = "#tab1" })
            @Html.RouteLink("Saved searches", CandidateRouteNames.SavedSearchesSettings, null, new { @id = "saved-searches-tab-control", @class = "tabbed-tab" + savedSearchesTabClass, tab = "#tab2" })
            @Html.RouteLink("Delete your account", CandidateRouteNames.DeleteAccountSettings, null, new { @id = "delete-account-tab-control", @class = "tabbed-tab" + deleteAccountTabClass, tab = "#tab3" })
        </nav>

        @Html.HiddenFor(m => m.Mode)

        <div class="tabbed-content @yourAccountTabClass">

            <legend class="heading-large">Personal details</legend>

            <div class="panel-indent">
                <p class="text">Any changes you make will be seen on draft or new applications. Submitted applications will continue to show your old details.</p>
            </div>

            @Html.HiddenFor(m => m.IsJavascript, new { @id = "hidden-flag-javascript" })
            @Html.FormTextFor(m => m.Firstname, containerHtmlAttributes: new { @class = "form-group-compound" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
            @Html.FormTextFor(m => m.Lastname, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
            @Html.EditorFor(r => r.DateOfBirth)
            @Html.EditorFor(a => a.Address, new { AnalyticsDSCUri = "/settings/findaddress" })
            @Html.FormTextFor(m => m.PhoneNumber, controlHtmlAttributes: new { @class = "form-control", type = "tel" }, verified: Model.VerifiedMobile)

            <div class="form-group">
                <p class="form-label">Email</p>
                <span class="form-prepopped" id="settings-username">@Model.Username</span>
                <a id="settings-change-username" class="inl-block" href="@Url.RouteUrl(RouteNames.UpdateEmail)">Change email address</a>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.PendingUsername))
            {
                <div class="form-group">
                    <p class="form-label">Pending email address</p>
                    <span class="form-prepopped" id="settings-pending-username">@Model.PendingUsername</span>
                    <a id="settings-confirm-username" class="inl-block" href="@Url.RouteUrl(RouteNames.VerifyUpdatedEmail)">Verify email address</a>
                </div>
            }

            <details>
                <summary id="equality-diversity-summary-link">Your equality and diversity information</summary>
                <div class="detail-content">
                    @Html.EditorFor(m => Model.MonitoringInformation, "MonitoringInformation/_gender")
                    @Html.EditorFor(m => Model.MonitoringInformation, "MonitoringInformation/_disability")
                    @Html.EditorFor(m => Model.MonitoringInformation, "MonitoringInformation/_ethnicity")
                    @Html.EditorFor(m => Model.MonitoringInformation, "MonitoringInformation/_why")
                </div>
            </details>

            <div id="accountSettings2">
                <h3 class="heading-large">How we contact you</h3>
                <div class="text para-btm-margin">
                    <p class="small-btm-margin">
                        Choose to be notified by <i class="fa fa-envelope-o no-right-margin"></i> email or <i class="icon-sms"></i> text when:
                    </p>
                    <div class="display-table">
                        <div class="display-table__row va-bottom">
                            <a href="#" id="emailToggle" title="Email notifications" class="display-table__cell ta-center font-black">
                                <span class="notification-pulltop"><i class="fa fa-envelope-o no-right-margin"></i></span>
                            </a>
                            <a href="#" id="textToggle" title="Text notifications" class="display-table__cell ta-center">
                                <i class="icon-sms"></i>
                            </a>
                            <span class="display-table__cell ta-left">
                            </span>
                        </div>
                        <div class="display-table__row">
                            <span class="display-table__cell ta-center">
                                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableApplicationStatusChangeAlertsViaEmail,
                                    controlHtmlAttributes: new { @class = "no-margins email-input", aria_labelledby = "appStatusLabel", title = "Email notifications when the status of one of your applications changes" })
                            </span>
                            <span class="display-table__cell ta-center">
                                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableApplicationStatusChangeAlertsViaText,
                                    controlHtmlAttributes: new { @class = "no-margins text-input", aria_labelledby = "appStatusLabel", title = "Text notifications when the status of one of your applications changes" })
                            </span>
                            <span class="display-table__cell ta-left" id="appStatusLabel">
                                the status of one of your applications changes
                            </span>
                        </div>
                        <div class="display-table__row">
                            <span class="display-table__cell ta-center">
                                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableExpiringApplicationAlertsViaEmail,
                                    controlHtmlAttributes: new { @class = "no-margins email-input", aria_labelledby = "closingDateStatusLabel", title = "Email notifications when an apprenticeship is approaching its closing date" })
                            </span>
                            <span class="display-table__cell ta-center">
                                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableExpiringApplicationAlertsViaText,
                                    controlHtmlAttributes: new { @class = "no-margins text-input", aria_labelledby = "closingDateStatusLabel", title = "Text notifications when an apprenticeship is approaching its closing date" })
                            </span>
                            <span class="display-table__cell ta-left" id="closingDateStatusLabel">
                                an apprenticeship is approaching its closing date
                            </span>
                        </div>
                        <div class="display-table__row">
                            <span class="display-table__cell ta-center">
                                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableMarketingViaEmail,
                                    controlHtmlAttributes: new { @class = "no-margins email-input", aria_labelledby = "marketingUpdatesStatusLabel", title = "Email notifications when we send you updates on news and information" })
                            </span>
                            <span class="display-table__cell ta-center">
                                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableMarketingViaText,
                                    controlHtmlAttributes: new { @class = "no-margins text-input", aria_labelledby = "marketingUpdatesStatusLabel", title = "Text notifications when we send you updates on news and information" })
                            </span>
                            <span class="display-table__cell ta-left" id="marketingUpdatesStatusLabel">
                                we send you updates on news and information
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button id="update-details-button" class="button">Save settings</button>
            </div>
        </div>

        <div class="tabbed-content @savedSearchesTabClass">
            <h2 class="heading-large" id="savedSearchHeading">Saved searches</h2>
            <div class="form-group form-group-compound">
                <p class="form-label">Receive notifications?</p>
                <span class="form-hint text">If you don't select an option you won't receive notifications</span>
                @Html.FormUnvalidatedCheckBoxFor(m => m.EnableSavedSearchAlertsViaEmail, labelHtmlAttributes: new { @class = "block-label allowSavedComms" })
                @if (Model.SmsEnabled)
                {
                    @Html.FormUnvalidatedCheckBoxFor(m => m.EnableSavedSearchAlertsViaText, labelHtmlAttributes: new { @class = "block-label allowSavedComms" })
                }
            </div>

            <div class="form-group" id="savedSearch">
                @{
                    var noSavedSearchesTextStyle = (Model.SavedSearches != null && Model.SavedSearches.Count > 0) ? "style=\"display: none\"" : "";
                }

                <p class="savedInitalText text" id="noSavedSearchesText" @Html.Raw(noSavedSearchesTextStyle)>
                    You currently don't have any active saved searches. If you <a href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipSearch)">set up a saved search</a> we can alert you when we find a suitable apprenticeship.
                </p>

                @if (Model.SavedSearches != null)
                {
                    <div id="savedSearches" class="toggle-content text" style="display: block;">
                        @for (var i = 0; i < Model.SavedSearches.Count; i++)
                        {
                            var index = i;
                            var savedSearch = Model.SavedSearches[i];
                            var checkedListItemClass = savedSearch.AlertsEnabled ? "class=\"selected\"" : "";

                            <div class="para-btm-margin saved-search" id="@savedSearch.Id">
                                <a href="@Html.Raw(savedSearch.SearchUrl.Value)" title="Run search">@savedSearch.Name</a>
                                @if (savedSearch.DateProcessed.HasValue)
                                {
                                    <span class="inl-block font-xsmall">(Last alert: @savedSearch.DateProcessed.Value.ToFriendlyDaysAgo())</span>
                                }
                                <ul class="list-text">
                                    @if (!string.IsNullOrEmpty(savedSearch.SubCategoriesFullNames))
                                    {
                                        <li><b>Sub-categories:</b> @savedSearch.SubCategoriesFullNames</li>
                                    }
                                    @if (savedSearch.ApprenticeshipLevel != "All")
                                    {
                                        <li><b>Apprenticeship level:</b> @savedSearch.ApprenticeshipLevel</li>
                                    }
                                    <li @Html.Raw(checkedListItemClass)>
                                        @Html.HiddenFor(m => m.SavedSearches[index].Id)
                                        @Html.FormUnvalidatedCheckBoxFor(m => m.SavedSearches[index].AlertsEnabled, controlHtmlAttributes: new { @class = "no-left-margin" })
                                    </li>
                                    <li>
                                        <a href="@Url.RouteUrl(CandidateRouteNames.DeleteSavedSearch, new {id = savedSearch.Id, isJavascript = false})" id="@savedSearch.Id" class="link-unimp icon-black delete-saved-search-link">
                                            <i class="fa fa-times-circle"></i>Delete saved search
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                }

                <div class="form-group">
                    <button id="update-details-button" class="button">Save settings</button>
                </div>
            </div>
        </div>

        <div class="tabbed-content @deleteAccountTabClass">
            <h2 class="heading-large" id="deleteAccountHeading">Delete your account</h2>
            <div class="panel-indent">
                <p class="text">If you are no longer interested in applying for apprenticeships or traineeship, you can delete your account here.</p>
            </div>
            @Html.FormTextFor(
                m => m.EmailAddress,
                containerHtmlAttributes: new { @class = "form-group-compound" },
                controlHtmlAttributes: new { @class = "form-control", type = "email", autofocus = "autofocus", spellcheck = "false" })

            <div class="form-group">
                <a id="password"></a>
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, null)
            </div>

            <div class="form-group">
                <button class="button" id="delete-account-button">Delete account</button>
            </div>                        
        </div>
    </fieldset>
}

@section scripts
{
    @Scripts.Render("~/bundles/nas/account")


    <script>
        $(function () {

            $(".delete-saved-search-link").on('click', function () {
                var $this = $(this),
                    $href = $this.attr('href').replace("isJavascript=False", "isJavascript=true").replace("isJavascript=false", "isJavascript=true"),
                    $id = $this.attr('id');

                $.ajax({
                    url: $href,
                    complete: function (result) {

                        if (result.status == 200) {
                            $("#" + $id).hide();

                            if ($(".saved-search:visible").length == 0) {
                                $("#noSavedSearchesText").show();
                            }
                        }
                    }
                });

                return false;
            });

            $('#emailToggle').on('click', function () {
                var theTable = $(this).closest('.display-table');

                if (theTable.find('.email-input:checked').length == 3) {
                    theTable.find('.email-input:checked').click();
                } else {
                    theTable.find('.email-input:not(:checked)').click();
                }

                $(this).blur();

                return false;

            });

            $('#textToggle').on('click', function () {
                var theTable = $(this).closest('.display-table');

                if (theTable.find('.text-input:checked').length == 3) {
                    theTable.find('.text-input:checked').click();
                } else {
                    theTable.find('.text-input:not(:checked)').click();
                }

                $(this).blur();

                return false;

            });

            if ($('#disability-support-yes').is(':checked')) {
                $('#equality-diversity-summary-link').click();
            }

            document.getElementById("hidden-flag-javascript").value = "True";
        });
    </script>
}