@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.VerifyUpdatedEmailViewModel
@{
    ViewBag.Title = "VerifyUpdatedEmailAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Verify your email address</h1>
    </div>
    <div class="grid grid-1-2">
        <p>
            <a href="#" class="page-link">Find an apprenticeship</a>
        </p>
    </div>
</div>
<p class="text">
    You've been sent a code to your new email address, enter your code to verify
    your address.
</p>
@using (Html.BeginRouteForm(RouteNames.VertifyUpdatedEmail, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    
    @Html.FormTextFor(m => m.PendingUsernameCode, controlHtmlAttributes: new { @class = "form-group-withlink", spellcheck = "false", autofocus = "autofocus" }, labelText: "Enter code")
    
    <div class="form-group">
        <p>
            <a href="@Url.Action("ResendUpdateEmailAddressCode")" title="Resend code">Resend code</a>
        </p>
    </div>
    
    @Html.FormPasswordFor(m => m.Password, controlHtmlAttributes: new { autocomplete = "off" })
    
    <div class="form-group">
        <button class="button" id="emailVerified">Verify email</button>
    </div>
}
