@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.VerifyUpdatedEmailViewModel
@{
    ViewBag.Title = "Verify your email address - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="grid-row grid-1-2">
        <h1 class="heading-xlarge">Verify your email address</h1>
    </div>
    <div class="grid-row grid-1-2">
        <p>
            @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { id = "find-apprenticeship-link", @class = "page-link" })
        </p>
    </div>
</div>
<p class="text">
    You've been sent a code to your new email address, enter your code to verify
    your address.
</p>

@using (Html.BeginRouteForm(RouteNames.VerifyUpdatedEmail, FormMethod.Post, new {autocomplete = "off"}))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    <input type="password" title="Hidden password field to stop autocomplete" value="" class="alwayshidden" />
    <input type="password" title="Hidden password field to stop autocomplete" value="" class="alwayshidden" />

    @Html.FormTextFor(m => m.PendingUsernameCode, controlHtmlAttributes: new { spellcheck = "false", autofocus = "autofocus", autocomplete = "off" }, labelText: "Enter code", containerHtmlAttributes: new { @class = "form-group-withlink" })
    
    <div class="form-group">
        <p>
            <a href="@Url.RouteUrl(CandidateRouteNames.ResendUpdateEmailAddressCode)" title="Resend code">Resend code</a>
        </p>
    </div>
    
    @Html.FormPasswordFor(m => m.VerifyPassword, controlHtmlAttributes: new { autocomplete = "off" })
    
    <div class="form-group">
        <button class="button" id="verify-email-button">Verify email</button>
    </div>
}
