@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.VacancyLinksViewModel

<ul class="list">

	@if (Model.Status.CanCloseVacancy())
	{
	    <li>
	        @Html.RouteLink("Close this vacancy", RecruitmentRouteNames.CloseVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
	    </li>
	}

    @if (Model.Status.CanManageVacancyDates())
    {
        <li>
            @Html.RouteLink("Change vacancy dates", RecruitmentRouteNames.ManageDates, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
        </li>
    }

    @if (Model.Status.CanShareApplications(Model.TotalNumberOfApplications))
    {
        <li>
            @Html.RouteLink("Share applications", RecruitmentRouteNames.ShareApplications, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
        </li>
    }

    @if (Model.Status.CanArchiveVacancy() && Model.VacancyType.IsApprentcieshipVacancyType())
    {
        <li>
            @Html.RouteLink("Archive vacancy", RecruitmentRouteNames.ArchiveVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
        </li>
    }
    @if (Model.Status.CanBulkDecline(Model.TotalNumberOfApplicationsWithPendingDecision) && Model.VacancyType.IsApprentcieshipVacancyType())
    {
        <li>
            @Html.RouteLink("Respond to candidates", RecruitmentRouteNames.BulkDeclineCandidates, new RouteValueDictionary { { "VacancyApplicationsSearch.VacancyReferenceNumber", Model.VacancyReferenceNumber } }, new Dictionary<string, object> { { "class", "disp-block" } })
        </li>
    }

    @if (Model.Status.CanEditWage())
    {
        <li>
            @Html.RouteLink("Increase wage", RecruitmentRouteNames.EditWage, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
        </li>
    }
</ul>