@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.VacancyStatus.ArchiveVacancyViewModel

@{
    ViewBag.Title = "Archive";
}

@if (Model.HasOutstandingActions)
{
    <h1 id="heading" class="heading-xlarge">Are you ready to archive this vacancy?</h1>
    <p>
        If all the positions have been filled this vacancy cab be archived, once a reposnse has been
        sent to all candidates currently set as 'In-progess' or 'New'.</p>
        <a href="@Url.RouteUrl(RecruitmentRouteNames.BulkDeclineCandidates, new {vacancyReferenceNumber = Model.VacancyReferenceNumber})" class="button">Respond to remaining candidates</a>
        <a href="@Url.RouteUrl(RecruitmentRouteNames.VacancyApplications, new {vacancyReferenceNumber = Model.VacancyReferenceNumber})">Return to applications</a>
}
else
{
    <section>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                <h1 id="heading" class="heading-xlarge">
                    <span>Archive vacancy</span>
                </h1>
            </div>
        </div>
    </section>

        <p>This vacancy will now be stored in your archive</p>

    using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmArchiveVacancy, FormMethod.Post))
    {
        @Html.HiddenFor(m => m.VacancyId)
        @Html.HiddenFor(m => m.HasOutstandingActions)
        @Html.HiddenFor(m => m.VacancyReferenceNumber)

        <section>
            <div class="form-group">
                <button type="submit" class="button">Confirm</button>
                <a id="dashboardLink" href="@Url.RouteUrl(RecruitmentRouteNames.PreviewVacancy, new {vacancyReferenceNumber = Model.VacancyReferenceNumber})">Cancel</a>
            </div>
        </section>
    }
}
