@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Apprenticeship.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Send successful decision";
}

@using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmSuccessfulApprenticeshipApplication, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ApplicationSelection.ApplicationId)
    @Html.HiddenFor(m => m.ApplicationSelection.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ApplicationSelection.FilterType)
    @Html.HiddenFor(m => m.ApplicationSelection.PageSize)
    <div>
        <div class="hgroup">
            <h1 class="heading-xlarge med-btm-margin">Select @Model.ApplicantDetails.Name for this role</h1>
        </div>
        <p> An automated message will now be sent to the candidate to inform them that their @Model.Vacancy.Title application has been successful.</p>        
        <section>
            <div class="form-group">
                <button type="submit" class="button" name="SendSuccessfulDecision" value="SendSuccessfulDecision">
                    Confirm and send
                </button>                
                @Html.RouteLink("Cancel", RecruitmentRouteNames.ReviewApprenticeshipApplication, Model.ApplicationSelection.RouteValues)                
            </div>
        </section>
    </div>
}
