@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Apprenticeship.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Revert to In progress";
}

@using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmRevertToInProgress, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ApplicationSelection.ApplicationId)
    @Html.HiddenFor(m => m.ApplicationSelection.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ApplicationSelection.FilterType)
    @Html.HiddenFor(m => m.ApplicationSelection.PageSize)
    <div>
        <div class="hgroup">
            <h1 class="heading-xlarge med-btm-margin">Confirm revert to In progress</h1>
        </div>
        <p>You are about to return @Model.ApplicantDetails.Name's application to the In progress state.</p>
        <p>Be aware that the candidate will already have recieved a successful or unsuccessful message for this role.</p>
        <section>
            <div class="form-group">
                <button type="submit" class="button" name="RevertToViewed" value="RevertToViewed">
                    Revert
                </button>
                <p class="med-btm-margin">
                    @Html.RouteLink("Cancel", RecruitmentRouteNames.ReviewApprenticeshipApplication, Model.ApplicationSelection.RouteValues)
                </p>
            </div>
        </section>
    </div>
}
