@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Apprenticeship.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Send successful decision";
}

@using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmSuccessfulApprenticeshipApplication, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ApplicationSelection.ApplicationId)
    @Html.HiddenFor(m => m.ApplicationSelection.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ApplicationSelection.FilterType)
    @Html.HiddenFor(m => m.ApplicationSelection.PageSize)
    <div>
        <div class="hgroup">
            <h1 class="heading-xlarge med-btm-margin">Confirm decision - successful</h1>
        </div>
        <p>You are about to confirm @Model.ApplicantDetails.Name's application has been successful.</p>
        <p>Your decision can't be reversed within the recruit an apprentice system once this message has been sent.</p>
        <p>An automated message will now be sent to the candidate to inform them they have been selected for this role.</p>
        <section>
            <div class="form-group">
                <button type="submit" class="button" name="SendSuccessfulDecision" value="SendSuccessfulDecision">
                    Send
                </button>
                <p class="med-btm-margin">
                    @Html.RouteLink("Cancel", RecruitmentRouteNames.ReviewApprenticeshipApplication, Model.ApplicationSelection.RouteValues)
                </p>
            </div>
        </section>
    </div>
}
