@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Applications
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application
@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Apprenticeship.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Review application";
}

@using (Html.BeginRouteForm(RecruitmentRouteNames.ReviewApprenticeshipApplication, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.ApplicationSelection.ApplicationId)
    @Html.HiddenFor(m => m.ApplicationSelection.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ApplicationSelection.FilterType)
    @Html.HiddenFor(m => m.ApplicationSelection.PageSize)

    if (Model.Status == ApplicationStatuses.Successful || Model.Status == ApplicationStatuses.Unsuccessful)
    {
        var decision = Model.Status == ApplicationStatuses.Successful ? "successful" : "unsuccessful";
        var decisionDateTime = Model.Status == ApplicationStatuses.Successful ? Model.SuccessfulDateTime : Model.UnsuccessfulDateTime;

        <div role="alert" class="panel-info">
            <p>
                <i class="fa fa-flag the-icon"></i>This candidate was made @decision
                @if (decisionDateTime.HasValue)
                {
                    <span>on @Html.DisplayFor(m => decisionDateTime.Value)</span>
                }
            </p>
            <p>
                @Html.RouteLink("Return to vacancy applications", RecruitmentRouteNames.VacancyApplications, new { Model.Vacancy.VacancyReferenceNumber })
            </p>
        </div>
    }

    <div>
        <div class="hgroup">
            <h1 class="heading-xlarge med-btm-margin">Vacancy application</h1>
            <p class="subtitle">@Model.Vacancy.Title</p>
            <!--<p>
                <a href="live-apprenticeship-summary.html">Apprenticeship summary</a>
            </p>-->
        </div>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                @Html.DisplayFor(m => m.ApplicantDetails, ApplicantDetailsViewModel.PartialView)
            </div>
            <div class="grid grid-1-3">
            </div>
        </div>
        @Html.DisplayFor(m => m.AboutYou, AboutYouViewModel.PartialView)
        @Html.DisplayFor(m => m.Education, EducationViewModel.PartialView)
        @Html.DisplayFor(m => m.WorkExperience, WorkExperienceViewModel.PartialView)
        @Html.DisplayFor(m => m.TrainingCourses, TrainingCourseViewModel.PartialView)


        @if (Model.Vacancy.HasQuestions ||
            Model.ApplicantDetails.DisabilityStatus.HasValue ||
            Model.VacancyQuestionAnswers.HasAnythingWeCanDoToSupportYourInterviewAnswer)
        {
            <fieldset class="fieldset-with-border">
                @if (Model.Vacancy.HasQuestions)
                {
                    <legend class="heading-large">
                        Answers to employer questions
                    </legend>

                    if (Model.Vacancy.HasFirstQuestion)
                    {
                        <div class="form-group">
                            <label for="add-question1" class="form-label">@Model.Vacancy.FirstQuestion</label>
                            <span class="form-prepopped" id="add-question1">@Model.VacancyQuestionAnswers.FirstQuestionAnswer</span>
                        </div>
                    }
                    if (Model.Vacancy.HasSecondQuestion)
                    {
                        <div class="form-group">
                            <label for="add-question2" class="form-label">@Model.Vacancy.SecondQuestion</label>
                            <span class="form-prepopped" id="add-question2">@Model.VacancyQuestionAnswers.SecondQuestionAnswer</span>
                        </div>
                    }
                }

                @Html.DisplayFor(m => m.ApplicantDetails.DisabilityStatus, @"Application\DisabilityStatusQuestion")

                @if (Model.VacancyQuestionAnswers.HasAnythingWeCanDoToSupportYourInterviewAnswer)
                {
                    <div class="form-group">
                        <label for="question4" class="form-label">Is there anything we can do to support your interview?</label>
                        <span class="form-prepopped" id="">@Model.VacancyQuestionAnswers.AnythingWeCanDoToSupportYourInterviewAnswer</span>
                    </div>
                }
            </fieldset>
        }

        @if (!(Model.Status == ApplicationStatuses.Successful || Model.Status == ApplicationStatuses.Unsuccessful))
        {
            <section>
                <div class="form-group">
                    <div class="detail-content qa-comment">
                        <div class="blocklabel-single-container">
                            @Html.FormTextAreaFor(m => m.Notes, controlHtmlAttributes: new { @class = "width-all-1-1 form-textarea-medium", type = "text" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button" name="Review" value="ReviewAppointCandidate">
                        Send successful decision
                    </button>
                    <p class="med-btm-margin">
                        <button type="submit" class="button-link" name="Review" value="ReviewRejectCandidate">Send unsuccessful decision</button>
                        <button type="submit" class="button-link" name="Review" value="ReviewSaveAndExit">Save and exit</button>
                    </p>
                </div>
            </section>
        }
    </div>
}
