@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Manage.Controllers
@using Roles = SFA.Apprenticeships.Domain.Entities.Raa.Roles

@if (Request.IsAuthenticated)
{
    <div class="account-info" id="bannerSignedIn">
        <div class="small-btm-margin">
            <span class="your-name" id="bannerUserName">@User.Identity.Name</span>
            <a id="signout-link" href="@Url.RouteUrl(ManagementRouteNames.SignOut)"><i class="fa fa-sign-out"></i>Sign out</a>
        </div>
        <div>
            @if (User.IsInRole(Roles.Admin))
            {
                <a class="account-link" id="adminLink" href="@Url.RouteUrl(ManagementRouteNames.AdminList)">Admin</a>
            }
            <a class="account-link" id="applicationsLink" href="@Url.RouteUrl(ManagementRouteNames.Dashboard)">Agency home</a>
        </div>
    </div>
}
else
{
    <div class="account-info" id="bannerSignedOut">
        <a href="@Url.RouteUrl(ManagementRouteNames.SignIn)" id="loginLink" title="Sign in"><i class="fa fa-sign-in"></i>Sign in</a>
    </div>
}
