@model SFA.Apprenticeships.Web.Manage.ViewModels.InformationRadiatorViewModel
@{
    ViewBag.Title = "Information radiator";
}

<section>
    <!--<h1 class="heading-xlarge">Information radiator</h1>-->
    <div class="grid-wrapper" style="Margin-Bottom: 20px">
        <h2 class="heading-medium">Providers (@Model.TotalProviders in total, @Model.TotalProvidersMigrated with accounts in recruit)</h2>
    </div>
    <div class="grid-wrapper" style="Margin-Bottom: 20px">
        <h2 class="heading-medium">Vacancies (@Model.TotalVacanciesInReviewViaRaa awaiting review via manage)</h2>
        <ul class="vacancies-summary">
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalVacanciesCreatedViaRaa</p>
                    <figcaption>
                        <h2>Total created via recruit</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalVacanciesSubmittedViaRaa</p>
                    <figcaption>
                        <h2>of those, total submitted (@(Math.Round((double)Model.TotalVacanciesSubmittedViaRaa/Model.TotalVacanciesCreatedViaRaa * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalVacanciesApprovedViaRaa</p>
                    <figcaption>
                        <h2>of those, total made live (@(Math.Round((double)Model.TotalVacanciesApprovedViaRaa / Model.TotalVacanciesSubmittedViaRaa * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalVacanciesReferredViaRaa</p>
                    <figcaption>
                        <h2>of those, total referred at least once (@(Math.Round((double)Model.TotalVacanciesReferredViaRaa / Model.TotalVacanciesSubmittedViaRaa * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <ul class="vacancies-summary">
            <li style="background-color: @Model.VacanciesReviewedTodayColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesSubmittedToday</p>
                    <figcaption>
                        <h2>Vacancies submitted today</h2>
                    </figcaption>
                </figure>
            </li>
            <li style="background-color: @Model.VacanciesReviewedYesterdayColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesSubmittedYesterday</p>
                    <figcaption>
                        <h2>Vacancies submitted yesterday</h2>
                    </figcaption>
                </figure>
            </li>
            <li style="background-color: @Model.VacanciesReviewedTwoDaysAgoColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesSubmittedTwoDaysAgo</p>
                    <figcaption>
                        <h2>Vacancies submitted two days ago</h2>
                    </figcaption>
                </figure>
            </li>
            <li style="background-color: @Model.VacanciesReviewedThreeDaysAgoColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesSubmittedThreeDaysAgo</p>
                    <figcaption>
                        <h2>Vacancies submitted three days ago</h2>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <ul class="vacancies-summary">
            <li style="background-color: @Model.VacanciesReviewedTodayColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesReviewedToday</p>
                    <figcaption>
                        <h2>Vacancies reviewed today</h2>
                    </figcaption>
                </figure>
            </li>
            <li style="background-color: @Model.VacanciesReviewedYesterdayColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesReviewedYesterday</p>
                    <figcaption>
                        <h2>Vacancies reviewed yesterday</h2>
                    </figcaption>
                </figure>
            </li>
            <li style="background-color: @Model.VacanciesReviewedTwoDaysAgoColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesReviewedTwoDaysAgo</p>
                    <figcaption>
                        <h2>Vacancies reviewed two days ago</h2>
                    </figcaption>
                </figure>
            </li>
            <li style="background-color: @Model.VacanciesReviewedThreeDaysAgoColour; height: 95px">
                <figure class="data">
                    <p class="count">@Model.VacanciesReviewedThreeDaysAgo</p>
                    <figcaption>
                        <h2>Vacancies reviewed three days ago</h2>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <div class="grid-wrapper" style="Margin-Bottom: 20px">
        <h2 class="heading-medium">Applications</h2>
        <ul class="vacancies-summary">
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalApplicationsStartedInPastFourWeeks</p>
                    <figcaption>
                        <h2>Total started in past four weeks</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalApplicationsSubmittedInPastFourWeeks</p>
                    <figcaption>
                        <h2>of those, total submitted (@(Math.Round((double)Model.TotalApplicationsSubmittedInPastFourWeeks / Model.TotalApplicationsStartedInPastFourWeeks * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalNewApplicationsInPastFourWeeks</p>
                    <figcaption>
                        <h2>of those, total not reviewed (@(Math.Round((double)Model.TotalNewApplicationsInPastFourWeeks / Model.TotalApplicationsSubmittedInPastFourWeeks * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalInProgressApplicationsInPastFourWeeks</p>
                    <figcaption>
                        <h2>of those, total in progress (@(Math.Round((double)Model.TotalInProgressApplicationsInPastFourWeeks / Model.TotalApplicationsSubmittedInPastFourWeeks * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalUnsuccessfulApplicationsInPastFourWeeks</p>
                    <figcaption>
                        <h2>of those, total made unsuccessful (@(Math.Round((double)Model.TotalUnsuccessfulApplicationsInPastFourWeeks / Model.TotalApplicationsSubmittedInPastFourWeeks * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="data">
                    <p class="count">@Model.TotalSuccessfulApplicationsInPastFourWeeks</p>
                    <figcaption>
                        <h2>of those, total made successful (@(Math.Round((double)Model.TotalSuccessfulApplicationsInPastFourWeeks / Model.TotalApplicationsSubmittedInPastFourWeeks * 100, 1))%)</h2>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>

@section scripts
{
    <script>
        setTimeout(function () {
            location.reload();
        }, 30000);
    </script>
}