@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Admin.TransferVacanciesResultsViewModel

@{
    ViewBag.Title = "Confirm Vacancies";
}

<h1 id="heading" class="heading-xlarge">Transfer Vacancies</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmVacancies))
{
    if (Model != null && Model.VacanciesToBeTransferredVm != null && Model.VacanciesToBeTransferredVm.Any())
    {
        <div class="grid-wrapper">
            <div class="grid grid-1-1">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            @*<th>Select</th>*@
                            <th>Vacancy Reference Number</th>
                            <th>Provider Name</th>
                            <th>ProviderSite Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var viewModel in Model.VacanciesToBeTransferredVm)
                        {
                            <tr>
                                @*<td>@Html.CheckBoxFor(x => viewModel.Selected)</td>*@
                                <td>@viewModel.VacancyReferenceNumber </td>
                                @Html.Hidden("VacancyReferenceNumber", viewModel.VacancyReferenceNumber)
                                <td>@viewModel.ProviderName </td>
                                <td>@viewModel.ProviderSiteName </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <button id="add-provider-site-relationship-button" type="submit" class="button" name="ChooseProviderAction"
                        value="ChooseProvider">
                    Choose Provider
                </button>
            </div>
        </div>
    }
}
