@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Infrastructure.Presentation
@using SFA.Apprenticeships.Web.Raa.Common.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using HtmlExtensions = SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions
@model VacancyViewModel

@{
    var editableItemClass = ViewData["editableItemClass"];
    var editableApprenticeshipLevel = string.IsNullOrWhiteSpace(Model.StandardName);
    var editableApprenticeshipLevelClass = (!Model.IsEditable || !editableApprenticeshipLevel) ? "" : "editable-item";
}

<section class="grid-row" id="vacancy-info">
    <div class="column-full">
        
        @if (Model.VacancyType == VacancyType.Traineeship)
        {
            <h2 class="heading-large">Traineeship details</h2>
        }
        else
        {
            <h2 class="heading-large">Apprenticeship summary</h2>
        }
    </div>
    <div class="column-one-third">
        <ul class="list">
            @if (Model.VacancyType == VacancyType.Traineeship)
            {
                <li class="sfa-if-first">
                    <h3 class="heading-small">Training provider</h3>
                    <p id="vacancy-provider-name">@Model.ProviderSite.TradingName</p>
                </li>

                <li class="@editableItemClass">
                    <h3 class="heading-small">
                        Traineeship sector
                        @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.TrainingDetailsViewModel.SectorCodeName, Model.TrainingDetailsViewModel.SectorCodeNameComment, Model.TrainingDetailsLink))
                    </h3>
                    <p id="traineeship-sector">@Html.DisplayFor(m => m.SectorName)</p>
                    @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.TrainingDetailsViewModel.SectorCodeName, Model.TrainingDetailsLink, Model.TrainingDetailsViewModel.SectorCodeNameComment))
                </li>
            }

            @Html.Partial("DisplayTemplates/Vacancy/_WorkingWeekAndWage", Model, new ViewDataDictionary { { "editableItemClass", editableItemClass } })

            <li class="@editableItemClass">
                <h3 class="heading-small">
                    @if (Model.VacancyType == VacancyType.Traineeship)
                    {
                        <span>Expected duration</span>
                    }
                    else
                    {
                        <span>Expected apprenticeship duration</span>
                    }
                    @Html.Partial(ValidationResultViewModel.PartialView, Html.GetValidationResultViewModel(Model, m => m.FurtherVacancyDetailsViewModel.Duration, ViewData.ModelState, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.DurationComment))
                </h3>
                <p id="vacancy-expected-duration">@Model.FurtherVacancyDetailsViewModel.DurationTypeDisplayText</p>
                @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.FurtherVacancyDetailsViewModel.Duration, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.DurationComment))
            </li>

            <li class="@editableItemClass">
                <h3 class="heading-small">
                    Possible start date
                    @Html.Partial(ValidationResultViewModel.PartialView, Html.GetValidationResultViewModel(Model, m => m.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.PossibleStartDate, ViewData.ModelState, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.PossibleStartDateComment))
                </h3>
                <p id="vacancy-start-date">
                    @Html.DisplayFor(m => Model.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.PossibleStartDate.Date)
                </p>
                @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.PossibleStartDate, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.PossibleStartDateComment))
            </li>

            @if (Model.VacancyType == VacancyType.Apprenticeship)
            {
                <li class="@editableApprenticeshipLevelClass">
                    <h3 class="heading-small">
                        Apprenticeship level
                        @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.TrainingDetailsViewModel.ApprenticeshipLevel, Model.TrainingDetailsViewModel.ApprenticeshipLevelComment, Model.TrainingDetailsLink))
                    </h3>
                    <p id="vacancy-type" itemprop="employmentType">
                        @Html.DisplayFor(m => m.TrainingDetailsViewModel.ApprenticeshipLevel) Level Apprenticeship
                    </p>
                    @if (editableApprenticeshipLevel)
                {
                        @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.TrainingDetailsViewModel.ApprenticeshipLevel, Model.TrainingDetailsLink, Model.TrainingDetailsViewModel.ApprenticeshipLevelComment))
                    }
                </li>
            }
            <li>
                <h3 class="heading-small">Reference number</h3>
                @if (Model.NewVacancyViewModel.LocationAddresses != null && Model.NewVacancyViewModel.LocationAddresses.Count > 1)
            {
                    <p>Will be generated on approval</p>
                }
                else
                {
                    <p id="vacancy-reference-id">@Model.VacancyReferenceNumber.GetVacancyReference()</p>
                }
            </li>
            @if (Model.IsSingleLocation || Model.IsNationwideLocation)
            {
                if (!Model.IsManageReviewerView && Model.IsNationwideLocation)
                {
                    <li class="@editableItemClass">
                        <h3 class="heading-small">Positions</h3>
                        <p id="vacancy-reference-id">@Model.NewVacancyViewModel.NumberOfPositions available</p>
                        @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.NewVacancyViewModel.NumberOfPositions, Model.EmployerLink, Model.NewVacancyViewModel.NumberOfPositionsComment))
                    </li>
                }
            }
            else
            {
                if (Model.NewVacancyViewModel.LocationAddresses != null && Model.NewVacancyViewModel.LocationAddresses.Count == 1)
                {
                    <li class="@editableItemClass">
                        <h3 class="heading-small">Positions</h3>
                        <p id="vacancy-reference-id">@Model.NewVacancyViewModel.LocationAddresses.First().NumberOfPositions available</p>
                        @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.NewVacancyViewModel.LocationAddresses.First().NumberOfPositions, Model.EmployerLink, Model.NewVacancyViewModel.NumberOfPositionsComment))
                    </li>
                }
            }

            @if (Model.VacancyType == VacancyType.Traineeship)
            {
                <li class="@editableItemClass">
                    <h3 class="heading-small">
                        Contact details
                        @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.TrainingDetailsViewModel.ContactName, Model.TrainingDetailsViewModel.ContactDetailsComment, Model.TrainingDetailsLink))
                    </h3>
                    @if (string.IsNullOrEmpty(Model.TrainingDetailsViewModel.ContactName) && string.IsNullOrEmpty(Model.TrainingDetailsViewModel.ContactNumber) && string.IsNullOrEmpty(Model.TrainingDetailsViewModel.ContactEmail))
                {
                        <span>None specified. This message will not appear on the vacancy when it goes live</span>
                    }
                    else
                    {
                        <p class="sfa-small-bottom-margin">@Model.TrainingDetailsViewModel.ContactName</p>
                        <p class="sfa-small-bottom-margin">@Model.TrainingDetailsViewModel.ContactNumber</p>
                        <p class="sfa-small-bottom-margin">@Model.TrainingDetailsViewModel.ContactEmail</p>
                    }
                    @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.TrainingDetailsViewModel.ContactName, Model.TrainingDetailsLink, Model.TrainingDetailsViewModel.ContactDetailsComment))
                </li>
            }
        </ul>
    </div>
        <div class="column-two-thirds">
            <div class="@editableItemClass sfa-if-first" itemprop="responsibilities">
                @if (!Model.IsCandidateView)
            {
            <h3 class="heading-small" id="long-description-header">
                @if (Model.VacancyType == VacancyType.Traineeship)
                    {
                    <span>Work placement</span>
                    }
                    else
                    {
                    <span>Vacancy description</span>
                    }
                @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.FurtherVacancyDetailsViewModel.LongDescription, Model.FurtherVacancyDetailsViewModel.LongDescriptionComment, Model.SummaryLink))
            </h3>
            }
                <div id="vacancy-full-descrpition" class="sfa-text-editor-generated @Model.FurtherVacancyDetailsViewModel.LongDescription.GetPreserveFormattingCssClass()">
                    @(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.FurtherVacancyDetailsViewModel.LongDescription))
                </div>
                @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.FurtherVacancyDetailsViewModel.LongDescription, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.LongDescriptionComment))
            </div>
            @if (Model.VacancyType == VacancyType.Traineeship)
        {
        <div class="@editableItemClass">
            <h3 class="heading-small">
                Training to be provided
                @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.TrainingDetailsViewModel.TrainingProvided, Model.TrainingDetailsViewModel.TrainingProvidedComment, Model.TrainingDetailsLink))
            </h3>
            <div id="vacancy-training-to-be-provided" class="sfa-text-editor-generated @Model.TrainingDetailsViewModel.TrainingProvided.GetPreserveFormattingCssClass()">
                @(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.TrainingDetailsViewModel.TrainingProvided))
            </div>
            @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.TrainingDetailsViewModel.TrainingProvided, Model.TrainingDetailsLink, Model.TrainingDetailsViewModel.TrainingProvidedComment))
        </div>
        <div class="@editableItemClass">
            <div>
                <h3 class="heading-small">
                    Future prospects
                    @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.VacancyRequirementsProspectsViewModel.FutureProspects, Model.VacancyRequirementsProspectsViewModel.FutureProspectsComment, Model.RequirementsProspectsLink))
                </h3>
                <div id="vacancy-future-prospects" itemprop="incentives" class="sfa-text-editor-generated @Model.VacancyRequirementsProspectsViewModel.FutureProspects.GetPreserveFormattingCssClass()">
                    @(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.VacancyRequirementsProspectsViewModel.FutureProspects))
                </div>
                @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.VacancyRequirementsProspectsViewModel.FutureProspects, Model.RequirementsProspectsLink, Model.VacancyRequirementsProspectsViewModel.FutureProspectsComment))
            </div>
        </div>
        }
        </div>
</section>
<hr class="sfa-no-bottom-margin" />