@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Infrastructure.Presentation.Constants
@using SFA.Apprenticeships.Web.Raa.Common.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model VacancyViewModel

@{
    var editableItemClass = ViewData["editableItemClass"];
}

<div class="@editableItemClass">
    <h3 class="bold-small">
        @if (Model.VacancyType == VacancyType.Traineeship)
        {
            <span>Weekly hours</span>
        }
        else
        {
            <span>Working week</span>
            @Html.Partial(ValidationResultViewModel.PartialView, Html.GetValidationResultViewModel(Model, m => m.FurtherVacancyDetailsViewModel.WorkingWeek, ViewData.ModelState, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.WorkingWeekComment))
        }
    </h3>
    <p id="vacancy-working-week" itemprop="workHours" class="preserve-formatting">@Model.FurtherVacancyDetailsViewModel.WorkingWeek</p>
    @if (Model.VacancyType == VacancyType.Apprenticeship)
    {
        <p>Total hours per week: @Model.FurtherVacancyDetailsViewModel.HoursPerWeek</p>
        if (Model.FurtherVacancyDetailsViewModel.HoursPerWeek > 40)
        {
            <p>(the hours are based on the candidate being over 18)</p>
        }
    }
    @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.FurtherVacancyDetailsViewModel.WorkingWeek, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.WorkingWeekComment))
</div>

@if (Model.VacancyType == VacancyType.Apprenticeship)
{
    <div class="@editableItemClass">
        <h3 class="bold-small">
            @if (Model.FurtherVacancyDetailsViewModel.WageType == WageType.Custom)
            {
                <span>
                    @Model.FurtherVacancyDetailsViewModel.WageUnitDisplayText
                    @Html.Partial(ValidationResultViewModel.PartialView, Html.GetValidationResultViewModel(Model, m => m.FurtherVacancyDetailsViewModel.WageType, ViewData.ModelState, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.WageComment))
                </span>
            }
            else
            {
                <span>
                    Weekly wage
                    @Html.Partial(ValidationResultViewModel.PartialView, Html.GetValidationResultViewModel(Model, m => m.FurtherVacancyDetailsViewModel.WageType, ViewData.ModelState, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.WageComment))
                </span>
            }
        </h3>
        <p id="vacancy-wage">@Model.FurtherVacancyDetailsViewModel.WageDisplayText</p>
        @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.FurtherVacancyDetailsViewModel.WageType, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.WageComment))
    </div>

    if (Model.FurtherVacancyDetailsViewModel.WageType == WageType.ApprenticeshipMinimumWage)
    {
        <details>
            <summary>Wages explained</summary>
            <div class="detail-content">
                The current National Minimum Wage (NMW) for apprentices is £@Wages.ApprenticeMinimumWage per hour.<br />
                This rate applies to apprentices aged 16 to 18 and those aged 19 or over who are in their first year.<br />
                Apprentices must be paid at least the NMW for their age if they're aged 19 or over and have completed their first year.
            </div>
        </details>
    }

    if (Model.FurtherVacancyDetailsViewModel.WageType == WageType.NationalMinimumWage)
    {
        <details>
            <summary>Wages explained</summary>
            <div class="detail-content">
                The current National Minimum Wage rates are £@Wages.Between18And20NationalMinimumWage for 18 to 20 year-olds and £@Wages.Over21NationalMinimumWage for anyone aged 21 and over.<br />
                Apprentices are paid for their normal working hours and training that’s part of their apprenticeship (usually one day per week).
            </div>
        </details>
    }
}