@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider.VacancyPartyViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Web.Raa.Common.Extensions

<div class="grid-wrapper">
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.ProviderSiteEdsErn)
    @Html.HiddenFor(m => m.Employer.EdsErn)
    @Html.HiddenFor(m => m.VacancyGuid)
    @Html.HiddenFor(m => m.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ComeFromPreview)

    <div class="grid grid-1-2">
        <div class="inner-block-padr">
            <h3 class="bold-small">Employer</h3>
            <p class="small-btm-margin">@Model.Employer.Name</p>
            <h3 class="bold-small">Address</h3>
            <p class="small-btm-margin">@Model.Employer.Address.AddressLine1</p>
            <p class="small-btm-margin">@Model.Employer.Address.AddressLine2</p>
            <p class="small-btm-margin">@Model.Employer.Address.AddressLine3</p>
            <p class="small-btm-margin">@Model.Employer.Address.AddressLine4</p>
            <p class="small-btm-margin">@Model.Employer.Address.Postcode</p>
        </div>
    </div>
    <div class="grid grid-1-2 hide-print">
        <div class="ad-details__map">
            <div class="map-overlay" onClick="style.pointerEvents = 'none'"></div>
            <iframe width="700" height="250" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=@Model.Employer.Address.Postcode,+United+Kingdom&key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
            <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
        </div>
    </div>

    <div class="grid grid-1-1">
        <div class="blocklabel-single-container">
            <div class="hide-nojs">
                <div class="form-group inline clearfix blocklabel-single">
                    <a name="@Html.NameFor(m => m.IsEmployerLocationMainApprenticeshipLocation).ToString().ToLower()"></a>
                    <h4 class="bold-small">Is this address the vacancy location?</h4>

                    <label data-target="location-type-main-location-panel" for="location-type-main-location" class="block-label @Model.IsEmployerLocationMainApprenticeshipLocation ">
                        @Html.RadioButtonFor(m => m.IsEmployerLocationMainApprenticeshipLocation, true, new { id = "location-type-main-location", aria_controls = "location-type-main-location-panel" })
                        Yes, this will be the vacancy location
                    </label>
                    <label data-target="location-type-different-location-panel" for="location-type-different-location" class="block-label @Model.IsEmployerLocationMainApprenticeshipLocation ">
                        @Html.RadioButtonFor(m => m.IsEmployerLocationMainApprenticeshipLocation, false, new { id = "location-type-different-location", aria_controls = "location-type-different-location-panel" })
                        No, I need to add a different location
                    </label>
                </div>
                <div id="location-type-main-location-panel" class="toggle-content blocklabel-content location">
                    @Html.FormTextFor(model => model.NumberOfPositions, controlHtmlAttributes: new { type = "text", @class = "form-control-small", @maxlength = "5", size = 12, id = "NumberOfPositionsJS", Name = "NumberOfPositionsJS" }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.EditorFor(m => m.NumberOfPositionsComment, "Comment", Html.GetLabelFor(m => m.NumberOfPositionsComment))
                </div>
            </div>
        </div>
        <noscript>
            <div class="blocklabel-single-container">
                <div class="form-group inline clearfix blocklabel-single">
                    <a name="@Html.NameFor(m => m.IsEmployerLocationMainApprenticeshipLocation).ToString().ToLower()"></a>
                    <h4 class="bold-small">Is this address the vacancy location?</h4>

                    <label data-target="location-type-main-location-panel" for="location-type-main-location" class="block-label @Model.IsEmployerLocationMainApprenticeshipLocation ">
                        @Html.RadioButtonFor(m => m.IsEmployerLocationMainApprenticeshipLocation, true, new { id = "location-type-main-location", aria_controls = "location-type-main-location-panel" })
                        Yes, this will be the vacancy location
                    </label>
                    <label data-target="location-type-different-location-panel" for="location-type-different-location" class="block-label @Model.IsEmployerLocationMainApprenticeshipLocation ">
                        @Html.RadioButtonFor(m => m.IsEmployerLocationMainApprenticeshipLocation, false, new { id = "location-type-different-location", aria_controls = "location-type-different-location-panel" })
                        No, I need to add a different location
                    </label>
                </div>
                <div id="location-type-main-location-panel" class="toggle-content blocklabel-content location">
                    @{
                        var className = "form-group";
                        if (ViewData.ModelState.Keys.Contains("NumberOfPositions"))
                        {
                            className += " input-validation-error";
                        }
                    }
                    <div class="@className">
                        <h4 class="bold-small">If this is the vacancy location, how many positions will be available?</h4>
                        <input name="NumberOfPositions" class="form-control-small form-control" id="NumberOfPositions" maxlength="5" size="12" type="text"> positions
                        @Html.ValidationMessage("NumberOfPositions")
                    </div>
                    @Html.EditorFor(m => m.NumberOfPositionsComment, "Comment", Html.GetLabelFor(m => m.NumberOfPositionsComment))
                </div>
            </div>
        </noscript>
    </div>

    <div class="grid grid-1-1">
        @Html.FormTextFor(model => model.WebsiteUrl, controlHtmlAttributes: new { type = "text", @class = "form-control-1-1" }, labelHtmlAttributes: new { @class = "bold-small" })
        @Html.EditorFor(m => m.WebsiteUrlComment, "Comment", Html.GetLabelFor(m => m.WebsiteUrlComment))
        @Html.FormTextAreaFor(m => m.Description, controlHtmlAttributes: new {@class = "width-all-1-1", type = "text", size = 12, style = "height: 200px;"}, labelHtmlAttributes: new {@class = "bold-small"})
        @Html.EditorFor(m => m.DescriptionComment, "Comment", Html.GetLabelFor(m => m.DescriptionComment))
    </div>
</div>