@model VacancyViewModel

@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Infrastructure.Presentation
@using SFA.Apprenticeships.Web.Raa.Common.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using HtmlExtensions = SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions

@{
    var editableItemClass = Model.IsEditable ? "editable-item" : "";
}

<section class="grid-row">
    <div class="column-two-thirds">
        <h1 id="heading" class="heading-xlarge">
            @if (Model.VacancyType == VacancyType.Traineeship)
            {
                <span>Opportunity preview</span>
            }
            else
            {
                <span>Vacancy preview</span>
            }
        </h1>
    </div>
    <div class="column-one-third"> 
        <ul class="list sfa-align-right-tablet sfa-xlarge-top-margin">
            @if (Model.Mode == VacancyViewModel.BulkUploadMode)
            {
                @Html.Partial("DisplayTemplates/_BulkUploadVacancyLinks", new VacancyLinksViewModel(Model.VacancyReferenceNumber, Model.Status, Model.ApplicationCount, Model.VacancyType, Model.ApplicationPendingDecisionCount, Model.FurtherVacancyDetailsViewModel.Wage))
            }
            else
            {
                
                @Html.Partial(ContactDetailsAndVacancyHistoryViewModel.PartialView, Model.ContactDetailsAndVacancyHistory ?? ContactDetailsAndVacancyHistoryViewModel.EmptyContactDetailsAndVacancyHistory)
                
                @Html.Partial(VacancyLinksViewModel.PartialView, new VacancyLinksViewModel(Model.VacancyReferenceNumber, Model.Status, Model.ApplicationCount, Model.VacancyType, Model.ApplicationPendingDecisionCount, Model.FurtherVacancyDetailsViewModel.Wage))
            }
        </ul>
    </div>
</section>
<section class="grid-row">
    <div class="column-two-thirds">
        <div class="@editableItemClass">
            <h1 class="heading-xlarge" id="vacancy-title" itemprop="title">
                @HtmlExtensions.EscapeHtmlEncoding(Html, Model.VacancyType.GetTitle(Model.NewVacancyViewModel.Title))
                @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.NewVacancyViewModel.Title, Model.NewVacancyViewModel.TitleComment, Model.BasicDetailsLink))
                <span class="heading-secondary " id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">@Model.NewVacancyViewModel.VacancyOwnerRelationship.Employer.FullName</span>
            </h1>
            @if (Model.IsManageReviewerView && Model.NewVacancyViewModel.VacancyOwnerRelationship.IsAnonymousEmployer != null
            && Model.NewVacancyViewModel.VacancyOwnerRelationship.IsAnonymousEmployer.Value)
            {
                <p class="secondary-text" id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">@Model.NewVacancyViewModel.VacancyOwnerRelationship.Employer.FullName (@Model.NewVacancyViewModel.VacancyOwnerRelationship.OriginalFullName - Set as Anonymous)</p>
            }                
            @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.NewVacancyViewModel.Title, Model.BasicDetailsLink, Model.NewVacancyViewModel.TitleComment))
        </div>
    </div>
</section>
<section class="grid-row">
        <div class="column-two-thirds">
                <div class="@editableItemClass">
                    <h3 class="heading-small sfa-no-top-margin">
                        @if (Model.VacancyType == VacancyType.Traineeship)
                        {
                            <span>Summary</span>
                        }
                        else
                        {
                            <span>Brief overview of the role</span>
                        }
                        @Html.Partial(CommentViewModel.PartialIconView, Html.GetCommentViewModel(Model, m => m.NewVacancyViewModel.ShortDescription, Model.NewVacancyViewModel.ShortDescriptionComment, Model.BasicDetailsLink))
                    </h3>
                    <div  itemprop="description">
                        <p id="vacancy-description" class="@Model.NewVacancyViewModel.ShortDescription.GetPreserveFormattingCssClass()">@(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.NewVacancyViewModel.ShortDescription))</p>
                        @Html.Partial(ApplicationsLinkViewModel.PartialView, new ApplicationsLinkViewModel(Model.VacancyType, Model.VacancyReferenceNumber, Model.ApplicationCount))
                    </div>
                    @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.NewVacancyViewModel.ShortDescription, Model.BasicDetailsLink, Model.NewVacancyViewModel.ShortDescriptionComment))
                </div>
        </div>
        <div class="column-one-third">
            <div class="@editableItemClass">
                <h3 class="heading-small sfa-no-top-margin">
                    Closing date
                    @Html.Partial(ValidationResultViewModel.PartialView, Html.GetValidationResultViewModel(Model, m => m.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.ClosingDate, ViewData.ModelState, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.ClosingDateComment))
                </h3>
                <p id="vacancy-closing-date">@Model.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.ClosingDate.Date.ToFriendlyClosingToday()</p>
                @Html.Partial(EditLinkViewModel.PartialView, Html.GetEditLinkViewModel(Model, m => m.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.ClosingDate, Model.SummaryLink, Model.FurtherVacancyDetailsViewModel.VacancyDatesViewModel.ClosingDateComment))
            </div>
        </div>
</section>