@using System.Diagnostics
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Apprenticeship.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Candidate Application Feedback";
}

<div class="grid-row">
    <section class="grid-row column-two-thirds">
        <div class="inner-block-padr">
            <h1 class="heading-xlarge">Your feedback (@Model.ApplicantDetails.Name)</h1>
            @if (!string.IsNullOrWhiteSpace(Model.UnSuccessfulReason))
            {
                <div class="form-group">
                    <div class="detail-content qa-comment">
                        <div class="blocklabel-single-container">@Model.UnSuccessfulReason</div>
                        <br />
                        <span class="form-prepopped font-xsmall">
                            Sent
                            @{
                                Debug.Assert(Model.UnsuccessfulDateTime != null, "Model.UnsuccessfulDateTime != null");
                            }
                            @Model.UnsuccessfulDateTime.Value.ToString("dd MMM yyyy")
                        </span>
                    </div>
                </div>
            }
            <h2 class="heading-large">Next steps</h2>
            <p>If you require further information please contact the training provider.</p>
            <p>
                For advice on how to ensure your application has a better chance of being
                successful <a href="@Model.NextStepsUrl">see the next steps page</a>.
            </p>
            <br />
            <br />
            @Html.RouteLink("Return to my applications", ManagementRouteNames.ViewCandidate, new { id = Model.ApplicantDetails.CandidateId }, new { @class = "button" })
        </div>
    </section>
    <section class="grid-row column-one-third gov-border grey-background">
        <br />
        <div class="inner-block">
            <div class="hgroup-small">
                <h2 class="heading-small">@Model.Vacancy.Title</h2>
                <p class="subtitle">@Model.Vacancy.EmployerName</p>
                <br />
                <p>
                    @Html.RouteLink("View my application", ManagementRouteNames.ViewCandidateApprenticeshipApplication, new { applicationId = Model.ApplicationSelection.ApplicationId })
                </p>
            </div>
        </div>
    </section>
</div>

