@using SFA.Apprenticeships.Domain.Entities.Applications
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Traineeship.TraineeshipApplicationViewModel

@{
    ViewBag.Title = "Candidate application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your application<br />(@Model.ApplicantDetails.Name)</h1>
    </div>
    <div class="column-one-third sfa-xlarge-top-margin sfa-align-right-tablet">
        <ul class="list">
            <li class="hide-nojs">
                <a class="print-trigger" href=""><i class="fa fa-print"></i>Print this page</a>
            </li>
        </ul>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup-medium">
            <h2 class="heading-medium" id="vacancy-title">@Model.Vacancy.Title</h2>
            <p class="heading-secondary " id="vacancy-employer">@Model.Vacancy.EmployerName</p>
        </div>
        <p class="text" id="vacancy-summary">@Model.Vacancy.ShortDescription</p>
    </div>
    <div class="column-one-third para-btm-margin">
        @if (Model.Status == ApplicationStatuses.Draft)
        {
            <p class="sfa-small-bottom-margin">This is a draft application.</p>
        }
        else
        {
            <p class="sfa-small-bottom-margin">This is a submitted application.</p>
        }
        <p class="sfa-small-bottom-margin">
            @if (Model.Status == ApplicationStatuses.Draft)
            {
                <span>Draft created on @Html.DisplayFor(m => m.DateCreated, "Date").</span>
            }
            else
            {
                <span>Candidate applied on @Html.DisplayFor(m => m.DateApplied, "Date").</span>
            }
            @if (Model.Status == ApplicationStatuses.Successful)
            {
                <span class="inl-block">This application was successful.</span>
            }
            else if (Model.Status == ApplicationStatuses.Unsuccessful)
            {
                <span class="inl-block">This application was unsuccessful.</span>
            }
            else if (Model.Status == ApplicationStatuses.ExpiredOrWithdrawn)
            {
                <span class="inl-block">This apprenticeship expired or was withdrawn.</span>
            }
        </p>
        <p class="hide-print">
            @Html.RouteLink("Return to candidate's applications", ManagementRouteNames.ViewCandidate, new { id = Model.ApplicantDetails.CandidateId }, new { @class = "inl-block" })
            @Html.RouteLink("View vacancy", ManagementRouteNames.ViewCandidateTraineeshipVacancy, new { vacancyId = Model.Vacancy.VacancyReferenceNumber, applicationId = Model.ApplicationSelection.ApplicationId }, new { @class = "inl-block" })
        </p>
    </div>
</div>

@Html.DisplayFor(m => m.ApplicantDetails, "ApplicantDetails")
@Html.DisplayFor(m => m.Qualifications, QualificationViewModel.PartialView)
@Html.DisplayFor(m => m.WorkExperience, WorkExperienceViewModel.PartialView)
@Html.DisplayFor(m => m.TrainingCourses, TrainingCourseViewModel.PartialView)
@Html.DisplayFor(m => m.AboutYou, AboutYouViewModel.PartialView)

<section class="sfa-section-bordered">
    <h2 class="heading-large">
        Additional questions
    </h2>
    @Html.DisplayFor(m => m, "Application/EmployerQuestionAnswers")
    @Html.DisplayFor(m => m, "Application/MonitoringInformation")
</section>
