@using SFA.Apprenticeships.Web.Candidate.Attributes
@using SFA.Apprenticeships.Web.Candidate.Controllers
@using SFA.Apprenticeships.Web.Common.Framework

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js not-ie8">
<!--<![endif]-->
<head>
    @if (ViewBag.EnableGoogleTagManager)
    {
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@ViewBag.GoogleContainerId');</script>
        <!-- End Google Tag Manager -->
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="We’ve introduced a new way to find and apply for an apprenticeship in England.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="DCSext.Authenticated" content="@(Request.IsAuthenticated ? "Yes" : "No")" />
    @if (ViewBag.ShouldRobotsIndexPage)
    {
        <meta name="ROBOTS" content="NOFOLLOW">
    }
    else
    {
        <meta name="ROBOTS" content="NOFOLLOW,NOINDEX">
    }
    @RenderSection("metatags", false)
    <!--[if gt IE 8]><!-->@Styles.Render("~/Content/_assets/styles/not-ie8")<!--<![endif]-->
    <!--[if lte IE 8]>@Styles.Render("~/Content/_assets/styles/ie8")<![endif]-->

    <link rel="shortcut icon" href="@Url.CdnImage("favicon.ico")" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@Url.CdnImage("apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@Url.CdnImage("apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@Url.CdnImage("apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.CdnImage("apple-touch-icon-60x60.png")">

    @Styles.Render("~/bundles/font-awesome")

    @if (ViewBag.EnableAppInsights)
    {
        <script type="text/javascript">
            var appInsights = window.appInsights || function (config) {
                function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
            }({
                instrumentationKey: "@ViewBag.AppInsightsInstrumentationKey"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>
    }
    @Html.Partial("_Scripts")
</head>
<body>

    @if (ViewBag.EnableGoogleTagManager)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="@("https://www.googletagmanager.com/ns.html?id=" + ViewBag.GoogleContainerId)"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>

    @if (ViewBag.ShowEuCookieDirective == true)
    {
        <div id="global-cookie-message">
            <p>GOV.UK uses cookies to make the site simpler. <a href='@Url.RouteUrl(CandidateRouteNames.Privacy)'>Find out more about cookies</a></p>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.PlannedOutageMessage))
    {
        <div id="planned-outage-message" class="sfa-maintenance-banner">
            <p>@Html.Raw(ViewBag.PlannedOutageMessage)</p>
            <a href="@Url.RouteUrl(RouteNames.DismissPlannedOutageMessage, new {isJavascript = false})" class="maintenance-close">
                Dismiss
            </a>
        </div>
    }

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="@Url.Content("~/Content/_assets/img/gov.uk_logotype_crown_invert_trans.png")" width="36" height="32" alt=""> GOV.UK
                    </a>
                </div>

            </div>

            <div class="header-proposition">
                <div class="content">
                    @*<a href="#proposition-links" class="js-header-toggle menu">Menu</a>*@
                    <nav id="proposition-menu">
                        @if (ViewBag.UserJourney == UserJourney.Apprenticeship)
                        {
                            <a id="proposition-name" href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipSearch)">Find an apprenticeship</a>
                        }
                        else if (ViewBag.UserJourney == UserJourney.Traineeship)
                        {
                            <a id="proposition-name" href="@Url.RouteUrl(CandidateRouteNames.TraineeshipSearch)">Find a traineeship</a>
                        }
                        @*<ul id="proposition-links">
                            <li><a href="https://www.gov.uk/service-manual/digital-by-default">Digital by Default Service Standard</a></li>
                                <li><a href="https://www.gov.uk/service-manual/start">Start using the manual</a></li>
                                <li><a href="https://www.gov.uk/contact/govuk">Feedback</a></li>
                        </ul>*@
                    </nav>
                </div>
            </div>


        </div>
    </header>

    <div id="global-header-bar"></div>

    <div id="content" role="main" tabindex="-1">
        <main id="main">
    <div class="sfa-navigation-wrapper">
        <div class="grid-row">
            <div class="column-one-half sfa-navigation">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

                @{
                    var controller = ViewContext.Controller as CandidateControllerBase;

                    if (controller != null)
                    {
                        var infoMessage = controller.UserData.Pop(UserMessageConstants.InfoMessage);
                        var successMessage = controller.UserData.Pop(UserMessageConstants.SuccessMessage);
                        var warningMessage = controller.UserData.Pop(UserMessageConstants.WarningMessage);
                        var errorMessage = controller.UserData.Pop(UserMessageConstants.ErrorMessage);
                        if (errorMessage != null)
                        {
                                <div class="grid-row">
                                    <div class="column-two-thirds">
                                        <div class='error-summary' role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                                            <p id="ErrorMessageText">@Html.Raw(errorMessage)</p>
                                        </div>
                                    </div>
                                </div>
                                }
                                if (warningMessage != null)
                                {
                                <div class="grid-row">
                                    <div class="column-two-thirds">
                                        <div class="warning-summary" role="group" aria-labelledby="WarningMessageText" tabindex="-1">
                                            <p id="WarningMessageText">@Html.Raw(warningMessage)</p>
                                        </div>
                                    </div>
                                </div>
                                }
                                if (successMessage != null)
                                {
                                <div class="grid-row">
                                    <div class="column-two-thirds">
                                        <div class="success-summary" role="group" aria-labelledby="SuccessMessageText" tabindex="-1">
                                            <p id="SuccessMessageText">@Html.Raw(successMessage)</p>
                                        </div>
                                    </div>
                                </div>
                                }
                                if (infoMessage != null)
                                {
                                <div class="grid-row">
                                    <div class="column-two-thirds">
                                        <div class="info-summary" role="group" aria-labelledby="InfoMessageText" tabindex="-1">
                                            <p id="InfoMessageText">@Html.Raw(infoMessage)</p>
                                        </div>
                                    </div>
                                </div>
                                }
                                }
                                }


                                @RenderBody()
</main>

        @if (ViewBag.EnableWebTrends == true)
        {
            <noscript>
                <img alt="dcsimg" id="dcsimg" width="1" height="1" src="//stats.matraxis.net/@ViewBag.WebTrendsDscId/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.11&amp;WT.dl=0&amp;dcssip=@ViewBag.WebTrendsDomainName" />
            </noscript>
        }
    </div>
    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            @*<div class="footer-categories">
                    <div class="footer-explore">
                        <h2>Services and information</h2>

                        <ul>
                            <li><a href="/browse/benefits">Benefits</a></li>
                            <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
                            <li><a href="/browse/business">Business and self-employed</a></li>
                            <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
                            <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
                            <li><a href="/browse/justice">Crime, justice and the law</a></li>
                            <li><a href="/browse/disabilities">Disabled people</a></li>
                            <li><a href="/browse/driving">Driving and transport</a></li>
                        </ul>
                        <ul>
                            <li><a href="/browse/education">Education and learning</a></li>
                            <li><a href="/browse/employing-people">Employing people</a></li>
                            <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
                            <li><a href="/browse/housing-local-services">Housing and local services</a></li>
                            <li><a href="/browse/tax">Money and tax</a></li>
                            <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
                            <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
                            <li><a href="/browse/working">Working, jobs and pensions</a></li>
                        </ul>
                    </div>

                    <div class="footer-inside-government">
                        <h2>Departments and policy</h2>

                        <ul>
                            <li><a href="/government/how-government-works">How government works</a></li>
                            <li><a href="/government/organisations">Departments</a></li>
                            <li><a href="/government/world">Worldwide</a></li>
                            <li><a href="/government/policies">Policies</a></li>
                            <li><a href="/government/publications">Publications</a></li>
                            <li><a href="/government/announcements">Announcements</a></li>
                        </ul>
                    </div>
                    <hr>
                </div>*@

            <!-- FIND - DELETE -->
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <h2 class="visuallyhidden">Support links</h2>
                    <ul>
                        <li><a href="@Url.RouteUrl(CandidateRouteNames.Feedback)"">Give feedback</a></li>
                        <li><a href="@Url.RouteUrl(CandidateRouteNames.Helpdesk)">Contact</a></li>
                        <li><a href="@Url.RouteUrl(CandidateRouteNames.Privacy)">Privacy and cookies</a></li>
                        <li><a href="@Url.RouteUrl(CandidateRouteNames.Terms)">Terms and conditions</a></li>
                        <li>
                            Built by the <a href="https://www.gov.uk/sfa">Skills Funding Agency</a>
                        </li>
                    </ul>



                    <div class="open-government-licence">
                        <p class="logo">
                            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                        </p>
                        <p>
                            All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                        </p>
                    </div>
                </div>

                <div class="copyright">
                    <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                </div>

                @Html.Partial("_AboutDisguised")
            </div>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fastclick")
    @Scripts.Render("~/bundles/underscore")

    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            var e = document.createElement("script");

            e.src = '@Url.Content("~/Content/_assets/js/vendor/jquery-1.11.1.js")';
            e.type = "text/javascript";
            document.getElementsByTagName("head")[0].appendChild(e);
        }

        $(function () {
            $("#dismiss-planned-outage-message")
                .click(function (event) {

                    event.preventDefault();

                    var request = $.ajax({
                        type: "GET",
                        url: '@Url.RouteUrl(RouteNames.DismissPlannedOutageMessage, new {isJavascript = true})'
                    });

                    request.done(function () {

                        $("#planned-outage-message").hide();

                    });
                });

            @if (ViewBag.SavedAndDraftCount != null)
        {
            @:UpdateSavedAndDraftCount(@ViewBag.SavedAndDraftCount);
                                                                                                        }

            @if (ViewBag.ApplicationStatusChangeCount != null)
        {
            @:UpdateApplicationStatusChangeCount(@ViewBag.ApplicationStatusChangeCount);
                                                                                                        }
        });
    </script>

    @Scripts.Render("~/bundles/nascript")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/nas")
    @RenderSection("scripts", required: false)

</body>
</html>
