@model SFA.Apprenticeships.Web.Common.ViewModels.Locations.AddressViewModel

<div id="address-lookup" class="hide-nojs">
    <div class="form-group form-group-compound" id="addressInputWrapper">
        <label for="postcode-search" class="form-label">Enter your postcode or start typing address</label>
        <input id="postcode-search" type="text" class="form-control form-control-1-3" spellcheck="false" autocorrect="off">
        <span class="visuallyhidden" id="ariaAddressEntered" aria-live="polite"></span>
    </div>
    <div id="address-manual" class="form-group form-group-compound">
        <a href="#" class="copy-19" id="enterAddressManually">Or enter address manually</a>
        <span class="toggle-content hide-nojs loading-text" id="addressLoading">Loading address...</span>
        <span style="color: red" id="postcodeServiceUnavailable" class="copy-19 toggle-content hide-nojs text">Service is currently unavailable, enter address manually</span>
    </div>
</div>

<div id="addressManualWrapper">
    <div id="address-details" class="address-manual-input">
        @Html.FormTextFor(m => m.AddressLine1, containerHtmlAttributes: new { @class = "form-group-compound address-item" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" })
        @Html.FormTextFor(m => m.AddressLine2, containerHtmlAttributes: new { @class = "form-group-compound address-item" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" }, labelHtmlAttributes: new { @class = "visuallyhidden" })
        @Html.FormTextFor(m => m.AddressLine3, containerHtmlAttributes: new { @class = "form-group-compound address-item" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" }, labelHtmlAttributes: new { @class = "visuallyhidden" })
        @Html.FormTextFor(m => m.AddressLine4, containerHtmlAttributes: new { @class = "form-group-compound address-item" }, controlHtmlAttributes: new { type = "text", autocorrect = "off" }, labelHtmlAttributes: new { @class = "visuallyhidden" })
        @Html.FormTextFor(m => m.Postcode, containerHtmlAttributes: new { @class = "address-item" }, controlHtmlAttributes: new { @class = "form-control-large", type = "text", autocapitalize = "characters", autocorrect = "off" })
        @Html.HiddenFor(m => m.Uprn)
        @Html.HiddenFor(m => m.GeoPoint.Latitude)
        @Html.HiddenFor(m => m.GeoPoint.Longitude)
    </div>
</div>

