@model  SFA.Apprenticeships.Web.Common.ViewModels.Applications.ApprenticeshipApplicationViewModel

<noscript>
    <fieldset class="fieldset-with-border" id="applyTrainingCourses">
        <legend class="heading-large">Training courses</legend>
        <div class="clearfix">
            <div>
                @for (var i = 0; i < Model.Candidate.TrainingCourses.Count() + Model.DefaultTrainingCourseRows; i++)
                {
                    if (i < Model.Candidate.TrainingCourses.Count())
                    {
                        <div id="training-history-item" class="grid-wrapper training-history-item">
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Training course</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-compound inline-float width-all-49">
                                                    <span class="cell-span">Provider</span>
                                                    @Html.TextBoxFor(m => Model.Candidate.TrainingCourses.ToList()[i].Provider, new { @id = "candidate_trainingcourses_" + i + "__provider", Name = "Candidate.TrainingCourses[" + i + "].Provider", @class = "form-control", @maxlength = 50 })
                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].Provider")
                                                </div>
                                                <div class="form-group form-group-compound inline-float width-all-49 no-right-margin">
                                                    <span class="cell-span">Course Title</span>
                                                    @Html.TextBoxFor(m => Model.Candidate.TrainingCourses.ToList()[i].Title, new { @id = "candidate_trainingcourses_" + i + "__title", Name = "Candidate.TrainingCourses[" + i + "].Title", @class = "form-control", @maxlength = 50 })
                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].Title")
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <colgroup>
                                        <col class="t30">
                                        <col class="t30">
                                        <col class="t25">
                                        <col class="t15">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">From</span>
                                            </th>
                                            <th>
                                                <span class="heading-span">To</span>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="cell-span">From</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownListFor(m => Model.Candidate.TrainingCourses.ToList()[i].FromMonth, new SelectList(Model.Months, "Value", "Text", Model.Candidate.TrainingCourses.ToList()[i].FromMonth), new { @id = "candidate_trainingcourses_" + i + "__frommonth", Name = "Candidate.TrainingCourses[" + i + "].FromMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBoxFor(m => Model.Candidate.TrainingCourses.ToList()[i].FromYear, new { @id = "candidate_trainingcourses_" + i + "__fromyear", Name = "Candidate.TrainingCourses[" + i + "].FromYear", @class = "form-control", @maxlength = 4 })

                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].FromYear")
                                                </div>
                                            </td>
                                            <td>
                                                <span class="cell-span">To</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownListFor(m => Model.Candidate.TrainingCourses.ToList()[i].ToMonth, new SelectList(Model.Months, "Value", "Text", Model.Candidate.TrainingCourses.ToList()[i].ToMonth), new { @id = "candidate_trainingcourses_" + i + "__tomonth", Name = "Candidate.TrainingCourses[" + i + "].ToMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBoxFor(m => Model.Candidate.TrainingCourses.ToList()[i].ToYear, new { @id = "candidate_trainingcourses_" + i + "__toyear", Name = "Candidate.TrainingCourses[" + i + "].ToYear", @class = "form-control", @maxlength = 4 })

                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].ToYear")
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="training-history-item" class="grid-wrapper training-history-item">
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Training course</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-compound inline-float width-all-49">
                                                    <span class="cell-span">Provider</span>
                                                    @Html.TextBox("Candidate.TrainingCourses[" + i + "].Provider", "", new { @id = "candidate_trainingcourses_" + i + "__provider", Name = "Candidate.TrainingCourses[" + i + "].Provider", @class = "form-control", @maxlength = 50 })
                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].Provider")
                                                </div>
                                                <div class="form-group form-group-compound inline-float width-all-49 no-right-margin">
                                                    <span class="cell-span">Course Title</span>
                                                    @Html.TextBox("Candidate.TrainingCourses[" + i + "].Title", "", new { @id = "candidate_trainingcourses_" + i + "__title", Name = "Candidate.TrainingCourses[" + i + "].Title", @class = "form-control", @maxlength = 50 })
                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].Title")
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="grid grid-1-2">
                                <table class="table-no-btm-border table-compound">
                                    <colgroup>
                                        <col class="t30">
                                        <col class="t30">
                                        <col class="t25">
                                        <col class="t15">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">From</span>
                                            </th>
                                            <th>
                                                <span class="heading-span">To</span>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="cell-span">From</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownList("Candidate.TrainingCourses[" + i + "].FromMonth", new SelectList(Model.Months, "Value", "Text", 1), new { @id = "candidate_trainingcourses_" + i + "__frommonth", Name = "Candidate.TrainingCourses[" + i + "].FromMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBox("Candidate.TrainingCourses[" + i + "].FromYear", "", new { @id = "candidate_trainingcourses_" + i + "__fromyear", Name = "Candidate.TrainingCourses[" + i + "].FromYear", @class = "form-control", @maxlength = 4 })
                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].FromYear")
                                                </div>
                                            </td>
                                            <td>
                                                <span class="cell-span">To</span>
                                                <div class="form-group form-group-compound">
                                                    @Html.DropDownList("Candidate.TrainingCourses[" + i + "].ToMonth", new SelectList(Model.Months, "Value", "Text", 1), new { @id = "candidate_trainingcourses_" + i + "__tomonth", Name = "Candidate.TrainingCourses[" + i + "].ToMonth" })

                                                </div>
                                                <div class="form-group form-group-compound">
                                                    @Html.TextBox("Candidate.TrainingCourses[" + i + "].ToYear", "", new { @id = "candidate_trainingcourses_" + i + "__toyear", Name = "Candidate.TrainingCourses[" + i + "].ToYear", @class = "form-control", @maxlength = 4 })
                                                    @Html.ValidationMessage("Candidate.TrainingCourses[" + i + "].ToYear")
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    <button id="add-training-history-rows-button" class="button" type="submit" name="ApplicationAction" value="AddEmptyTrainingCourseRows">Add 1 more training course</button>
                </div>
            </div>
        </div>
    </fieldset>
</noscript>