@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "Application form - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("ValidationSummary", ViewData.ModelState)

@if (Model.DateUpdated.HasValue)
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="info-summary" role="group" aria-labelledby="applicationSavedTopMessage" tabindex="-1">
                <p id="applicationSavedTopMessage">Last saved at @Html.DisplayFor(m => m.DateUpdated.Value, "DateTimeSaved") to <a href="@Url.RouteUrl(CandidateRouteNames.MyApplications)" title="My Applications">my applications</a></p>
            </div>
        </div>
    </div>
}

<noscript>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="warning-summary" role="group" aria-labelledby="warning-header" tabindex="-1">
                <h2 id="warning-header" class="heading-large">Save your application regularly</h2>
                <p>For security reasons you'll be signed out after 60 minutes.</p>
                <p>Save your application after you complete each section to ensure you don't lose any of your application.</p>
            </div>
        </div>
    </div>
</noscript>

@using (Html.BeginForm(null, "ApprenticeshipApplication", new { id = Model.VacancyId }, FormMethod.Post, new { id = "application-form", autocomplete = "off" }))
{
    <button class="button hide-button" type="submit" name="ApplicationAction" value="Apply" tabindex="-1">Apply</button>
    @Html.AntiForgeryToken()

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge" id="appTourStart">Application form</h1>
        </div>
        <div class="column-one-third sfa-align-right-tablet sfa-xlarge-top-margin ">
            <div class="hide-nojs">
                <a href="#" id="runApplyTour"><i class="fa fa-question-circle"></i>How to apply for an apprenticeship</a>
                <p>(interactive walkthrough)</p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <section>
                    @Html.HiddenFor(m => m.VacancyDetail.Title)
                    @Html.HiddenFor(m => m.VacancyDetail.EmployerName)
                    <h2 class="heading-large" id="vacancy-title">@Model.VacancyDetail.Title
                        <span class="heading-secondary " id="vacancy-employer">@Model.VacancyDetail.EmployerName</span>
                    </h2>
                    @Html.HiddenFor(m => m.VacancyDetail.Description)
                    <p id="vacancy-summary" class="@Model.VacancyDetail.Description.GetPreserveFormattingCssClass()">@Model.VacancyDetail.Description</p>
                    <p id="appTourSummary">
                        <a href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipDetails, new { id = Model.VacancyId })">View apprenticeship</a>
                    </p>
            </section>
        </div>
    </div>

            @Html.DisplayFor(m => m.Candidate)
            @Html.EditorFor(m => m.Candidate.Education)
            @Html.HiddenFor(m => m.VacancyId)
            @Html.HiddenFor(m => m.IsJavascript, new { @id = "hidden-flag-javascript" })

            Html.RenderPartial("_qualificationsJS", Model);
            Html.RenderPartial("_qualificationsNonJS", Model);

            Html.RenderPartial("_workExperiencesJS", Model);
            Html.RenderPartial("_workExperiencesNonJS", Model);

            Html.RenderPartial("_trainingCoursesJS", Model);
            Html.RenderPartial("_trainingCoursesNonJS", Model);

            @Html.EditorFor(m => m.Candidate.AboutYou)
            @Html.EditorFor(m => m.Candidate.EmployerQuestionAnswers)
            @Html.EditorFor(m => m.Candidate.MonitoringInformation, "MonitoringInformation/_disability")

            <div class="form-group">
                @*The buttons below need the values so the controller knows what action to perform if restyling*@
                <button id="apply-button" type="submit" name="ApplicationAction" class="button no-check-for-dirty-form" value="Apply">Save and continue</button>
                <div class="panel-danger toggle-content hide-nojs" id="unsavedChanges">
                    <div class="text toggle-content hide-nojs" id="unsavedQuals">
                        <p>You've still got <a href="#qualifications-panel">unsaved qualifications</a>. Make sure you click "Save this qualification" after entering each one.</p>
                    </div>
                    <div class="text toggle-content hide-nojs" id="unsavedWorkExp">
                        <p>You've still got <a href="#workexperience-panel">unsaved work experience</a>. Make sure you click "Save this work experience" after entering each one.</p>
                    </div>
                    <div class="text toggle-content hide-nojs" id="unsavedTrainingCourse">
                        <p>You've still got an <a href="#training-history-panel">unsaved training course</a>. Make sure you click "Save this training course" after entering each one.</p>
                    </div>
                </div>
                <p id="saveApplication">
                    <button id="save-button" type="submit" name="ApplicationAction" class="button sfa-button-secondary no-check-for-dirty-form cancel" value="Save" onclick='Webtrends.multiTrack({ element: this, argsa: ["DCS.dcsuri", "/apprenticeship/apply/savedraft/@Model.VacancyId", "WT.dl", "99", "WT.ti", "Apprenticeship – Save Draft Form"] });'>Save</button>
                </p>
                @if (Model.DateUpdated.HasValue)
                {
                    <p class="autosave" id="applicationSaved">Last saved at @Html.DisplayFor(m => m.DateUpdated.Value, "DateTimeSaved") to <a href="@Url.RouteUrl(CandidateRouteNames.MyApplications)" title="My Applications">my applications</a></p>
                }
            </div>
}

<div class="sfa-saving-prompt toggle-content hide-nojs" id="savedNotification">
    Saved
</div>

<ol id="appFormTour" class="sfa-hide">
    <li data-id="appTourStart" data-next-button="Start tour">
        <div aria-live="polite">
            <p>
                The following tips are taken from <a href="https://nationalcareersservice.direct.gov.uk/advice/courses/typesoflearning/Pages/apprenticeship-application-help.aspx"
                                                     target="_blank">this page on the NCS website</a>.
            </p>
        </div>
    </li>
    <li data-id="appTourStart">
        <div aria-live="polite">
            <p class="sfa-small-bottom-margin">
                Before you start your application, print off a copy of anything that
                might help you, such as:
            </p>
            <ul class="list list-bullet">
                <li>your curriculum vitae (CV)</li>
                <li>any practice application forms you have completed</li>
                <li>personal statement</li>
                <li>achievement portfolio</li>
                <li>copies of certificates.</li>
            </ul>
        </div>
    </li>
    <li data-id="appTourSummary">
        <div aria-live="polite">
            <p>
                This is the summary of the apprenticeship you're applying for, clicking
                this link will take you to the details page for the apprenticeship.
            </p>
            <p>
                You could also print the apprenticeship details page, so that you can
                refer to it during your application.
            </p>
        </div>
    </li>
    <li data-class="school-name">
        <div aria-live="polite">
            <p>If you're currently at school/college, then enter the name of this one.</p>
        </div>
    </li>
    <li data-id="appTourQuals">
        <div aria-live="polite">
            <p>
                Make sure you read the "skills and qualifications required" area of the
                apprenticeship details. Enter any qualifications that you've got, or
                are predicted to get.
            </p>
        </div>
    </li>
    <li data-id="appTourWork">
        <div aria-live="polite">
            <p>
                Enter as many different positions that you've had, including your main
                duties. Make sure to mention any skills that are similar to those listed
                in the "skills and qualifications required" area.
            </p>
            <p>The main duties section is limited to 200 characters, so keep these brief.</p>
        </div>
    </li>
    <li data-id="appTourTraining">
        <div aria-live="polite">
            <p>Here you're able to add any training courses that you've been on, these might be courses that you've been on through work, or something you've paid for yourself.</p>
        </div>
    </li>
    <li data-id="appTourAbout">
        <div aria-live="polite">
            <p>
                This section is one of the most important parts of the application form,
                and it will help you to get through to interview.
            </p>
            <p>
                You need to be prepared to put in a lot of work to get this section looking
                really good.
            </p>
        </div>
    </li>
    <li data-class="appTourStrengths">
        <div aria-live="polite">
            <p>
                It’s got to be punchy, easy to read, and make the employer want to read
                more. If you’re not sure what to write, ask a friend or teacher to
                list your three best qualities.
            </p>
            <p>
                Remember to give examples of your strengths. For example, if the employer
                asks for ‘good communication skills’ you need to tell them you have
                ‘good communication skills’ and back this up with evidence of when
                you used these skills.
            </p>
            <p>You've got 4000 characters here, so don't be afraid to go into detail.</p>
        </div>
    </li>
    <li data-class="appTourSkills">
        <div aria-live="polite">
            <p>
                In this section you only need to write a good paragraph or a few sentences
                that answers the question. Try to do it in a clever way and link it
                directly to the job you’re applying for.
            </p>
            <p>
                For example, if you were going for a job in hairdressing you could say
                something like this:
            </p>
            <p>
                ‘I would like to improve my knowledge of the latest cutting and colouring
                techniques being used within the fashion industry and how these could
                be adapted to suit high street fashion trends.’
            </p>
        </div>
    </li>
    <li data-class="appTourHobbies">
        <div aria-live="polite">
            <p>
                When choosing which personal interests to put on your application, advisers
                can help you to choose things that show a different side to your personality
                than your job skills. This shows employers that you’re a well-rounded
                person.
            </p>
            <p>
                We know this section can be hard to fill in, as many people are modest
                about their achievements outside of work and school. In fact, many
                people don’t see their activities as ‘interests’ at all.
            </p>
            <p>
                An adviser can talk to you about what you like to do in your spare time,
                and can help you to pick out things that will impress employers.
            </p>
        </div>
    </li>
    <li data-id="appTourAdditional1">
        <div aria-live="polite">
            <p>
                These additional questions are important, think carefully about how you
                answer them and make sure you tailor your answer to the employer's
                requirements.
            </p>
        </div>
    </li>
    <li data-id="apply-button">
        <div aria-live="polite">
            <p>
                Once you're happy with your application, continue to the next page where
                you can read through your answers and finally submit your application.
            </p>
            <p>
                Employers will be impressed if your application seems carefully considered,
                and like you’ve made the effort to understand the role and what’s required
                of you.
            </p>
            <p>
                You can create this impression by applying for fewer jobs but taking
                the time to make sure each application is tailored to that organisation
                and role.
            </p>
        </div>
    </li>
    <li data-id="saveApplication">
        <div aria-live="polite">
            <p>
                You can save your application at any time, and pick it up where you left
                off from in "my applications"
            </p>
        </div>
    </li>
    <li data-id="runApplyTour">
        <div aria-live="polite">
            <p>You can start this tour again at any point from your application form.</p>
        </div>
    </li>
    <li class="joyride-withborder" data-id="headerLinkFAA">
        <div aria-live="polite">
            <p>
                Find an apprenticeship to apply for, using some of the tips from this
                tour.
            </p>
        </div>
    </li>
    <li data-id="myapplications-link" data-button="Finish">
        <div aria-live="polite">
            <p>
                If you've got saved applications, try using these tips to tailor your
                application to the apprenticeship you're applying for.
            </p>
        </div>
    </li>
</ol>


@section scripts {

    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">

        var qualificationData = null;
        var workExperienceData = null;
        var trainingCourseData = null;
        var currentYear = null;
        var whitelistregex = null;
        var yearRegex = null;
        var autoSaveTimeout = null;

        $(function() {
            document.getElementById("hidden-flag-javascript").value = "True";

            qualificationData = @Html.Raw(Json.Encode(Model.Candidate.Qualifications));
            workExperienceData = @Html.Raw(Json.Encode(Model.Candidate.WorkExperience));
            trainingCourseData = @Html.Raw(Json.Encode(Model.Candidate.TrainingCourses));

            currentYear = @Html.Raw(Model.CurrentYear);
            whitelistregex = @Html.Raw(Json.Encode(Model.WhiteListRegex));
            yearRegex = @Html.Raw(Json.Encode(Model.FourDigitYearRegex));

            autoSaveTimeout = @Html.Raw(Json.Encode(Model.AutoSaveTimeInMinutes)) * 60 * 1000;

            $(window).on('load', function() {
                dirtyFormDialog.initialise({
                    formSelector: "form",
                    classToExclude: "no-check-for-dirty-form",
                    timeout: @Model.SessionTimeout * 1000,
                    confirmationMessage: '@Model.ConfirmationMessage'
                });
            });

            var shouldShowQualMessage;

            setTimeout(function() {
                shouldShowQualMessage = false;
            }, @Model.SessionTimeout * 1000);

            $(window).on('beforeunload', function (e){
                if(shouldShowQualMessage == false) {
                    return;
                } else {
                    //https://developer.mozilla.org/en-US/docs/Web/Events/beforeunload

                    if ($('#apply-button').hasClass('dirtyQuals') || $('#apply-button').hasClass('dirtyWorkExp')) {
                        (e || window.event).returnValue = '@Model.ConfirmationMessage'; //Gecko + IE
                        return '@Model.ConfirmationMessage'; //Webkit, Safari, Chrome etc.
                    }
                }
                return;
            });

            setTimeout(function() {
                timeout_trigger();
            }, autoSaveTimeout);
        });



        function timeout_reset() {
            setTimeout(function() {
                timeout_trigger();
            }, autoSaveTimeout);
        }

        function timeout_trigger() {

            if (dirtyFormDialog.isFormDirty("form")) {
                Webtrends.multiTrack({ element: this, argsa: ["DCS.dcsuri", "/apprenticeship/apply/autosavedraft/@Model.VacancyId", "WT.dl", "99", "WT.ti", "Apprenticeship – Auto Save Draft Form"] });
                var request = $.ajax({
                    type: "POST",
                    url: '@Url.RouteUrl(CandidateRouteNames.ApprenticeshipAutoSave, new { id = Model.VacancyId })',
                    cache: false,
                    timeout: 30000,
                    data: $("#application-form").serialize()
                });

                request.done(function(result) {

                    if (result.Status == "succeeded") {
                        var savedMessage = 'Last saved at ' + result.DateTimeMessage + ' to ' + '<a href="@Url.RouteUrl(CandidateRouteNames.MyApplications)" title="My Applications">my applications</a>';
                        $("p.autosave").html(savedMessage);

                        $('#savedNotification').show();
                        setTimeout(function() { $("#savedNotification").hide(); }, 5000);

                        dirtyFormDialog.resetDirtyForm({
                            formSelector: "form"
                        });

                        window.resetSessionTimeout();
                    }

                });

                request.fail(function(jqXHR, textStatus, errorThrown) {

                });
            }

            timeout_reset();
        }

        function getCurrentYear() {
            return currentYear;
        }

        function getQualificationData() {
            return qualificationData;
        }

        function getWorkExperienceData() {
            return workExperienceData;
        }

        function getTrainingCourseData() {
            return trainingCourseData;
        }

        function getWhiteListRegex() {
            return whitelistregex;
        }

        function getYearRegex() {
            return yearRegex;
        }

        function getMonthLabel(index) {
            var month = "";

            if (index === 0) {

            } else {
                var mths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
                month = mths[index - 1];
            }

            return month;
        }

    </script>

    @Scripts.Render("~/bundles/nas/application")
    @Scripts.Render("~/bundles/joyride")
    <script>
        $(function () {
            function appTour() {
                $('#appFormTour').joyride({
                    'autoStart': true,
                    'nextButton': true,
                    'prev_button': true,
                    'tipAnimation': 'pop'
                });
            }

            $('#runApplyTour').on('click', function () {
                appTour();

                return false;
            });
        });
    </script>

}