@using SFA.Apprenticeships.Web.Candidate.Extensions
@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.WhatHappensNextApprenticeshipViewModel
@{
    ViewBag.Title = "Apprenticeship application submitted - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="progress-indicator progress-indicator-horizontal">
    <ul>
        <li><span class="hide-tablet">Step </span>1<span class="hide-tablet"> of 3</span>. Application form</li>
        <li><span class="hide-tablet">Step </span>2<span class="hide-tablet"> of 3</span>. Check your application</li>
        <li class="active"><span class="hide-tablet">Step </span>3<span class="hide-tablet"> of 3</span>. Submitted</li>
    </ul>
</div>
<div class="success-banner" role="alert" aria-live="assertive">
    <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>Apprenticeship application submitted</h1>
</div>
<section class="section-border">
    <div class="text">
        <p>
            <i class="fa fa-envelope-o"></i>
            We've sent you an email confirming your <b>@Html.DisplayFor(m => m.VacancyTitle)</b> application.
            You can also <a title="Track the progress of your application" href="@Url.RouteUrl(CandidateRouteNames.MyApplications)">track the progress</a> of your application.
        </p>
        <p>You’ll be contacted if you’ve been selected for the next stage of the application process.</p>
        <details>
            <summary>Contact the provider</summary>
            <div class="detail-content">@Model.ProviderContactInfo</div>
        </details>
    </div>
</section>
<section class="section-border">
    
    @if (Model.SuggestedVacancies == null || !Model.SuggestedVacancies.Any())
    {
        <div class="form-group form-group-compound get-started">
            <a id="find-apprenticeship-btn" role="button" class="button" href='@Url.RouteUrl(CandidateRouteNames.ApprenticeshipSearch)'>Find an apprenticeship</a>
        </div>
    }
    else
    {
        <div class="hgroup-medium text">
            <h2 class="heading-medium">Similar apprenticeships</h2>
            <span class="subtitle">Also in the @Model.SuggestedVacanciesCategory sub-category and within @Model.SuggestedVacanciesSearchDistance miles of @Model.SuggestedVacanciesSearchLocation</span>
        </div>
        <div class="grid-wrapper">
            @for (int i = 0; i < Math.Min(3, Model.SuggestedVacancies.Count()); i++)
            {
                <div class="grid grid-1-3" id="suggested-vacancy-@Model.SuggestedVacancies[i].VacancyId">
                    <div class="inner-block-padr">
                        <h3 class="heading-small"><a href="@Url.RouteUrl(CandidateRouteNames.ApprenticeshipDetails, new { id = Model.SuggestedVacancies[i].VacancyId.ToString() })">@Model.SuggestedVacancies[i].VacancyTitle</a></h3>
                        <p><b>Distance:</b> @Model.SuggestedVacancies[i].Distance miles</p>
                    </div>
                </div>
            }
        </div>
        if (Model.SuggestedVacanciesSearchViewModel != null){
             <p>View apprenticeships in the <a href="@Url.ApprenticeshipSearchViewModelRouteUrl(CandidateRouteNames.ApprenticeshipResults, Model.SuggestedVacanciesSearchViewModel)&FromSubmitted=true" title="View apprenticeships in sub-category '@Model.SuggestedVacanciesCategory'">@Model.SuggestedVacanciesCategory</a> sub-category.</p>
        }
    }

    @if (ViewBag.SearchReturnUrl != null)
    {
        <div id="search-return-link" class="form-group">
            <a href="@ViewBag.SearchReturnUrl" title="Return to search results" id="lnk-return-search-results">Return to search results</a>
        </div>
    }
</section>

<div class="text form-group">
    <p>
        <a href="@Url.RouteUrl(RouteNames.SignOut, new { returnUrl = ViewBag.FeedbackUrl })">What did you think of this service? </a>
        <span class="inl-block">(30 second survey, this will also sign you out)</span>
    </p>
</div>
