@model NewVacancyViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.Constants.ViewModels
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(ManagementRouteNames.BasicDetails, FormMethod.Post, new { id = "vacancy-basic-details-form" }))
{
    @Html.DisplayFor(m => m, NewVacancyViewModel.PartialView, new {OfflineUrlButtonName = "BasicDetails"})

    <div class="form-group inline">
        <button type="submit" class="button">Save</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.ReviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "button sfa-button-secondary" })
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/basicVacancyDetails")

    <script>
        $("input[name='OfflineVacancy']").change(function () {
            var selectedValue = $("input[name='OfflineVacancy']:checked").val();
            if (selectedValue === "False") {
                $("#apprenticeship-offline-application-url").val("");
                $("#apprenticheship-offline-application-instructions").val("");
            }
        });

        var postUrl = '@Url.RouteUrl(ManagementRouteNames.BasicDetails)';
        var multipleOfflineUrlsButtonText = '@NewVacancyViewModelMessages.MultiOfflineUrlsButtonText';
        var singleOfflineUrlButtonText = '@NewVacancyViewModelMessages.SingleOfflineUrlButtonText';
    </script>
}