@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.BulkApplicationsRejectViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Send Bulk Unsuccessful decision";
}

@using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmBulkUnsuccessfulApprenticeshipApplication, FormMethod.Post))
{
    @Html.HiddenFor(m => m.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ApplicationIds)
    <div>
        <h1 class="heading-xlarge med-btm-margin">Inform the selected candidates their applications have been unsuccessful</h1>
        <div class="inner-block hgroup grey-background">
            <br />
            <div class="three-column">
                <ul id="triple">
                @foreach (var application in Model.BulkRejectApplications)
                {
                    <li>
                        @application.FirstName @application.LastName
                    </li>
                }
                </ul>
            </div>
            <br />
            @Html.RouteLink("Edit list", RecruitmentRouteNames.BulkDeclineCandidates, new { vacancyReferenceNumber = @Model.VacancyReferenceNumber })
        </div>
        <h2 class="heading-medium">Candidate feedback</h2>
        <p>
            An automated message will now be sent to these candidates.
            You must provide feedback explaining why they have not been selected for the role of <b>@Model.VacancyTitle</b>
        </p>
        <h2 class="bold-small">What feedback would you like to share with these candidates?</h2>
        @Html.FormTextAreaFor(m => m.UnSuccessfulReason,
       controlHtmlAttributes: new { @class = "width-all-3-4", type = "text", size = 12, style = "height: 200px;" },
       labelHtmlAttributes: new { @class = "bold-small" })
        <section>
            <div class="form-group">
                <br />
                <button type="submit" class="button" name="SendBulkUnsuccessfulDecision" value="SendBulkUnsuccessfulDecision">
                    Send feedback
                </button>
                @Html.RouteLink("Cancel", RecruitmentRouteNames.BulkDeclineCandidates, new { vacancyReferenceNumber = @Model.VacancyReferenceNumber })
            </div>
        </section>
    </div>
}

