@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Recruit.ViewModels.Application.VacancyApplicationsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Vacancy applications";
}

<div>
    <section>
        <div class="hgroup text">
            <h1 class="heading-xlarge" id="vacancy-title" itemprop="title">
                @Model.Title
            </h1>
            <p class="subtitle" id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">@Model.EmployerName</p>
        </div>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                <div class="inner-block-padr">
                    <div>
                        <div class="text" itemprop="description">
                            <p id="vacancy-description" class="preserve-formatting">@Model.ShortDescription</p>
                            <p>
                                <a href="@Url.RouteUrl(RecruitmentRouteNames.PreviewVacancy, new {vacancyReferenceNumber = Model.VacancyReferenceNumber})" class="disp-block">View apprenticeship</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-1-3">
                <p class="small-btm-margin">
                    <a href="">Clone</a>
                </p>
                <p class="small-btm-margin">
                    <a href="">Extend</a>
                </p>
                <p class="small-btm-margin">
                    <a href="">Withdraw</a>
                </p>
                <p>
                    <a href="">Close</a>
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="panel-indent text">
            @{
                var daysTillClose = (Model.ClosingDate - DateTime.UtcNow).Days;
                if (daysTillClose == 0)
                {
                    <p>This vacancy is closing today.</p>
                }
                if (daysTillClose == 1)
                {
                    <p>This vacancy is due to close in 1 day.</p>
                }
                if (daysTillClose > 1)
                {
                    <p>This vacancy is due to close in @daysTillClose days.</p>
                }
            }

            @if (Model.RejectedApplicationsCount == 1)
            {
                <p>You've rejected 1 application.</p>
            }
            else if (Model.RejectedApplicationsCount > 1)
            {
                <p>You've rejected @Model.RejectedApplicationsCount applications.</p>
            }

            @if (Model.RejectedApplicationsCount == 1)
            {
                <p>There are still 1 application to send an outcome to.</p>
            }
            else if (Model.RejectedApplicationsCount > 1)
            {
                <p>There are still @Model.RejectedApplicationsCount applications to send an outcome to.</p>
            }
        </div>
    </section>

    <section class="no-btm-margin" id="applicationsSection">
        <div class="hgroup-large">
            <h2 class="heading-large">Applications</h2>
        </div>
        <table class="vert-top" id="applicationTable">
            <colgroup>
                <col class="t40">
                <col class="t20">
                <col class="t20">
                <col class="t20">
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <a href="" class="font-black">Applicant name</a>
                    </th>
                    <th>
                        <a href="" class="font-black">Location</a>
                    </th>
                    <th>
                        <a href="" class="font-black">Submitted</a>
                    </th>
                    <th>
                        <a href="" class="font-black">Status</a>
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var applicationSummary in Model.ApplicationSummaries.Page)
            {
                <tr class="applicant">
                    <td>
                        <h4 class="applicant-name">
                            <input class="applicantCheckbox" type="checkbox">
                            <a href="" title="View @applicationSummary.ApplicantName application">@applicationSummary.ApplicantName</a>
                        </h4>
                    </td>
                    <td>
                        <span class="applicant-location">@applicationSummary.ApplicantLocation</span>
                        <span class="applicant-distance">@applicationSummary.Distance.ToDistanceInMilesDisplayText()</span>
                    </td>
                    <td>@Html.DisplayFor(m => applicationSummary.DateApplied)</td>
                    <td>
                        @Html.Partial("_applicationStatus", applicationSummary.Status)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!--   <div class="page-navigation font-xsmall small-btm-margin">
          <a href="#" class="page-navigation__btn previous disabled">
            <i class="arrow-button fa fa-angle-left"></i>
            <span class="description">Previous</span>
            <span class="counter">1 of 3</span>
          </a>
          <a href="#" class="page-navigation__btn next">
            <i class="arrow-button fa fa-angle-right"></i>
            <span class="description">Next</span>
            <span class="counter">2 of 3</span>
          </a>
        </div> -->
    </section>
</div>