@using SFA.Apprenticeships.Domain.Entities.Vacancies

@model ApprenticeshipSearchViewModel

@{
    var divClass = Model.SearchMode == ApprenticeshipSearchMode.Category ? "active" : "";
}
<div id="categories" class="form-group tabbed-element tab2 blocklabel-single @divClass">
    
    @{
        if (Model.Categories != null && Model.Categories.Any())
        {
            <ul id="category-list" class="font-xsmall list list-checkradio blocklabel-single-container">
                @foreach (var category in Model.Categories)
                {
                    var inputId = string.Format("category-{0}", category.CodeName.ToLower().Replace('.','_'));
                    var subCategories = category.SubCategories.ToList();
                    var checkedAttr = Model.Category == category.CodeName ? "checked" : "";
                    var openAttr = Model.Category == category.CodeName && Model.SubCategories != null && Model.SubCategories.Any() ? "open" : "";
                    var subCategoryListId = string.Format("sub-category-{0}-list", category.CodeName.ToLower());

                    var categoryLabelText = FullNameFormatter.Format(category.FullName);

                    categoryLabelText = string.Format("{0} ({1})", categoryLabelText, category.Count);

                    <li>
                        <label for="@inputId" class="form-checkbox sfa-form-checkbox no-margins" data-target="@(inputId)-details">
                            <input @checkedAttr type="radio" name="Category" id="@inputId" value="@category.CodeName" />
                            @categoryLabelText
                        </label>
                        <details @openAttr class="@openAttr blocklabel-content sfa-hide" id="@(inputId)-details">
                            <summary><span class="summary">@subCategories.Count sub-categories</span></summary>
                            <ul id="@subCategoryListId" class="list-checkradio list panel panel-border-narrow">
                                @foreach (var subCategory in subCategories)
                                {
                                    checkedAttr = Model.SubCategories != null && Model.SubCategories.Contains(subCategory.CodeName) ? " checked" : "";

                                    var checkboxId = string.Format("sub-category-{0}", subCategory.CodeName.ToLower());
                                    var subcategoryLabelText = FullNameFormatter.Format(subCategory.FullName);

                                    subcategoryLabelText = string.Format("{0} ({1})", subcategoryLabelText, subCategory.Count);

                                    <li>
                                        <label for="@checkboxId" class="form-checkbox sfa-form-checkbox no-margins">
                                            <input @checkedAttr type="checkbox" name="SubCategories" id="@checkboxId" value="@subCategory.CodeName">
                                            @subcategoryLabelText
                                        </label>
                                    </li>
                                }
                            </ul>
                        </details>
                    </li>
                }
            </ul>
        }
        else
        {
            <div id="category-load-failed" class="error-message">Category search is currently unavailable. Please try again or use the keyword search</div>
        }
}
</div>