@using SFA.Apprenticeships.Domain.Entities.Vacancies

@model ApprenticeshipSearchViewModel

@{
    var divClass = Model.SearchMode == ApprenticeshipSearchMode.Category ? "active" : "";
}
<div id="categories" class="form-group tabbed-element tab2 @divClass">
    
    @{
        if (Model.Categories != null && Model.Categories.Any())
        {
            <ul id="category-list" class="copy-16 list-text list-checkradio">
                @foreach (var category in Model.Categories)
                {
                    var inputId = string.Format("category-{0}", category.CodeName.ToLower());
                    var subCategories = category.SubCategories.ToList();
                    var checkedAttr = Model.Category == category.CodeName ? "checked" : "";
                    var openAttr = Model.Category == category.CodeName && Model.SubCategories != null && Model.SubCategories.Any() ? "open" : "";
                    var subCategoryListId = string.Format("sub-category-{0}-list", category.CodeName.ToLower());

                    var categoryLabelText = FullNameFormatter.Format(category.FullName);

                    categoryLabelText = string.Format("{0} ({1})", categoryLabelText, category.Count);

                    <li>
                        <input @checkedAttr type="radio" name="Category" id="@inputId" value="@category.CodeName"><label for="@inputId">@categoryLabelText</label>
                        <details @openAttr class="@openAttr">
                            <summary class="copy-16">@subCategories.Count sub-categories</summary>
                            <ul id="@subCategoryListId" class="detail-content copy-16 list-text list-checkradio scrolling-panel max-height-6ish" style="position: relative;">
                                @foreach (var subCategory in subCategories)
                                {
                                    checkedAttr = Model.SubCategories != null && Model.SubCategories.Contains(subCategory.CodeName) ? " checked" : "";

                                    var checkboxId = string.Format("sub-category-{0}", subCategory.CodeName.ToLower());
                                    var subcategoryLabelText = FullNameFormatter.Format(subCategory.FullName);

                                    subcategoryLabelText = string.Format("{0} ({1})", subcategoryLabelText, subCategory.Count);

                                    <li><input @checkedAttr type="checkbox" name="SubCategories" id="@checkboxId" value="@subCategory.CodeName"><label for="@checkboxId">@subcategoryLabelText</label></li>
                                }
                            </ul>
                        </details>
                    </li>
                }
            </ul>
        }
        else
        {
            <div id="category-load-failed" class="error-message">Category search is currently unavailable. Please try again or use the keyword search</div>
        }
}
</div>