@using SFA.Apprenticeships.Domain.Entities.Vacancies

@model ApprenticeshipSearchViewModel

@{
    var divClass = Model.SearchMode == ApprenticeshipSearchMode.SavedSearches ? "active" : "";
}

<div id="saved-searches" class="tabbed-element savedsearchtab @divClass">
    @if (Model.SavedSearches != null && Model.SavedSearches.Any())
    {
        <ul id="saved-searches-list" class="list list-checkradio">
            @foreach (var savedSearch in Model.SavedSearches)
            {
                <li>
                    <label id="-label-@savedSearch.Id" for="-@savedSearch.Id" class="form-radio sfa-form-radio">
                        <input type="radio" name="SavedSearchId" id="-@savedSearch.Id" value="@savedSearch.Id">
                        @savedSearch.Name
                    </label>
                    @if (savedSearch.DateProcessed.HasValue)
                    {
                        <span class="inl-block font-xsmall">(New matches: @savedSearch.DateProcessed.Value.ToFriendlyDaysAgo())</span>
                    }


                    @if (savedSearch.ApprenticeshipLevel != "All")
                    {
                        <p class="font-xsmall sfa-no-bottom-margin">
                            <b>Apprenticeship level:</b> <span id="-apprenticeship-level-@savedSearch.Id">@savedSearch.ApprenticeshipLevel</span>
                        </p>
                    }

                    @if (!string.IsNullOrWhiteSpace(savedSearch.SubCategoriesFullNames))
                    {
                        <p class="font-xsmall sfa-no-bottom-margin">
                            <b>Sub-categories:</b> <span id="-subcategories-@savedSearch.Id">@savedSearch.SubCategoriesFullNames</span>
                        </p>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p  id="saved-searches-prompt">
            You can run your saved searches from here. When you search using keyword or category, you can save this search by clicking “Receive alerts for this search” on the results page.
        </p>
    }
</div>