@using SFA.Apprenticeships.Domain.Entities.Vacancies
@using TrainingType = SFA.Apprenticeships.Domain.Entities.Vacancies.TrainingType

@model ApprenticeshipVacancyDetailViewModel

@{
    ViewBag.Title = Model.Title + " - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <meta name="DCSext.Days2Close" content="@((DateTime.SpecifyKind(Model.ClosingDate, DateTimeKind.Utc).Date - DateTime.UtcNow.Date).Days)" />
}

<div itemscope itemtype="http://schema.org/JobPosting">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge" id="vacancy-title" itemprop="title">
                @HtmlExtensions.EscapeHtmlEncoding(Html, Model.Title)
                <span class="heading-secondary" id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">@Model.EmployerName</span>
            </h1>
        </div>
        <div class="column-one-third">
            <ul class="list sfa-align-right-tablet sfa-xlarge-top-margin">
                @if (ViewBag.SearchReturnUrl != null)
            {
                    <li>
                        <a href="@ViewBag.SearchReturnUrl" title="Return to search results" id="lnk-return-search-results">Return to search results</a>
                    </li>
                }
                else
                {
                    <li>
                        @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { @id = "lnk-find-apprenticeship", @class = "" })
                    </li>
                }

                @{
                    var applicationStatus = Model.CandidateApplicationStatus.HasValue
                        ? Model.CandidateApplicationStatus.ToString()
                        : "Unsaved";
                }

                @if (ViewBag.IsCandidateActivated != null && ViewBag.IsCandidateActivated)
            {
                    <li>
                        <a title="" href="#" id="save-vacancy-link" class="hidden fake-link  save-vacancy-link" data-vacancy-id="@Model.Id" data-application-status="@applicationStatus"><i class="fa"></i><span class="save-vacancy-link-text"></span></a>
                    </li>
                }
                <li class="hide-nojs">
                    <a class="print-trigger" href=""><i class="fa fa-print"></i>Print this page</a>
                </li>
            </ul>
        </div>
    </div>

    @if (!Model.HasError())
    {
        <section class="grid-row">
            <div class="column-two-thirds">
                <div itemprop="description">
                    <p id="vacancy-description" class="@Model.Description.GetPreserveFormattingCssClass()">@Model.Description</p>
                </div>
            </div>
            <div class="column-one-third">
                @Html.Partial("_Apply", Model, new ViewDataDictionary { new KeyValuePair<string, object>("AnalyticsButtonPosition", "Top") })
            </div>
        </section>
 
        <section class="grid-row" id="vacancy-info">
            <div class="column-full">
                <h2 class="heading-large">Apprenticeship summary</h2>
            </div>
            <div class="column-one-third">
                <ul class="list">
                    <li class="sfa-if-first">
                        @Html.Partial("_wage", Model)

                        @{
                            var className = Model.HoursPerWeek.HasValue ? "sfa-small-bottom-margin" : "";
                        }
                    </li>
                    <li>
                        <h3 class="heading-small">Working week</h3>
                        <p id="vacancy-working-week" itemprop="workHours" class="@className">@HtmlExtensions.EscapeHtmlEncoding(Html, Model.WorkingWeek)</p>

                        @if (Model.HoursPerWeek.HasValue)
                        {
                            <p id="total-hours-per-week">Total hours per week: @Model.HoursPerWeek</p>
                            if (Model.HoursPerWeek > 40)
                            {
                                <p>(the hours are based on the candidate being over 18)</p>
                            }
                        }
                    </li>
                    <li>
                        <h3 class="heading-small">Apprenticeship duration</h3>
                        <p id="vacancy-expected-duration">@(string.IsNullOrWhiteSpace(@Model.ExpectedDuration) ? "Not specified" : @Model.ExpectedDuration)</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Possible start date</h3>
                        <p id="vacancy-start-date">@Html.DisplayFor(m => Model.StartDate)</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Date posted</h3>
                        <p id="vacancy-posted-date">@Model.PostedDate.ToFriendlyDaysAgo()</p>
                    </li>
                    <li>
                        @if (Model.VacancyLocationType != VacancyLocationType.National && Model.Distance != null)
                        {
                            <h3 class="heading-small">Distance</h3>
                            <p id="vacancy-distance">@Model.Distance miles</p>
                        }
                    </li>
                    <li>
                        <h3 class="heading-small">Apprenticeship level</h3>
                        <p id="vacancy-type" itemprop="employmentType">@Model.ApprenticeshipLevel Level Apprenticeship</p>
                    </li>
                    <li>
                        <h3 class="heading-small">Reference number</h3>
                        <p id="vacancy-reference-id">@Model.VacancyReference</p>
                    </li>
                    <li>
                        @if (Model.VacancyLocationType != VacancyLocationType.National)
                        {
                            <h3 class="heading-small">Positions</h3>
                            <p id="number-of-positions">@Model.NumberOfPositions available</p>
                        }
                    </li>
                </ul>
            </div>
            <div class="column-two-thirds">
                <div itemprop="responsibilities" class="sfa-if-first">
                    <div id="vacancy-full-descrpition" class="sfa-text-editor-generated @Model.FullDescription.GetPreserveFormattingCssClass()">
                        @HtmlExtensions.EscapeHtmlEncoding(Html, Model.FullDescription)
                    </div>
                </div>
            </div>
        </section>
        <hr class="sfa-no-bottom-margin" />

                            if (!string.IsNullOrWhiteSpace(Model.SkillsRequired)
                                || !string.IsNullOrWhiteSpace(Model.PersonalQualities)
                                || !string.IsNullOrWhiteSpace(Model.QualificationRequired)
                                || !string.IsNullOrWhiteSpace(Model.FutureProspects)
                                || !string.IsNullOrWhiteSpace(Model.RealityCheck))
                            {
                                <section class="grid-row" id="course-info">
                                    <div class="column-full">
                                        <h2 class="heading-large">Requirements and prospects</h2>
                                    </div>
                                    <div class="column-one-half">
                                        @if (!string.IsNullOrWhiteSpace(Model.SkillsRequired))
                                        {
                                            <div class="sfa-if-first">
                                            <h3 class="heading-small">Desired skills</h3>
                                                <div id="vacancy-skills-required" class="sfa-text-editor-generated @Model.SkillsRequired.GetPreserveFormattingCssClass()" itemprop="skills">
                                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.SkillsRequired)
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.PersonalQualities))
                                        {
                                            <div class="sfa-if-first">
                                                <h3 class="heading-small">Personal qualities</h3>
                                                <div id="vacancy-qualities-required" class="sfa-text-editor-generated @Model.PersonalQualities.GetPreserveFormattingCssClass()" itemprop="qualities">
                                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.PersonalQualities)
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.QualificationRequired))
                                        {
                                            <div class="sfa-if-first">
                                            <h3 class="heading-small">Qualifications required</h3>
                                                <div id="vacancy-qualifications-required" class="sfa-text-editor-generated @Model.QualificationRequired.GetPreserveFormattingCssClass()" itemprop="qualifications">
                                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.QualificationRequired)
                                                </div>
                                                </div>
                                        }

                                    </div>
                                    <div class="column-one-half ">
                                        @if (!string.IsNullOrWhiteSpace(Model.FutureProspects))
                                        {
                                            <div class="sfa-if-first">   
                                                <h3 class="heading-small">Future prospects</h3>
                                                <div id="vacancy-future-prospects" class="sfa-text-editor-generated @Model.FutureProspects.GetPreserveFormattingCssClass()" itemprop="incentives">
                                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.FutureProspects)
                                                </div>
                                            </div>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.RealityCheck))
                                        {
                                            <div class="sfa-if-first">
                                                <h3 class="heading-small">Things to consider</h3>
                                                <div id="vacancy-reality-check" class="sfa-text-editor-generated @Model.RealityCheck.GetPreserveFormattingCssClass()" itemprop="incentives">
                                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.RealityCheck)
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <hr class="sfa-no-bottom-margin" />
                            }
        <section class="grid-row" id="employer-info">
            <div class="column-full">
                <h2 class="heading-large">About the employer</h2>
            </div>
            <div class="column-full">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <div>
                            @if (Model.IsEmployerAnonymous)
                            {
                                <div id="vacancy-employer-description" class="sfa-text-editor-generated @Model.EmployerDescription.GetPreserveFormattingCssClass()">
                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.EmployerDescription)
                                </div>
                            }
                            else
                            {
                                <div id="vacancy-employer-description" class="sfa-text-editor-generated @Model.EmployerDescription.GetPreserveFormattingCssClass()">
                                    @HtmlExtensions.EscapeHtmlEncoding(Html, Model.EmployerDescription)
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.IsPositiveAboutDisability)
                    {
                        <div class="column-one-third">
                            <p>
                                <a class="inl-block" href="https://www.gov.uk/looking-for-work-if-disabled" target="_blank">
                                    <img src="@Url.CdnImage("logo-ticks-2x.png")" height="120" width="151" alt="Two ticks logo - Positive about disabled people">
                                </a>
                            </p>
                        </div>
                    }
                </div>
            </div>
            <div class="column-full">
                <div class="grid-row">
                    <div class="column-one-half">
                        <div>
                            <h3 class="heading-small">Employer</h3>
                            <p id="vacancy-employer-name" class="@(Model.IsWellFormedEmployerWebsiteUrl ? "sfa-no-bottom-margin" : "")">@Model.EmployerName</p>
                            @if (Model.IsEmployerAnonymous)
                            {
                                if (Model.VacancyLocationType != VacancyLocationType.National)
                                {
                                    <div id="vacancy-address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <h3 class="heading-small">Address</h3>
                                        <div itemprop="address">
                                            <p class="sfa-small-bottom-margin" itemprop="addressLocality" id="anonymous-town">@Model.VacancyAddress.Town</p>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                if (Model.IsWellFormedEmployerWebsiteUrl)
                                {
                                    <p>
                                        <a itemprop="url" href="@Model.EmployerWebsite"
                                           id="vacancy-employer-website"
                                           target="_blank"
                                           title="@Model.EmployerName Website" rel="external">@Model.EmployerWebsite</a>
                                    </p>
                                }
                                else
                                {
                                    <p>@Model.EmployerWebsite</p>
                                }
                                if (Model.VacancyLocationType != VacancyLocationType.National)
                                {
                                    <div id="vacancy-address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <h3 class="heading-small">Address</h3>
                                        <div itemprop="address">
                                            <p class="sfa-small-bottom-margin" itemprop="streetAddress">@Model.VacancyAddress.AddressLine1</p>
                                            <p class="sfa-small-bottom-margin" itemprop="streetAddress">@Model.VacancyAddress.AddressLine2</p>
                                            <p class="sfa-small-bottom-margin" itemprop="streetAddress">@Model.VacancyAddress.AddressLine3</p>
                                            <p class="sfa-small-bottom-margin" itemprop="addressLocality">@Model.VacancyAddress.Town</p>
                                            <p class="sfa-small-bottom-margin" itemprop="addressRegion">@Model.VacancyAddress.County</p>
                                            <p class="sfa-small-bottom-margin" itemprop="postalCode">@Model.VacancyAddress.Postcode</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="column-one-half hide-print">
                        @if (Model.VacancyLocationType != VacancyLocationType.National)
                        {
                            <div id="vacancy-map" class="ad-details__map">
                                <div class="map-overlay" onclick=" style.pointerEvents='none' "></div>
                                @if (Model.IsEmployerAnonymous)
                                {
                                    <div id="anonymous-map">
                                        <iframe width="700" height="250" title="Map of location" style="border: 0" src="https://www.google.com/maps/embed/v1/view?center=@Model.VacancyAddress.GeoPoint.Latitude,@Model.VacancyAddress.GeoPoint.Longitude&amp;zoom=9&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
                                    </div>
                                }
                                else
                                {
                                    <iframe width="700" height="250" title="Map of location" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=@Html.Raw(Model.VacancyAddress.Postcode),+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
                                }
                                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
                            </div>
                        }
                    </div>

                    @if (!string.IsNullOrWhiteSpace(Model.AdditionalLocationInformation))
                    {
                        <div class="grid-row">
                            <p></p>
                            <h3 class="heading-small">
                                Additional location information
                            </h3>
                            <div class="sfa-text-editor-generated">
                                @HtmlExtensions.EscapeHtmlEncoding(Html, Model.AdditionalLocationInformation)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <hr class="sfa-no-bottom-margin" />
        <section class="grid-row" id="provider-info">
            <div class="column-full">
                <h2 class="heading-large">Training provider</h2>
            </div>
            @if (Model.IsNasProvider)
            {
                <div class="column-two-thirds">
                    <p id="vacancy-nas-provider">Training provider selection is currently in progress</p>
                </div>
            }
            else
            {
                <div class="column-two-thirds">
                    <div>
                        @if (!string.IsNullOrWhiteSpace(Model.TrainingToBeProvided))
                        {
                            <div id="vacancy-training-to-be-provided" class="sfa-text-editor-generated @Model.TrainingToBeProvided.GetPreserveFormattingCssClass()">
                                @HtmlExtensions.EscapeHtmlEncoding(Html, Model.TrainingToBeProvided)
                            </div>
                        }
                        @if (Model.TrainingType == TrainingType.Standards)
                        {
                            <h3 class="heading-small">Apprenticeship standard</h3>
                        }
                        else
                        {
                            <h3 class="heading-small">Apprenticeship framework</h3>
                        }
                        <p id="vacancy-framework">@Html.Raw(Model.SubCategory)</p>
                    </div>
                </div>
                <div class="column-one-third">
                    <div>
                        <h3 class="headnig-small">Training provider</h3>
                        <p id="vacancy-provider-name">@Model.ProviderName</p>

                        @if (!Model.IsRecruitmentAgencyAnonymous && !string.IsNullOrWhiteSpace(Model.RecruitmentAgency))
                        {
                            <p id="recruitment-agency-name">Applications for this apprenticeship are being processed by @Model.RecruitmentAgency</p>
                        }
                    </div>

                    @if (!string.IsNullOrWhiteSpace(Model.Contact))
                    {
                        <div>
                            <h3 class="heading-small">Contact</h3>
                            <p id="vacancy-provider-contact" class="@Model.Contact.GetPreserveFormattingCssClass()">@Model.Contact</p>
                        </div>
                    }
                </div>
            }
        </section>
        <hr class="sfa-no-bottom-margin" />
                            if (!string.IsNullOrWhiteSpace(Model.OtherInformation))
                            {
            <section id="other-information" class="grid-row">
                <div class="column-two-thirds">
                    <h2 class="heading-large sfa-collpanel-trigger">Other information</h2>
                    <div class="sfa-collpanel toggle-content">
                        <div class="sfa-text-editor-generated @Model.OtherInformation.GetPreserveFormattingCssClass()">
                            @HtmlExtensions.EscapeHtmlEncoding(Html, Model.OtherInformation)
                        </div>
                    </div>
                </div>
            </section>
            <hr class="sfa-no-bottom-margin" />
                            }
                            if (Model.ApplyViaEmployerWebsite && !string.IsNullOrWhiteSpace(Model.ApplicationInstructions))
                            {
            <section id="application-instructions-container" class="grid-row">
                <div class="column-full">
                    <h2 class="heading-large">Employer's Application Instructions</h2>
                </div>
                <div class="column-two-thirds">
                    <p id="application-instructions" class="@Model.ApplicationInstructions.GetPreserveFormattingCssClass()">@Model.ApplicationInstructions</p>
                </div>
            </section>
            <hr class="sfa-no-bottom-margin" />
                            }
                            if (!Model.ApplyViaEmployerWebsite && !Request.IsAuthenticated)
                            {
            <section id="before-apply" class="grid-row">
                <div class="column-full">
                    <h2 class="heading-large">Before you apply</h2>
                </div>
                <div class="column-two-thirds">
                    <p>Before you apply for an apprenticeship you must first create an account. If you already have an account you'll need to sign in.</p>
                </div>
            </section>
            <hr class="sfa-no-bottom-margin"/>
        }
        <section class="inline sfa-xlarge-top-padding">
            @Html.Partial("_Apply", Model, new ViewDataDictionary() {new KeyValuePair<string, object>("AnalyticsButtonPosition", "Bottom")})
        </section>
        }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/nas/details")

    <script>
        $(function() {
            initSavedVacancies({
                saveUrl: '@Url.RouteUrl(CandidateRouteNames.ApprenticeshipSaveVacancy)',
                deleteUrl: '@Url.RouteUrl(CandidateRouteNames.ApprenticeshipDeleteSavedVacancy)'
            });
        });

    </script>

}