@model  SFA.Apprenticeships.Web.Common.Models.Azure.AccessControlService.AuthorizationErrorDetailsViewModel

@{
    ViewBag.Title = "Authorisation error";
}

<h2>Error</h2>

@if (Model == null)
{
    <div>An error occurred authorising your request.</div>
}
else
{
    <span class="bold-small">Context:</span> @Model.Context
    <br />
    <span class="bold-small">HttpReturnCode:</span> @Model.HttpReturnCode
    <br />
    <span class="bold-small">IdentityProvider:</span> @Model.IdentityProvider
    <br />
    <span class="bold-small">TimeStamp:</span> @Model.TimeStamp
    <br />
    <span class="bold-small">TraceId:</span> @Model.TraceId
    <br />
    <hr />

    foreach (var errorDetail in Model.Errors)
    {
        <span class="bold-small">@errorDetail.ErrorCode</span> @errorDetail.ErrorMessage
        <br />
    }
}
