@model SFA.Apprenticeships.Web.Recruit.ViewModels.ProviderUser.HomeViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice";
}

@using (Html.BeginForm(null, "ProviderUser", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div class="grid-wrapper para-btm-margin">
        <div class="grid-1-2 grid">
            <h1 class="heading-xlarge">
                Recruitment home
            </h1>
        </div>
        <div class="grid grid-1-2">
            <div class="">
                @if (Model.ProviderSites.Count == 1)
                {
                    <p class="form-label">Provider site</p>
                    Model.ProviderUserViewModel.DefaultProviderSiteErn = Model.ProviderSites[0].Value;
                    @Html.HiddenFor(m => m.ProviderUserViewModel.DefaultProviderSiteErn)
                    <p>@Model.ProviderSites[0].Text</p>
                }
                else
                {
                    <p class="form-label">Change provider site</p>
                    @Html.DropDownListFor(m => m.ProviderUserViewModel.DefaultProviderSiteErn, Model.ProviderSites, new { @class = "chosen-select"})
                    <button id="change-training-site-button" type="submit" name="ProviderSiteAction" class="button" value="ChangeProviderSite">Change</button>
                }
            </div>
        </div>
    </div>
    <div class="grid-wrapper">
        <div class="grid grid-1-1">
            <section class="font-xsmall">
                <h2 class="heading-medium">Alerts</h2>
                <ul class="list-text list-withicons">
                    <li>
                        <i class="fa fa-exclamation-circle the-icon"></i>You have 1 vacancy
                        closing soon with 0 applications <a href="" class="link-unimp inl-block">Apprentice precision toolmaker</a>
                    </li>
                    <li>
                        <i class="fa fa-flag the-icon"></i>You have 12 new applications
                        for the vacancy <a href="live-apprenticeship-summary.html" class="link-unimp inl-block">Mechanical Engineer - Precision Toolmaker</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="grid-wrapper">
        <div class="grid grid-1-1">
            <div class="inner-block-padr">
                <section>
                   <button id="new-vacancy-button" type="submit" name="ProviderSiteAction" class="button" value="NewVacancy">Create new vacancy</button>
                </section>
                <section>
                    <h2 class="heading-medium">Your vacancies</h2>
                    <div class="grid-wrapper font-xsmall med-btm-margin">
                        @*<div class="grid grid-2-3">
                            <div class="inner-block-padr">
                                <select name="" id="" class="form-label">
                                    <option value="" hidden>-- Filter vacancies --</option>
                                    <option value="">Employer</option>
                                    <option value="">Title</option>
                                    <option value="">Framework</option>
                                </select>
                                <input type="text" class="form-control width-all-1-1" id="filter-employers">
                            </div>
                        </div>
                        <div class="grid grid-1-3 ta-right">
                            <input type="text" class="form-control invisible med-btm-margin">
                            <select name="" id="" class="small-right-margin">
                                <option value="" hidden>-- Filter status --</option>
                                <option value="">All</option>
                                <option value="">Live</option>
                                <option value="">For review</option>
                                <option value="">Submitted</option>
                                <option value="">Drafts</option>
                                <option value="">Closed</option>
                            </select>
                        </div>*@
                    </div>
                    <div class="tabbed-element tab1 active width-all-1-1">
                        <table class="no-btm-margin">
                            <colgroup>
                                <col class="t70">
                                <col class="t30">
                            </colgroup>
                            <tbody>
                            @foreach(var vacancy in Model.Vacancies)
                            {
                                <tr>
                                    <td>
                                        <div class="vac-title">
                                            <a href="live-apprenticeship-summary.html" class="disp-block link-unimp">@vacancy.Title<span class="inl-block">(? applications)</span></a>
                                        </div>
                                        <span>@vacancy.ProviderSiteEmployerLink.Employer.Name</span>
                                    </td>
                                    <td>
                                        <span class="tag-draft">@vacancy.Status</span>
                                        @*<p class="note-text">Closing in 1 day</p>*@
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        @*<div class="page-navigation font-xsmall small-btm-margin">
                            <a href="#" class="page-navigation__btn previous disabled">
                                <i class="arrow-button fa fa-angle-left"></i>
                                <span class="description">Previous</span>
                                <span class="counter">1 of 2</span>
                            </a>
                            <a href="#" class="page-navigation__btn next">
                                <i class="arrow-button fa fa-angle-right"></i>
                                <span class="description">Next</span>
                                <span class="counter">2 of 2</span>
                            </a>
                        </div>*@
                    </div>
                </section>
            </div>
        </div>
    </div>
}