@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Applications
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application
@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Traineeship.TraineeshipApplicationViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Review application";
}

@using (Html.BeginRouteForm(RecruitmentRouteNames.ReviewTraineeshipApplication, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.ApplicationSelection.ApplicationId)
    @Html.HiddenFor(m => m.ApplicationSelection.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.ApplicationSelection.FilterType)
    @Html.HiddenFor(m => m.ApplicationSelection.PageSize)

    if (Model.Status == ApplicationStatuses.Successful || Model.Status == ApplicationStatuses.Unsuccessful)
    {
        var decision = Model.Status == ApplicationStatuses.Successful ? "successful" : "unsuccessful";
        var decisionDateTime = Model.Status == ApplicationStatuses.Successful ? Model.SuccessfulDateTime : Model.UnsuccessfulDateTime;

        <div role="alert" class="panel-info">
            <p>
                <i class="fa fa-flag the-icon"></i>This candidate was made @decision
                @if (decisionDateTime.HasValue)
                {
                    <span>on @Html.DisplayFor(m => decisionDateTime.Value)</span>
                }
            </p>
            <p>
                @Html.RouteLink("Return to opportunity applications", RecruitmentRouteNames.VacancyApplications, new { Model.Vacancy.VacancyReferenceNumber })
            </p>
        </div>
    }

    <div>
        <div class="hgroup">
            <h1 class="heading-xlarge med-btm-margin">@Model.Vacancy.Title</h1>
            <p class="subtitle">@Model.Vacancy.EmployerName</p>
            <!--<p>
                <a href="live-apprenticeship-summary.html">Traineeship summary</a>
            </p>-->
        </div>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                @Html.DisplayFor(m => m.ApplicantDetails, ApplicantDetailsViewModel.PartialView)
            </div>
            <div class="grid grid-1-3">
            </div>
        </div>
        @Html.DisplayFor(m => m.AboutYou, AboutYouViewModel.PartialView)
        @Html.DisplayFor(m => m.Qualifications, QualificationViewModel.PartialView)
        @Html.DisplayFor(m => m.WorkExperience, WorkExperienceViewModel.PartialView)
        @Html.DisplayFor(m => m.TrainingCourses, TrainingCourseViewModel.PartialView)

        <section class="section-border">
            <h2 class="heading-large">
                Answers to employer questions
            </h2>
            @Html.DisplayFor(m => m, "Application/EmployerQuestionAnswers")
            @Html.DisplayFor(m => m, "Application/MonitoringInformation")
        </section>

        @if (!(Model.Status == ApplicationStatuses.Successful || Model.Status == ApplicationStatuses.Unsuccessful))
        {
            <section>
                <div class="form-group">
                    <div class="detail-content qa-comment">
                        <div class="blocklabel-single-container">
                            @Html.FormTextAreaFor(m => m.Notes, controlHtmlAttributes: new { @class = "width-all-1-1 form-textarea-medium", type = "text" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="med-btm-margin">
                        <button type="submit" class="button-link" name="Review" value="ReviewSaveAndExit">Save and exit</button>
                    </p>
                </div>
            </section>
        }
    </div>
}
