@model EmployerQuestionAnswersViewModel

@if (Model != null && (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1) || !string.IsNullOrWhiteSpace(Model.SupplementaryQuestion2)))
{
    <div class="text">
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1))
        {
            <div class="form-group">
                <p class="form-label-bold text @Model.SupplementaryQuestion1.GetPreserveFormattingCssClass()">@(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.SupplementaryQuestion1))</p>
                <span class="form-prepopped prewrap">@Html.Raw(Model.CandidateAnswer1)</span>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion2))
        {
            <div class="form-group">
                <p class="form-label-bold text @Model.SupplementaryQuestion2.GetPreserveFormattingCssClass()">@(SFA.Apprenticeships.Web.Common.Framework.HtmlExtensions.EscapeHtmlEncoding(Html, Model.SupplementaryQuestion2))</p>
                <span class="form-prepopped prewrap">@Html.Raw(Model.CandidateAnswer2)</span>
            </div>
        }
    </div>
}
