@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.TraineeshipApplicationViewModel

@{
    ViewBag.Title = "View your application - Find a traineeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="grid-row column-two-thirds">
        <h1 class="heading-xlarge">Your application</h1>
    </div>
    <div class="grid-row column-one-third">
        <div class="page-link hide-nojs">
            <p>
                <a class="print-trigger" href=""><i class="fa fa-print"></i>Print this page</a>
            </p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="grid-row column-two-thirds">
        <div class="hgroup-medium">
            <h2 class="heading-medium" id="vacancy-title">@Model.VacancyDetail.Title</h2>
            <p class="subtitle" id="vacancy-employer">@Model.VacancyDetail.EmployerName</p>
        </div>
        <p class="text" id="vacancy-summary">@Model.VacancyDetail.Description</p>
    </div>
    <div class="grid-row column-one-third para-btm-margin">
        <p class="small-btm-margin">This is your submitted application.</p>
        <p class="small-btm-margin">
            You applied on @Html.DisplayFor(m => m.DateApplied, "Date").
        </p>
        <p class="hide-print">
            <a id="return-to-my-applications" href="@Url.RouteUrl(CandidateRouteNames.MyApplications)">Return to my applications</a>
        </p>
    </div>
</div>

@Html.DisplayFor(m => m.Candidate)
@Html.DisplayFor(m => m.Candidate.Qualifications, "Application/Qualifications")
@Html.DisplayFor(m => m.Candidate.WorkExperience, "Application/WorkExperience")
@Html.DisplayFor(m => m.Candidate.TrainingCourses, "Application/TrainingCourses")

<section class="section-border">
    <h2 class="heading-large">
        Additional questions
    </h2>
    @Html.DisplayFor(m => m.Candidate.EmployerQuestionAnswers)
    @Html.DisplayFor(m => m.Candidate.MonitoringInformation, "MonitoringInformation/_disability")
</section>

<div class="form-group hide-print">
    <p>
        <a id="return-to-my-applications" href="@Url.RouteUrl(CandidateRouteNames.MyApplications)">Return to my applications</a>
    </p>
</div>