@using SFA.Apprenticeships.Domain.Raa.Interfaces.Repositories.Models
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model DashboardVacancySummariesViewModel

<section class="grid-row">
    @{
        var filterType = Model.SearchViewModel.FilterType;
    }
    <p>
        @if (filterType != VacanciesSummaryFilterTypes.All)
        {
            <span><a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.All))" class="font-small vacancy-filter">Show all</a></span>
        }
    </p>
    <div class="column-full">
        <div class="column-one-quarter">
            <div class="data">
                @if (filterType == VacanciesSummaryFilterTypes.SubmittedToday)
                {
                    <h2 class="bold-xlarge">@Model.SubmittedTodayCount</h2>
                    <p class="bold-xsmall">Live</p>
                }
                else
                {
                    <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.SubmittedToday))" class="vacancy-filter">
                        <h2 class="bold-xlarge">@Model.SubmittedTodayCount</h2>
                        <p class="bold-xsmall">Live</p>
                    </a>
                }
            </div>
        </div>

        <div class="column-one-quarter">
            <div class="data">
                @if (filterType == VacanciesSummaryFilterTypes.SubmittedYesterday)
                {
                    <h2 class="bold-xlarge">@Model.SubmittedYesterdayCount</h2>
                    <p class="bold-xsmall">Live</p>
                }
                else
                {
                    <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.SubmittedYesterday))" class="vacancy-filter">
                        <h2 class="bold-xlarge">@Model.SubmittedYesterdayCount</h2>
                        <p class="bold-xsmall">Live</p>
                    </a>
                }
            </div>
        </div>

        <div class="column-one-quarter">
            <div class="data">
                @if (filterType == VacanciesSummaryFilterTypes.SubmittedMoreThan48Hours)
                {
                    <h2 class="bold-xlarge">@Model.SubmittedMoreThan48HoursCount</h2>
                    <p class="bold-xsmall">Live</p>
                }
                else
                {
                    <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.SubmittedMoreThan48Hours))" class="vacancy-filter">
                        <h2 class="bold-xlarge">@Model.SubmittedMoreThan48HoursCount</h2>
                        <p class="bold-xsmall">Live</p>
                    </a>
                }
            </div>
        </div>

        <div class="column-one-quarter">
            <div class="data">
                @if (filterType == VacanciesSummaryFilterTypes.Resubmitted)
                {
                    <h2 class="bold-xlarge">@Model.ResubmittedCount</h2>
                    <p class="bold-xsmall">Live</p>
                }
                else
                {
                    <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.Resubmitted))" class="vacancy-filter">
                        <h2 class="bold-xlarge">@Model.ResubmittedCount</h2>
                        <p class="bold-xsmall">Live</p>
                    </a>
                }
            </div>
        </div>
    </div>
</section>