@using SFA.Apprenticeships.Domain.Raa.Interfaces.Repositories.Models
@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Manage.ViewModels.HomeViewModel

<div class="column-full">
        <section>
            <div class="tabbed-element tab1 active">
                <table class="sfa-table">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Total vacancies</th>
                            <th>Submitted today</th>
                            <th>Submitted yesterday</th>
                            <th>Submitted +48 hours</th>
                            <th>Resubmitted vacancies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="reactive-title">
                                    All teams
                                    <span class="reactive-sub-title">Regions</span>
                                </div>
                            </td>
                            <td class="sfa-align-center reactive-header" data-label="Total vacancies">
                                @Model.VacancySummaries.RegionalTeamsMetrics.Sum(m => m.TotalCount)
                            </td>
                            <td class="sfa-align-center reactive-header" data-label="Submitted today">
                                @Model.VacancySummaries.RegionalTeamsMetrics.Sum(m => m.SubmittedTodayCount)
                            </td>
                            <td class="sfa-align-center reactive-header" data-label="Submitted yesterday">
                                @Model.VacancySummaries.RegionalTeamsMetrics.Sum(m => m.SubmittedYesterdayCount)
                            </td>
                            <td class="sfa-align-center reactive-header" data-label="Submitted +48 hours">
                                @Model.VacancySummaries.RegionalTeamsMetrics.Sum(m => m.SubmittedMoreThan48HoursCount)
                            </td>
                            <td class="sfa-align-center reactive-header" data-label="Resubmitted vacancies">
                                @Model.VacancySummaries.RegionalTeamsMetrics.Sum(m => m.ResubmittedCount)
                            </td>
                        </tr>

                        @foreach (var regionalTeamMetrics in Model.VacancySummaries.RegionalTeamsMetrics)
                        {
                            <tr>
                                <td>
                                    <div class="reactive-title">@regionalTeamMetrics.RegionalTeam.GetTitle()</div>
                                </td>
                                <td class="sfa-align-center reactive-header" data-label="Total vacancies">
                                    <a href="@Url.RouteUrl(ManagementRouteNames.ChangeTeam, new {regionalTeam = regionalTeamMetrics.RegionalTeam, filterType = VacanciesSummaryFilterTypes.All, Model.VacancySummaries.SearchViewModel.SearchString,Model.VacancySummaries.SearchViewModel.SearchMode})">@regionalTeamMetrics.TotalCount</a>
                                </td>
                                <td class="sfa-align-center reactive-header" data-label="Submitted today">
                                    <a href="@Url.RouteUrl(ManagementRouteNames.ChangeTeam, new {regionalTeam = regionalTeamMetrics.RegionalTeam, filterType = VacanciesSummaryFilterTypes.SubmittedToday, Model.VacancySummaries.SearchViewModel.SearchString,Model.VacancySummaries.SearchViewModel.SearchMode})">@regionalTeamMetrics.SubmittedTodayCount</a>
                                </td>
                                <td class="sfa-align-center reactive-header" data-label="Submitted yesterday">
                                    <a href="@Url.RouteUrl(ManagementRouteNames.ChangeTeam, new {regionalTeam = regionalTeamMetrics.RegionalTeam, filterType = VacanciesSummaryFilterTypes.SubmittedYesterday, Model.VacancySummaries.SearchViewModel.SearchString,Model.VacancySummaries.SearchViewModel.SearchMode})">@regionalTeamMetrics.SubmittedYesterdayCount</a>
                                </td>
                                <td class="sfa-align-center reactive-header" data-label="Submitted +48 hours">
                                    <a href="@Url.RouteUrl(ManagementRouteNames.ChangeTeam, new {regionalTeam = regionalTeamMetrics.RegionalTeam, filterType = VacanciesSummaryFilterTypes.SubmittedMoreThan48Hours, Model.VacancySummaries.SearchViewModel.SearchString,Model.VacancySummaries.SearchViewModel.SearchMode})">@regionalTeamMetrics.SubmittedMoreThan48HoursCount</a>
                                </td>
                                <td class="sfa-align-center reactive-header" data-label="Resubmitted vacancies">
                                    <a href="@Url.RouteUrl(ManagementRouteNames.ChangeTeam, new {regionalTeam = regionalTeamMetrics.RegionalTeam, filterType = VacanciesSummaryFilterTypes.Resubmitted, Model.VacancySummaries.SearchViewModel.SearchString,Model.VacancySummaries.SearchViewModel.SearchMode})">@regionalTeamMetrics.ResubmittedCount</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
</div>