@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model DashboardVacancySummariesViewModel

<section class="grid-wrapper">
    @{
        var filterType = Model.SearchViewModel.FilterType;
    }
    <p>
        @if (filterType != DashboardVacancySummaryFilterTypes.All)
        {
            <span><a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, DashboardVacancySummaryFilterTypes.All))" class="font-small vacancy-filter">Show all</a></span>
        }
    </p>
    <ul class="vacancies-summary">
        <li>
            @if (filterType == DashboardVacancySummaryFilterTypes.SubmittedToday)
            {
                <figure class="data">
                    <p class="count">@Model.SubmittedTodayCount</p>
                    <figcaption><h2>Submitted today</h2></figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, DashboardVacancySummaryFilterTypes.SubmittedToday))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.SubmittedTodayCount</p>
                        <figcaption><h2>Submitted today</h2></figcaption>
                    </figure>
                </a>
            }
        </li>
        <li>
            @if (filterType == DashboardVacancySummaryFilterTypes.SubmittedYesterday)
            {
                <figure class="data">
                    <p class="count">@Model.SubmittedYesterdayCount</p>
                    <figcaption><h2>Submitted yesterday</h2></figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, DashboardVacancySummaryFilterTypes.SubmittedYesterday))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.SubmittedYesterdayCount</p>
                        <figcaption><h2>Submitted yesterday</h2></figcaption>
                    </figure>
                </a>
            }
        </li>
        <li>
            @if (filterType == DashboardVacancySummaryFilterTypes.SubmittedMoreThan48Hours)
            {
                <figure class="data">
                    <p class="count">@Model.SubmittedMoreThan48HoursCount</p>
                    <figcaption><h2>Submitted +48 hours</h2></figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, DashboardVacancySummaryFilterTypes.SubmittedMoreThan48Hours))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.SubmittedMoreThan48HoursCount</p>
                        <figcaption><h2>Submitted +48 hours</h2></figcaption>
                    </figure>
                </a>
            }
        </li>
        <li>
            @if (filterType == DashboardVacancySummaryFilterTypes.Resubmitted)
            {
                <figure class="data">
                    <p class="count">@Model.ResubmittedCount</p>
                    <figcaption><h2>Resubmitted vacancies</h2></figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, DashboardVacancySummaryFilterTypes.Resubmitted))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.ResubmittedCount</p>
                        <figcaption><h2>Resubmitted vacancies</h2></figcaption>
                    </figure>
                </a>
            }
        </li>
    </ul>
</section>