@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model DashboardVacancySummariesViewModel

<div class="grid-wrapper">
    <div class="grid grid-1-1">
        <div class="inner-block-padr">
            <section>
                <div class="tabbed-element tab1 active width-all-1-1">
                    <table class="no-btm-margin">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Provider</th>
                                <th>Date submitted</th>
                                <th>Closing date</th>
                                <th>Submission count</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vacancy in Model.Vacancies)
                            {
                                <tr>
                                    <td>
                                        <span class="vac-title">@vacancy.Title</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.VacancyType.ToString()</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.ProviderName</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.DateSubmitted.ToGmtDate()</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.ClosingDate.ToFriendlyClosingToday()</span>
                                    </td>
                                    <td class="ta-center">
                                        <span>@vacancy.SubmissionCount</span>
                                    </td>
                                    <td>
                                        @if (vacancy.CanBeReservedForQaByCurrentUser)
                                        {
                                            <a href="@Url.RouteUrl(ManagementRouteNames.ReviewVacancy, new {vacancyReferenceNumber = vacancy.VacancyReferenceNumber})">Review vacancy</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>