@using SFA.Apprenticeships.Domain.Raa.Interfaces.Repositories.Models
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model DashboardVacancySummariesViewModel

<section class="grid-wrapper">
    @{
        var filterType = Model.SearchViewModel.FilterType;
    }
    <p>
        @if (filterType != VacanciesSummaryFilterTypes.All)
        {
            <span><a href="@Url.RouteUrl(ManagementRouteNames.Dashboard)" class="font-small vacancy-filter">Show all</a></span>
        }
    </p>
    <ul class="vacancies-summary">
        <li>
            @if (filterType == VacanciesSummaryFilterTypes.SubmittedToday)
            {
                <figure class="data">
                    <p class="count">@Model.SubmittedTodayCount</p>
                    <figcaption><h2>Today</h2></figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.SubmittedToday))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.SubmittedTodayCount</p>
                        <figcaption class="underline">                            
                            <h2>Today</h2>
                        </figcaption>
                    </figure>
                </a>
            }
        </li>
        <li>
            @if (filterType == VacanciesSummaryFilterTypes.SubmittedYesterday)
            {
                <figure class="data">
                    <p class="count">@Model.SubmittedYesterdayCount</p>
                    <figcaption class="underline">                        
                        <h2>Yesterday</h2>
                    </figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.SubmittedYesterday))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.SubmittedYesterdayCount</p>
                        <figcaption class="underline">                            
                            <h2>Yesterday</h2>
                        </figcaption>
                    </figure>
                </a>
            }
        </li>
        <li>
            @if (filterType == VacanciesSummaryFilterTypes.SubmittedMoreThan48Hours)
            {
                <figure class="data">
                    <p class="count">@Model.SubmittedMoreThan48HoursCount</p>
                    <figcaption class="underline">                        
                        <h2>+48 hours</h2>
                    </figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.SubmittedMoreThan48Hours))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.SubmittedMoreThan48HoursCount</p>
                        <figcaption class="underline">                            
                            <h2>+48 hours</h2>
                        </figcaption>
                    </figure>
                </a>
            }
        </li>
        <li>
            @if (filterType == VacanciesSummaryFilterTypes.Resubmitted)
            {
                <figure class="data">
                    <p class="count">@Model.ResubmittedCount</p>
                    <figcaption><h2>Resubmitted</h2></figcaption>
                </figure>
            }
            else
            {
                <a href="@Url.RouteUrl(ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(Model.SearchViewModel, VacanciesSummaryFilterTypes.Resubmitted))" class="vacancy-filter">
                    <figure class="data">
                        <p class="count">@Model.ResubmittedCount</p>
                        <figcaption class="underline">                            
                            <h2>Resubmitted</h2>
                        </figcaption>
                    </figure>
                </a>
            }
        </li>
    </ul>
</section>