@using SFA.Apprenticeships.Infrastructure.Presentation
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Manage.ViewModels
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model SFA.Apprenticeships.Web.Manage.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <div class="inner-block-padr">
            <h1 class="heading-xlarge">
                Agency home
            </h1>
        </div>
    </div>
    <div class="grid grid-1-2">
        @using (Html.BeginForm(null, "AgencyUser", FormMethod.Post))
        {
            <p class="form-label">Change role</p>
            @Html.DropDownListFor(m => m.AgencyUser.RoleId, Model.AgencyUser.Roles, new {id = "role", @class = "chosen-select grid grid-1-1"})
            <noscript>
                <button class="button" name="DashboardAction" value="ChangeRole">Change role</button>
            </noscript>
        }
    </div>
</div>

@if(Model.AgencyUser.RoleId == "QA_advisor")
{
    @Html.Partial("_DashboardVacancySummaries", Model.VacancySummaries)
}

@if(Model.AgencyUser.RoleId == "Helpdesk_advisor")
{
    @Html.Partial("_DashboardHelpDesk")
}

<div class="saving-prompt toggle-content hide-nojs" id="ajaxLoading">
    Loading
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dashboard")
    <script>
        var searchUrl = '@Url.RouteUrl(ManagementRouteNames.Dashboard)';
    </script>
}