@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model SFA.Apprenticeships.Web.Manage.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="DCS.dcsaut" content="@User.Identity.Name" />
    <meta name="WT.sp" content="Manage Apprenticeships" />
}
@using (Html.BeginForm(null, "AgencyUser", FormMethod.Post))
{
    <div class="grid-row">
        <div class="column-one-half">
            <div class="inner-block-padr">
                <h1 class="heading-xlarge">
                    Agency home
                </h1>
            </div>
        </div>
        <div class="column-one-half">
            <label class="form-label-bold">Change role</label>
            @Html.DropDownListFor(m => m.AgencyUser.RoleId, Model.AgencyUser.Roles, new { id = "role", @class = "form-control form-control-3-4" })
            @if (Model.AgencyUser.RoleId != "QA_advisor")
            {
                @Html.HiddenFor(m => m.AgencyUser.RegionalTeam)
            }
            <noscript>
                <button class="button" name="DashboardAction" value="ChangeRole">Change role</button>
            </noscript>
        </div>
    </div>

    if (Model.AgencyUser.RoleId == "QA_advisor")
    {
        <div class="grid-row">
            <div class="column-one-half">
                <h2 class="heading-medium">
                    Review vacancies
                </h2>
            </div>
            <div class="column-one-half">
                <label class="form-label-bold">Change team</label>
                @Html.DropDownListFor(m => m.AgencyUser.RegionalTeam, Model.AgencyUser.RegionalTeams, new { id = "regional-team", @class = "chosen-select form-control form-control-3-4" })
                <noscript>
                    <button class="button" name="DashboardAction" value="ChangeTeam">Change team</button>
                </noscript>
            </div>
            <div class="column-one-half">
                &nbsp;
            </div>
            <div class="column-one-half">
                <label class="form-label-bold" style="margin-top: 10px">Provider</label>
                @Html.TextBoxFor(m => m.VacancySummaries.SearchViewModel.Provider, new { @class = "form-control form-control-3-4" })
                @Html.HiddenFor(m => m.VacancySummaries.SearchViewModel.Mode)
                <div>
                    @Html.RouteLink("Clear", ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(), new { @class = "button-link", style = "padding-top: 17px; margin-bottom: 0" })
                    <button class="button" style="margin: 10px 0 0 0" name="DashboardAction" value="SearchVacancies">Search vacancies</button>
                </div>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-row">
                <nav class="tabbed-nav">
                    @{
                        var dashboardVacancySummariesSearchViewModel = Model.VacancySummaries.SearchViewModel;
                        var reviewTabControlClass = dashboardVacancySummariesSearchViewModel.Mode == DashboardVacancySummariesMode.Review ? " active" : "";
                        var metricsTabControlClass = dashboardVacancySummariesSearchViewModel.Mode == DashboardVacancySummariesMode.Metrics ? " active" : "";
                        var reviewTitle = !string.IsNullOrEmpty(dashboardVacancySummariesSearchViewModel.Provider) ? dashboardVacancySummariesSearchViewModel.Provider + "'s" : Model.AgencyUser.RegionalTeam.GetTitle();
                    }

                    @Html.RouteLink(reviewTitle + " vacancies", ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(dashboardVacancySummariesSearchViewModel, DashboardVacancySummariesMode.Review), new { @class = "tabbed-tab no-js" + reviewTabControlClass })
                    @Html.RouteLink("All teams", ManagementRouteNames.Dashboard, new DashboardVacancySummariesSearchViewModel(dashboardVacancySummariesSearchViewModel, DashboardVacancySummariesMode.Metrics), new { @class = "tabbed-tab no-js" + metricsTabControlClass })
                </nav>
            </div>

            <div class="tabbed-content active grid-row">
                @if (dashboardVacancySummariesSearchViewModel.Mode == DashboardVacancySummariesMode.Review)
                {
                    @Html.Partial("_DashboardVacancyCounts", Model.VacancySummaries)
                    @Html.Partial("_DashboardVacancySummaries", Model.VacancySummaries)
                }
                @if (dashboardVacancySummariesSearchViewModel.Mode == DashboardVacancySummariesMode.Metrics)
                {
                    @Html.Partial("_DashboardTeamMetrics", Model)
                }
            </div>
        </div>
                        }

                        if (Model.AgencyUser.RoleId == "Helpdesk_advisor")
                        {
                            @Html.Partial("_DashboardHelpDesk")
                            }
                        }

<div class="saving-prompt toggle-content hide-nojs" id="ajaxLoading">
    Loading
</div>
@section scripts
{
    @Scripts.Render("~/bundles/dashboard")
    <script>
        var searchUrl = '@Url.RouteUrl(ManagementRouteNames.Dashboard)';
    </script>
}