@using SFA.Apprenticeships.Infrastructure.Presentation
@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Manage.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-2-3">
        <div class="inner-block-padr">
            <h1 class="heading-xlarge">
                Agency home
            </h1>
        </div>
    </div>
    <div class="grid grid-1-3">
        @using (Html.BeginRouteForm(ManagementRouteNames.Dashboard, FormMethod.Post))
        {
            <div class="page-link">
                <div class="form-group">
                    <p class="form-label">Change role</p>
                    @Html.DropDownListFor(m => m.AgencyUser.RoleId, Model.AgencyUser.Roles)
                </div>
            </div>
            <div class="page-link">
                <div class="form-group">
                    <p class="form-label">Change team</p>
                    @Html.DropDownListFor(m => m.AgencyUser.TeamId, Model.AgencyUser.Teams)
                </div>
            </div>
            <div>
                <button class="button">Save</button>
            </div>
        }
    </div>

    <div class="grid-wrapper">
        <div class="grid grid-1-1">
            <div class="inner-block-padr">
                <section>
                    <h2 class="heading-medium">Your vacancies</h2>
                    <div class="tabbed-element tab1 active width-all-1-1">
                        <table class="no-btm-margin">
                            <colgroup>
                                <col class="t15">
                                <col class="t15">
                                <col class="t15">
                                <col class="t15">
                                <col class="t15">
                                <col class="t15">
                                <col class="t15">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Reference</th>
                                    <th>Provider</th>
                                    <th>Date submitted</th>
                                    <th>Closing date</th>
                                    <th>Submission count</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var vacancy in Model.Vacancies)
                            {
                                <tr>
                                    <td>
                                        <span class="vac-title">@vacancy.Title</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.VacancyReferenceNumber.GetVacancyReference()</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.ProviderName</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.DateSubmitted.ToFriendlyClosingToday()</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.ClosingDate.ToFriendlyClosingToday()</span>
                                    </td>
                                    <td>
                                        <span>@vacancy.SubmissionCount</span>
                                    </td>
                                    <td>
                                        @if (vacancy.CanBeReservedForQaByCurrentUser)
                                        {
                                            <a href="@Url.RouteUrl(ManagementRouteNames.ReviewVacancy, new {vacancyReferenceNumber = vacancy.VacancyReferenceNumber})">QA vacancy</a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>