@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Api.ApiUserViewModel
@{
    ViewBag.Title = "API User";
}

<h1 id="heading" class="heading-xlarge">API User</h1>

<p>@Html.RouteLink("Manage API Users", ManagementRouteNames.AdminApiUsers)</p>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminEditApiUser))
{
    @Html.HiddenFor(m => m.ExternalSystemId)

    <p>
        <ul>
            <li>External System ID (Username): @Model.ExternalSystemId</li>
            @if (!string.IsNullOrEmpty(Model.Password))
            {
                <li>Password: @Model.Password <strong>Copy this down immediately! It will not be shown again. Please add it to the API Users.xlsx spreadsheet in the private repository</strong></li>
            }
            <li>Company ID: @Model.CompanyId</li>
            <li>Company Name: @Model.CompanyName</li>
            <li>Business Category: @Model.BusinessCategory</li>
            <li>Employee Type: @Model.EmployeeType</li>
            <li>Contact Name: @Model.ContactName</li>
            <li>Contact Email: <a href=@("mailto:" + Model.ContactEmail)>@Model.ContactEmail</a></li>
            <li>Contact Number: @Model.ContactNumber</li>
        </ul>
    </p>

    <h2 class="heading-medium">Authorised API Endpoints</h2>

    for (int i = 0; i < Model.ApiEndpoints.Count; i++)
    {
        var apiEndpoint = Model.ApiEndpoints[i];

        <div class="form-group">
            @Html.Label("ApiEndpoints[" + i + "].Authorised", apiEndpoint.Endpoint.ToString())
            @Html.Hidden("ApiEndpoints[" + i + "].Endpoint", apiEndpoint.Endpoint)
            @Html.CheckBox("ApiEndpoints[" + i + "].Authorised", apiEndpoint.Authorised)
        </div>
    }

    <div class="form-group">
        <button id="save-api-user-button" type="submit" class="button" name="SaveApiUserAction" value="SaveApiUser">Save</button>
    </div>
}