@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Api.ApiUserViewModel
@{
    ViewBag.Title = "New API User";
}

<h1 id="heading" class="heading-xlarge">New API User</h1>

<p>@Html.RouteLink("Manage API Users", ManagementRouteNames.AdminApiUsers)</p>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminCreateApiUser))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div class="form-group">

        @Html.FormTextFor(m => m.ExternalSystemId, controlHtmlAttributes: new { type = "text", autofocus = "autofocus" })
        @Html.FormTextFor(m => m.Password, controlHtmlAttributes: new { type = "text" })
        @Html.FormTextFor(m => m.CompanyId, controlHtmlAttributes: new { type = "tel", size = 9 })

        <div class="form-group">
            <button id="add-api-user-button" type="submit" class="button" name="CreateApiUserAction" value="CreateApiUser">Add API User</button>
        </div>
    </div>
}