@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Admin.StandardViewModel

@{
    ViewBag.Title = "Create Standard";
}

@using (Html.BeginRouteForm(ManagementRouteNames.AdminCreateStandard))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div class="form-group">
        @Html.FormTextFor(m => m.Name, controlHtmlAttributes: new { type = "text" })

        <div class="form-group">
            @Html.LabelFor(m => m.ApprenticeshipLevel, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.ApprenticeshipLevel, Model.ApprenticeshipLevels)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApprenticeshipSectorId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.ApprenticeshipSectorId, Model.ApprenticeshipSectors)
        </div>

        <div class="form-group">
            <button id="add-standard-button" type="submit" class="button" name="CreateStandardAction" value="CreateStandard">Add Standard</button>
        </div>
    </div>
}
