@using SFA.Apprenticeships.Domain.Entities.Raa.Parties
@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider.ProviderSiteRelationshipViewModel
@{
    ViewBag.Title = "Confirm Delete Provider Site Relationship";
}

<h1 id="heading" class="heading-xlarge">Confirm Delete Provider Site Relationship</h1>

<p>Are you sure you want to delete the @Model.ProviderSiteRelationshipType provider site relationship between @Model.ProviderFullName (@Model.ProviderTradingName) and @Model.ProviderSiteFullName (@Model.ProviderSiteTradingName) ? </p>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminDeleteProviderSiteRelationship, FormMethod.Post, new { id = "admin-delete-provider-site-relationship-form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.ProviderSiteRelationshipId)

    <div class="form-group inline">
        <button id="delete-provider-site-relationship-button" type="submit" class="button" name="ConfirmDeleteProviderSiteRelationshipAction" value="ConfirmDeleteProviderSiteRelationship">Delete</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.AdminViewProviderSite, new { providerSiteId = Model.ProviderSiteId }, new { @class = "button sfa-button-secondary" })
    </div>
}