@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Employer.EmployerViewModel
@{
    ViewBag.Title = "Employer";
}

<h1 id="heading" class="heading-xlarge">Employer</h1>

<p>@Html.RouteLink("Manage Employers", ManagementRouteNames.AdminEmployers)</p>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminEditEmployer))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.EmployerId)

    <p>
        <ul>
            <li>ID: @Model.EmployerId</li>
            <li>EDSURN: @Model.EdsUrn</li>
        </ul>
    </p>

    <div class="form-group">

        @Html.FormTextFor(m => m.FullName, controlHtmlAttributes: new { type = "text", autofocus = "autofocus" })
        @Html.FormTextFor(m => m.TradingName, controlHtmlAttributes: new { type = "text" })

    </div>

    <div class="form-group">
        <button id="save-employer-button" type="submit" class="button" name="SaveEmployerAction" value="SaveEmployer">Save</button>
    </div>
}