@using SFA.Apprenticeships.Domain.Entities.Raa.Parties
@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Employer.EmployerViewModel
@{
    ViewBag.Title = "Employer";
}

<h1 id="heading" class="heading-xlarge">Employer</h1>

<p>@Html.RouteLink("Manage Employers", ManagementRouteNames.AdminEmployers)</p>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminEditEmployer, FormMethod.Post, new { id = "admin-edit-employer-form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.EmployerId)
    @Html.HiddenFor(m => m.EdsUrn)

    <p>
        <ul>
            <li>ID: @Model.EmployerId</li>
            <li>EDSURN: @Model.EdsUrn</li>
        </ul>
    </p>

    <div class="form-group">

        @Html.FormTextFor(m => m.FullName, controlHtmlAttributes: new {type = "text", autofocus = "autofocus"})
        @Html.FormTextFor(m => m.TradingName, controlHtmlAttributes: new {type = "text"})

        @Html.FormTextFor(m => m.Address.AddressLine1, controlHtmlAttributes: new {type = "text"})
        @Html.FormTextFor(m => m.Address.AddressLine2, controlHtmlAttributes: new {type = "text"})
        @Html.FormTextFor(m => m.Address.AddressLine3, controlHtmlAttributes: new {type = "text"})
        @Html.FormTextFor(m => m.Address.AddressLine4, controlHtmlAttributes: new {type = "text"})
        @Html.FormTextFor(m => m.Address.Town, controlHtmlAttributes: new {type = "text"})
        @Html.FormTextFor(m => m.Address.Postcode, controlHtmlAttributes: new {type = "text"})

        @Html.LabelFor(m => m.Status, new {@class = "form-label-bold"})
        @Html.DropDownListFor(m => m.Status, EnumHelper.GetSelectList(typeof(EmployerTrainingProviderStatuses), Model.Status), new { @class = "form-control" })

    </div>

    <div class="form-group">
        <button id="save-employer-button" type="submit" class="button" name="SaveEmployerAction" value="SaveEmployer">Save</button>
    </div>
}