@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider.ProviderSearchResultsViewModel
@{
    ViewBag.Title = "Providers";
}

<h1 id="heading" class="heading-xlarge">Providers</h1>

<p>
    @Html.RouteLink("New Provider", ManagementRouteNames.AdminCreateProvider)
</p>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminProviders, FormMethod.Post, new { id = "admin-providers-form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div class="form-group">

        @Html.FormTextFor(m => m.SearchViewModel.Id, controlHtmlAttributes: new {type = "tel", size = 8})
        @Html.FormTextFor(m => m.SearchViewModel.Ukprn, controlHtmlAttributes: new {type = "tel", size = 8, autofocus = "autofocus"})
        @Html.FormTextFor(m => m.SearchViewModel.Name, controlHtmlAttributes: new {type = "text"})

        <div class="form-group">
            <button id="search-providers-button" type="submit" class="button" name="SearchProvidersAction" value="SearchProviders">Search Providers</button>
        </div>
    </div>

    if (Model.Providers != null && Model.Providers.Count > 0)
    {
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>UKPRN</th>
                            <th>Full Name</th>
                            <th>Trading Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var provider in Model.Providers)
                        {
                            <tr>
                                <td>@provider.ProviderId</td>
                                <td>@provider.Ukprn</td>
                                <td>@provider.FullName</td>
                                <td>@provider.TradingName</td>
                                <td>@provider.ProviderStatusType</td>
                                <td>@Html.RouteLink("View", ManagementRouteNames.AdminViewProvider, new { provider.ProviderId })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}