@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider.ProviderViewModel
@{
    ViewBag.Title = "Providers";
}

<h1 id="heading" class="heading-xlarge">Provider</h1>

<p>@Html.RouteLink("Manage Providers", ManagementRouteNames.AdminProviders)</p>

<p>
    <ul>
        <li>UKPRN: @Model.Ukprn</li>
        <li>Full name: @Model.FullName</li>
        <li>Trading Name: @Model.TradingName</li>
        <li>Status: @Model.ProviderStatusType</li>
    </ul>
</p>

<h2 class="heading-medium">Provider Sites</h2>

<div class="grid-wrapper">
    <div class="grid grid-1-1">
        <table>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>EDSURN</th>
                <th>Full Name</th>
                <th>Trading Name</th>
                <th>Relationship Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var providerSite in Model.ProviderSiteViewModels)
            {
                <tr>
                    <td>@Html.RouteLink(providerSite.EdsUrn, ManagementRouteNames.AdminViewProviderSite, new { providerSite.ProviderSiteId })</td>
                    <td>@providerSite.FullName</td>
                    <td>@providerSite.TradingName</td>
                    <td>
                        @{
                            var providerSiteRelationship = providerSite.ProviderSiteRelationships.SingleOrDefault(psr => psr.ProviderId == Model.ProviderId);
                        }
                        @if (providerSiteRelationship == null)
                        {
                            <text>Visible via subcontractor relationship</text>    
                        }
                        else
                        {
                            @providerSiteRelationship.ProviderSiteRelationshipType
                        }
                    </td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<p>
    @Html.RouteLink("New Provider Site", ManagementRouteNames.AdminCreateProviderSite, new {Model.ProviderId})
</p>