@using SFA.Apprenticeships.Web.Manage.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Api.ApiUserViewModel
@{
    ViewBag.Title = "Confirm Reset API User Password?";
}

<h1 id="heading" class="heading-xlarge">Confirm Reset API User Password?</h1>

@using (Html.BeginRouteForm(ManagementRouteNames.AdminResetApiUserPassword, FormMethod.Post, new { id = "admin-reset-api-user-password-form" }))
{
    @Html.HiddenFor(m => m.ExternalSystemId)

    <p>
        <ul>
            <li>External System ID (Username): @Model.ExternalSystemId</li>
            <li>Company ID: @Model.CompanyId</li>
            <li>Company Name: @Model.CompanyName</li>
            <li>Business Category: @Model.BusinessCategory</li>
            <li>Employee Type: @Model.EmployeeType</li>
        </ul>
    </p>

    <p>
        Are you sure you want to reset this API user's password to a newly generated one?
    </p>

    <div class="form-group inline">
        <button id="reset-api-user-password-button" type="submit" class="button" name="ResetApiUserPasswordAction" value="ResetApiUserPassword">Reset Password</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.AdminApiUsers, new { @class = "button sfa-button-secondary" })
    </div>
}