@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider.ProviderViewModel
@{
    ViewBag.Title = "Recruit an Apprentice - Manage your Sites";
}

<div class="grid-row" id="pageManageSites">
    <div class="hgroup text para-btm-margin">
        <h1 class="heading-xlarge">
            Provider details
        </h1>
    </div>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ManageProviderSites, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div class="form-group">
        <h2 class="heading-medium">Provider name</h2>
        <span>@Model.FullName</span>
        @Html.HiddenFor(m => m.FullName)
    </div>

    //@Html.FormTextFor(m => m.ProviderName, controlHtmlAttributes: new { type = "text", autofocus = "autofocus", spellcheck = "false" })

    <div id="providerSitesList">
        <h2 class="heading-medium">Manage your training sites</h2>
        <section class="grid-row">
            <div class="column-two-thirds scrolling-panel max-height-15">
                <table>
                    <colgroup>
                        <col class="t70">
                        <col class="t15">
                        <col class="t15">
                        <col>
                    </colgroup>
                    <tbody>
                    @foreach (var providerSiteViewModel in @Model.ProviderSiteViewModels)
                    {
                        <tr>
                            <td>@providerSiteViewModel.DisplayName</td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="toggle-content" id="newProviderContinue">
        <a href="@Url.RouteUrl(RecruitmentRouteNames.Settings)" class="button" id="newProviderContinueBtn">Continue</a>
    </div>
    <div  id="providerDetailsSave">
        <button class="button">Continue</button>
    </div>
}
</div>
