@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Applications
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application
@using SFA.Apprenticeships.Web.Recruit.Constants

@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Traineeship.TraineeshipApplicationViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - View application";
}

<div>
    <div class="hgroup">
        <h1 class="heading-xlarge med-btm-margin">Vacancy application</h1>
        <p class="subtitle">@Model.Vacancy.Title</p>
    </div>
    <div class="grid-wrapper">
        <div class="grid grid-2-3">
            @Html.DisplayFor(m => m.AnonymousApplicantDetails, AnonymisedApplicantDetailsViewModel.PartialView)
        </div>
        <div class="grid grid-1-3">
        </div>
    </div>
    @Html.DisplayFor(m => m.AboutYou, AboutYouViewModel.PartialView)
    @Html.DisplayFor(m => m.Qualifications, QualificationViewModel.PartialView)
    @Html.DisplayFor(m => m.WorkExperience, WorkExperienceViewModel.PartialView)
    @Html.DisplayFor(m => m.TrainingCourses, TrainingCourseViewModel.PartialView)

    <section class="section-border">
        <h2 class="heading-large">
            Answers to employer questions
        </h2>
        @Html.DisplayFor(m => m, "Application/EmployerQuestionAnswers")
        @Html.DisplayFor(m => m, "Application/MonitoringInformation")
    </section>
</div>
