@using SFA.Apprenticeships.Web.Common.Extensions
@using SFA.Apprenticeships.Web.Common.Validators.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Recruit.Constants

@model FurtherVacancyDetailsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Close Vacancy";
}

<h1 class="heading-xlarge">
    Close this vacancy
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ManageDates, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    @Html.HiddenFor(m => m.WarningsHash)
    @Html.HiddenFor(m => m.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.Wage.Type)
    @Html.HiddenFor(m => m.Wage.Classification)
    @Html.HiddenFor(m => m.Wage.CustomType)
    @Html.HiddenFor(m => m.Wage.PresetText)
    @Html.HiddenFor(m => m.Wage.Amount)
    @Html.HiddenFor(m => m.Wage.AmountLowerBound)
    @Html.HiddenFor(m => m.Wage.AmountUpperBound)
    @Html.HiddenFor(m => m.Wage.Unit)
    @Html.HiddenFor(m => m.Wage.RangeUnit)
    @Html.HiddenFor(m => m.Wage.WageTypeReason)
    @Html.HiddenFor(m => m.Wage.HoursPerWeek)
    @Html.HiddenFor(m => m.VacancyDatesViewModel.VacancyStatus)

    <div>
        You're vacancy will be closed immediately and will no longer be listed on Find<br/>
        an apprenticeship
    </div>
    <br/>
    <div class="grid grid-1-2">
        <button class="button" type="submit">Close vacancy</button>

        @{
            var viewModel = new
            {
                vacancyReferenceNumber = Model.VacancyReferenceNumber
            };

            var routeName = Model.VacancyApplicationsState == VacancyApplicationsState.HasApplications ?
                RecruitmentRouteNames.VacancyApplications :
                RecruitmentRouteNames.PreviewVacancy;

            @Html.RouteLink("Cancel", routeName, viewModel)
            ;
        }
    </div>
}
