@model VacancyOwnerRelationshipViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider
@using SFA.Apprenticeships.Web.Recruit.Constants

@{
    ViewBag.Title = "Recruit an Apprentice - Check employer information";

    var saveButtonText = (Model.Status == VacancyStatus.Referred || Model.ComeFromPreview) &&
            Model.VacancyLocationType == VacancyLocationType.SpecificLocation ? "Save and return to Preview" : "Save and continue";
}

@Html.Partial("ValidationSummary", ViewData.ModelState)

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Check employer information
        </h1>
    </div>
</div>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ConfirmEmployer, FormMethod.Post, new { id = "confirm-employer-form" }))
{
    @Html.DisplayFor(m => m, VacancyOwnerRelationshipViewModel.PartialView)

    <div class="grid-row">
        <div class="column-full inline">
            <button class="button" id="confirmEmployer" name="ConfirmEmployer" value="ConfirmEmployer">@saveButtonText</button>
            @Html.RouteLink("Choose a different employer", RecruitmentRouteNames.SelectExistingEmployer, new { providerSiteId = Model.ProviderSiteId, vacancyGuid = Model.VacancyGuid, comeFromPreview = Model.ComeFromPreview }, new { @class = "button sfa-button-secondary" })
            @if (Model.ComeFromPreview)
            {
                @Html.RouteLink("Cancel", RecruitmentRouteNames.PreviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "button sfa-button-secondary" })
            }
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        var comeFromPreview = "@Model.ComeFromPreview.ToString()";

        $("#NumberOfPositionsJS").attr("id", "NumberOfPositions").attr("Name", "NumberOfPositions");
        $("#NumberOfPositionsNWJS").attr("id", "NumberOfPositionsNationwide").attr("Name", "NumberOfPositionsNationwide");

        $("#NonAnonymousEmployerJS").attr("id", "NonAnonymousEmployer").attr("Name", "NonAnonymousEmployer");
        $("#AnonymousEmployerJS").attr("id", "AnonymousEmployer").attr("Name", "AnonymousEmployer");

        $("#location-type-main-location").on('click', function () {
            if (comeFromPreview === "True") {
                $("#confirmEmployer").text("Save and return to preview");
            }
        });

        $("#location-type-different-location").on('click', function () {
            $("#confirmEmployer").text("Save and continue");
        });
    </script>

    @*Difficult to put in the partial view. See http://stackoverflow.com/questions/5981490/how-to-render-javascript-into-masterlayout-section-from-partial-view*@
}