@model SFA.Apprenticeships.Web.Recruit.ViewModels.Vacancy.EmployerViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Create New Vacancy - Confirm Employer";
}

<div class="grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">
            Employer details
        </h1>
    </div>
</div>
<div class="grid-wrapper">
    @using (Html.BeginRouteForm(RecruitmentRouteNames.ComfirmEmployer, FormMethod.Post))
    {   
        @Html.Partial("ValidationSummary", ViewData.ModelState)

        @Html.HiddenFor(m => m.ProviderSiteErn)
        @Html.HiddenFor(m => m.Ern)

        <div class="grid grid-1-2">
            <div class="inner-block-padr">
                <h3 class="bold-small">Employer</h3>
                <p class="small-btm-margin">@Model.Name</p>
                <p>
                    <a href="@Model.Website">@Model.Website</a>
                </p>
                <h3 class="bold-small">Address</h3>
                <p class="small-btm-margin">@Model.Address.AddressLine1</p>
                <p class="small-btm-margin">@Model.Address.AddressLine2</p>
                <p class="small-btm-margin">@Model.Address.AddressLine3</p>
                <p class="small-btm-margin">@Model.Address.AddressLine4</p>
                <p class="small-btm-margin">@Model.Address.Postcode</p>
            </div>
        </div>
        <div class="grid grid-1-2 hide-print">
            <div class="ad-details__map">
                <div class="map-overlay" onClick="style.pointerEvents = 'none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=@Model.Address.Postcode,+United+Kingdom&key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
            </div>
        </div>
        <div class="grid grid-1-1">
            <div class="form-group">
                <label for="employerText" class="form-label bold-small">Employer details</label>
                <textarea id="employerText" name="employerText" class="form-control width-all-1-1" style="height: 200px;">
                @Model.Description
            </textarea>
            </div>
            <button class="button">Save details and continue</button>
            <a href="@Url.RouteUrl(RecruitmentRouteNames.SelectExistingEmployer)">Choose another employer</a>
        </div>
    }
</div>
