@model NewVacancyViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Recruit.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(RecruitmentRouteNames.CreateVacancy, FormMethod.Post))
{
    @Html.DisplayFor(m => m, NewVacancyViewModel.PartialView)

    var saveButtonText = "Save and continue";
    var saveButtonValue = "CreateVacancy";

    if (Model.Status == VacancyStatus.Referred || Model.ComeFromPreview)
    {
        saveButtonText = "Save and return to Preview";
        saveButtonValue = "CreateVacancyAndPreview";
    }

    <div class="form-group">
        <button id="createVacancyButton" type="submit" class="button" name="CreateVacancy" value="@saveButtonValue">@saveButtonText</button>
        <button id="createVacancyAndExit" type="submit" class="button-link" name="CreateVacancy" value="CreateVacancyAndExit">Save and exit</button>
        @if (Model.ComeFromPreview)
        {
            @Html.RouteLink("Cancel", RecruitmentRouteNames.PreviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })
        }
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/autosave")

    <script>
        $("input[name='OfflineVacancy']").change(function() {
            var selectedValue = $("input[name='OfflineVacancy']:checked").val();
            if (selectedValue === "False") {
                $("#apprenticeship-offline-application-url").val("");
                $("#apprenticheship-offline-application-instructions").val("");
            }
        });

        @*autoSaveTimeout = @Html.Raw(Json.Encode(Model.AutoSaveTimeInMinutes)) * 60 * 1000;
        url: '@Url.RouteUrl(RecruitmentRouteNames.AutoSaveCreateVacancy)',*@


        $(window).on('load', function() {
            autoSave.initialise({
                formSelector: "form",
                timeout: 10000,
                postUrl: '@Url.RouteUrl(RecruitmentRouteNames.AutoSaveCreateVacancy)'
            });
        });
    </script>
}

