@using SFA.Apprenticeships.Web.Common.Extensions
@using SFA.Apprenticeships.Web.Common.Validators.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Recruit.Constants

@model FurtherVacancyDetailsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Change vacancy dates";
}

<h1 class="heading-xlarge">
    Change vacancy dates
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ManageDates, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    @Html.HiddenFor(m => m.WarningsHash)
    @Html.HiddenFor(m => m.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.Wage.Type)
    @Html.HiddenFor(m => m.Wage.Classification)
    @Html.HiddenFor(m => m.Wage.CustomType)
    @Html.HiddenFor(m => m.Wage.PresetText)
    @Html.HiddenFor(m => m.Wage.Amount)
    @Html.HiddenFor(m => m.Wage.AmountLowerBound)
    @Html.HiddenFor(m => m.Wage.AmountUpperBound)
    @Html.HiddenFor(m => m.Wage.Unit)
    @Html.HiddenFor(m => m.Wage.RangeUnit)
    @Html.HiddenFor(m => m.Wage.WageTypeReason)
    @Html.HiddenFor(m => m.Wage.HoursPerWeek)
    @Html.HiddenFor(m => m.VacancyDatesViewModel.VacancyStatus)

    <fieldset class="form-group inline-fixed date-input @HtmlExtensions.GetValidationCssClass(Html.GetValidationType(m => m.VacancyDatesViewModel.ClosingDate))">
        <a name="@Html.NameFor(m => m.VacancyDatesViewModel.ClosingDate).ToString().Replace(".", "_").ToLower()"></a>
        <h3 class="heading-small">@Model.GetMetadata(m => m.VacancyDatesViewModel.ClosingDate).DisplayName</h3>
        @Html.EditorFor(m => m.VacancyDatesViewModel.ClosingDate)
        @Html.ValidationMessageWithSeverityFor(m => m.VacancyDatesViewModel.ClosingDate, Html.GetValidationType(m => m.VacancyDatesViewModel.ClosingDate))

    </fieldset>
    <div>
        We advise using a date more than two weeks from now <br/>
        Vacancies will close at midnight on your chosen date
    </div>
    <br/>
    <fieldset class="form-group inline-fixed date-input @HtmlExtensions.GetValidationCssClass(Html.GetValidationType(m => m.VacancyDatesViewModel.PossibleStartDate))">
        <a name="@Html.NameFor(m => m.VacancyDatesViewModel.PossibleStartDate).ToString().Replace(".", "_").ToLower()"></a>
        <h3 class="heading-small">@Model.GetMetadata(m => m.VacancyDatesViewModel.PossibleStartDate).DisplayName</h3>
        @Html.EditorFor(m => m.VacancyDatesViewModel.PossibleStartDate)
        @Html.ValidationMessageWithSeverityFor(m => m.VacancyDatesViewModel.PossibleStartDate, Html.GetValidationType(m => m.VacancyDatesViewModel.PossibleStartDate))
    </fieldset>

    <div class="grid grid-1-2">
        <button class="button" type="submit">Save and return</button>

        @{
            var viewModel = new
            {
                vacancyReferenceNumber = Model.VacancyReferenceNumber
            };

            var routeName = Model.VacancyApplicationsState == VacancyApplicationsState.HasApplications ?
                RecruitmentRouteNames.VacancyApplications :
                RecruitmentRouteNames.PreviewVacancy;

            @Html.RouteLink("Cancel", routeName, viewModel);
        }
    </div>
            }
