@using SFA.Apprenticeships.Web.Common.Extensions
@using SFA.Apprenticeships.Web.Common.Validators.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Recruit.Constants

@model FurtherVacancyDetailsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Change vacancy dates";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Change vacancy dates
        </h1>
    </div>
</div>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ManageDates,
                                        new RouteValueDictionary { { "vacancyReferenceNumber", Model.VacancyReferenceNumber } },
                                        FormMethod.Post, new Dictionary<string, object> { { "id", "manage-vacancy-dates-form" } }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    @Html.HiddenFor(m => m.WarningsHash)
    @Html.HiddenFor(m => m.Wage.Type)
    @Html.HiddenFor(m => m.Wage.Classification)
    @Html.HiddenFor(m => m.Wage.CustomType)
    @Html.HiddenFor(m => m.Wage.PresetText)
    @Html.HiddenFor(m => m.Wage.Amount)
    @Html.HiddenFor(m => m.Wage.AmountLowerBound)
    @Html.HiddenFor(m => m.Wage.AmountUpperBound)
    @Html.HiddenFor(m => m.Wage.Unit)
    @Html.HiddenFor(m => m.Wage.RangeUnit)
    @Html.HiddenFor(m => m.Wage.WageTypeReason)
    @Html.HiddenFor(m => m.Wage.HoursPerWeek)
    @Html.HiddenFor(m => m.VacancyDatesViewModel.VacancyStatus)

    <div class="grid-row">
        <div class="column-two-thirds">
            <p>
                We advise using a date more than two weeks from now. Vacancies will close at midnight on your chosen date
            </p>

            <fieldset class="@HtmlExtensions.GetValidationCssClass(Html.GetValidationType(m => m.VacancyDatesViewModel.ClosingDate))">
                <a name="@Html.NameFor(m => m.VacancyDatesViewModel.ClosingDate).ToString().Replace(".", "_").ToLower()"></a>
                @Html.EditorFor(m => m.VacancyDatesViewModel.ClosingDate)
                @Html.ValidationMessageWithSeverityFor(m => m.VacancyDatesViewModel.ClosingDate, Html.GetValidationType(m => m.VacancyDatesViewModel.ClosingDate))

            </fieldset>

            <fieldset class="@HtmlExtensions.GetValidationCssClass(Html.GetValidationType(m => m.VacancyDatesViewModel.PossibleStartDate))">
                <a name="@Html.NameFor(m => m.VacancyDatesViewModel.PossibleStartDate).ToString().Replace(".", "_").ToLower()"></a>
                @Html.EditorFor(m => m.VacancyDatesViewModel.PossibleStartDate)
                @Html.ValidationMessageWithSeverityFor(m => m.VacancyDatesViewModel.PossibleStartDate, Html.GetValidationType(m => m.VacancyDatesViewModel.PossibleStartDate))
            </fieldset>

            <div class="inline">
                <button class="button" type="submit">Save and return</button>

                @{
                    var viewModel = new
                    {
                        vacancyReferenceNumber = Model.VacancyReferenceNumber
                    };

                    var routeName = Model.VacancyApplicationsState == VacancyApplicationsState.HasApplications ?
                        RecruitmentRouteNames.VacancyApplications :
                        RecruitmentRouteNames.PreviewVacancy;

                    @Html.RouteLink("Cancel", routeName, viewModel, new { @class = "button sfa-button-secondary" });
                }
            </div>
        </div>
    </div>
                    }
