@using SFA.Apprenticeships.Web.Common.Extensions
@using SFA.Apprenticeships.Web.Common.Validators.Extensions
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Recruit.Constants

@model FurtherVacancyDetailsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Change vacancy dates";
}

<h1 class="heading-xlarge">
    Change vacancy dates
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ManageDates, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    @Html.HiddenFor(m => m.WarningsHash)
    @Html.HiddenFor(m => m.VacancyReferenceNumber)
    @Html.HiddenFor(m => m.VacancyDatesViewModel.VacancyStatus)
    @Html.HiddenFor(m => m.AutoSaveTimeoutInSeconds)


    <fieldset class="form-group inline-fixed date-input @HtmlExtensions.GetValidationCssClass(Html.GetValidationType(m => m.VacancyDatesViewModel.ClosingDate))">
        <a name="@Html.NameFor(m => m.VacancyDatesViewModel.ClosingDate).ToString().Replace(".", "_").ToLower()"></a>
        <legend class="form-label">@Model.GetMetadata(m => m.VacancyDatesViewModel.ClosingDate).DisplayName</legend>
        @Html.EditorFor(m => m.VacancyDatesViewModel.ClosingDate)
        @Html.ValidationMessageWithSeverityFor(m => m.VacancyDatesViewModel.ClosingDate, Html.GetValidationType(m => m.VacancyDatesViewModel.ClosingDate))

        <div>
            We advise using a date more than two weeks from now<br />
            Vacancies will close at midnight on your chosen date
        </div>
    </fieldset>

    <fieldset class="form-group inline-fixed date-input @HtmlExtensions.GetValidationCssClass(Html.GetValidationType(m => m.VacancyDatesViewModel.PossibleStartDate))">
        <a name="@Html.NameFor(m => m.VacancyDatesViewModel.PossibleStartDate).ToString().Replace(".", "_").ToLower()"></a>
        <legend class="form-label">@Model.GetMetadata(m => m.VacancyDatesViewModel.PossibleStartDate).DisplayName</legend>
        @Html.EditorFor(m => m.VacancyDatesViewModel.PossibleStartDate)
        @Html.ValidationMessageWithSeverityFor(m => m.VacancyDatesViewModel.PossibleStartDate, Html.GetValidationType(m => m.VacancyDatesViewModel.PossibleStartDate))
    </fieldset>

    <div class="grid grid-1-2">
        <button class="button" type="submit">Save and return</button>

        @{
            var viewModel = new
            {
                vacancyReferenceNumber = Model.VacancyReferenceNumber
            };

            var routeName = Model.VacancyApplicationsState == VacancyApplicationsState.HasApplications ?
                RecruitmentRouteNames.VacancyApplications :
                RecruitmentRouteNames.PreviewVacancy;

            @Html.RouteLink("Cancel", routeName, viewModel);
        }
    </div>
}
