@model VacancyViewModel
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Preview vacancy";
}

@Html.Partial("ValidationSummary", ViewData.ModelState)

<div>
    @Html.DisplayFor(m => m, "Vacancy/VacancyPreviewHeader")
    @Html.DisplayFor(m => m, VacancyViewModel.PartialView)

    @if (Model.Status.IsStateReadOnly())
    {
        <section class="sfa-xlarge-top-margin inline">
            @if (Model.Mode == VacancyViewModel.BulkUploadMode)
            {
                <a id="dashboardLink" href="@Url.RouteUrl(RecruitmentRouteNames.BulkDeclineCandidates, new RouteValueDictionary {{"VacancyApplicationsSearch.VacancyReferenceNumber", Model.VacancyReferenceNumber}})" class="button">Continue responding to candidates</a>
            }
            else
            {
                <a id="dashboardLink" href="@Url.RouteUrl(RecruitmentRouteNames.RecruitmentHome)" class="button sfa-button-secondary">Return to recruitment home</a>
            }
        </section>
    }

    else
    {
        using (Html.BeginRouteForm(RecruitmentRouteNames.SubmitVacancy, FormMethod.Post, new { id = "submit-vacancy-form" }))
        {
            @Html.HiddenFor(m => m.VacancyReferenceNumber)


            if (Model.Status == VacancyStatus.Referred)
            {
                Model.ResubmitOption = false;
                @Html.FormCheckBoxFor(model => model.ResubmitOption, labelHtmlAttributes: new { @class = "block-label selection-button-checkbox para-btm-margin" })
            }
            else
            {
                Model.ResubmitOption = true;
                @Html.HiddenFor(model => model.ResubmitOption)
            }

            <section class="sfa-xlarge-top-margin inline">
                @if (Model.Status == VacancyStatus.Referred)
                {
                    <button type="submit" class="button">Resubmit vacancy</button>
                }
                else
                {
                    <button type="submit" class="button">Submit for approval</button>
                }
                <a id="dashboardLink" class="button sfa-button-secondary" href="@Url.RouteUrl(RecruitmentRouteNames.RecruitmentHome)">Save and exit</a>
            </section>
        }
    }
</div>