@model SFA.Apprenticeships.Web.Recruit.ViewModels.Vacancy.VacancyViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Enter vacancy details";
}

<h1 class="heading-xlarge">
    Enter vacancy details
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.SubmitVacancy, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.VacancyReferenceNumber);

    <section>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                <div class="inner-block-padr">
                    @Html.FormTextFor(m => m.Title, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text", autofocus = "autofocus" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    <!--TODO: Why is 4000 characters remaining appearing?-->
                    @Html.FormTextAreaFor(m => m.ShortDescription, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text", size = 12 }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="heading-large">
            Apprenticeship summary
        </h2>
        <div class="grid-wrapper">
            <div class="grid grid-1-3">
                <div class="inner-block-padr">
                    @Html.FormTextAreaFor(m => m.WorkingWeek, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text", size = 12 }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextFor(m => m.WeeklyWage, controlHtmlAttributes: new { @class = "width-all-1-3", type = "number" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextFor(m => m.Duration, controlHtmlAttributes: new { @class = "width-all-1-3", type = "number" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextFor(m => m.PublishDate, controlHtmlAttributes: new { @class = "width-all-2-3", type = "date" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextFor(m => m.ClosingDate, controlHtmlAttributes: new { @class = "width-all-2-3", type = "date" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextFor(m => m.PossibleStartDate, controlHtmlAttributes: new { @class = "width-all-2-3", type = "date" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })

                    <div class="form-group">
                        <div data-editable>
                            <p class="bold-small form-label">Apprenticeship level</p>
                            @Html.DropDownListFor(m => m.ApprenticeshipLevel, Model.ApprenticeshipLevels, new {@class = "width-all-2-3" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-2-3">
                @Html.FormTextAreaFor(m => m.LongDescription, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text", size = 12 }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
            </div>
        </div>
    </section>
    <section>
        <h2 class="heading-large">
            Requirements and prospects
        </h2>
        <div class="grid-wrapper">
            <div class="grid grid-1-2">
                <div class="inner-block-padr">
                    @Html.FormTextAreaFor(m => m.DesiredSkills, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextAreaFor(m => m.PersonalQualities, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                    @Html.FormTextAreaFor(m => m.DesiredQualifications, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                </div>
            </div>
            <div class="grid grid-1-2">
                @Html.FormTextAreaFor(m => m.FutureProspects, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
                @Html.FormTextAreaFor(m => m.ThingsToConsider, controlHtmlAttributes: new { @class = "width-all-1-1", type = "text" }, containerHtmlAttributes: new RouteValueDictionary { { "data-editable", null } }, labelHtmlAttributes: new { @class = "bold-small" })
            </div>
        </div>
    </section>
    <section>
        <h2 class="heading-large">
            Questions for candidates
        </h2>
        <div class="grid-wrapper">
            <div class="grid grid-1-2">
                <div class="inner-block-padr">
                    @Html.FormTextAreaFor(m => m.FirstQuestion, controlHtmlAttributes: new {@class = "width-all-1-1", type = "text"}, containerHtmlAttributes: new RouteValueDictionary {{"data-editable", null}}, labelHtmlAttributes: new {@class = "bold-small"})
                    @Html.FormTextAreaFor(m => m.SecondQuestion, controlHtmlAttributes: new {@class = "width-all-1-1", type = "text"}, containerHtmlAttributes: new RouteValueDictionary {{"data-editable", null}}, labelHtmlAttributes: new {@class = "bold-small"})
                </div>
            </div>
        </div>
    </section>
    <section class="" id="employer-info">
        <div>
            <h2 class="heading-large">About the employer</h2>
            <div class="form-group">
                <div data-id="employer-data-display">
                    <div class="text">
                        <p>@Model.Employer.Description</p>
                    </div>
                    <div class="grid-wrapper">
                        <div class="grid grid-1-2">
                            <div class="inner-block-padr">
                                <h3 class="bold-small">Employer</h3>
                                <p class="small-btm-margin">@Model.Employer.Name</p>
                                <p>
                                    <a href="@Model.Employer.Website">@Model.Employer.Website</a>
                                </p>
                                <h3 class="bold-small">Address</h3>
                                <p class="small-btm-margin">@Model.Employer.Address.AddressLine1</p>
                                <p class="small-btm-margin">@Model.Employer.Address.AddressLine2</p>
                                <p class="small-btm-margin">@Model.Employer.Address.AddressLine3</p>
                                <p class="small-btm-margin">@Model.Employer.Address.AddressLine4</p>
                                <p>@Model.Employer.Address.Postcode</p>
                            </div>
                        </div>
                        <div class="grid grid-1-2 hide-print">
                            <div class="ad-details__map">
                                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=@Model.Employer.Address.Postcode,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8"></iframe>
                                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="heading-large">
            Training provider
        </h2>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                <div class="inner-block-padr">
                    <p>@Model.ProviderSite.CandidateDescription</p>
                    <div class="edit-wrapper">
                        <h3 class="bold-small">
                            Apprenticeship framework
                        </h3>
                        <p>@Model.FrameworkName</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-1-3">
                <h3 class="bold-small">Training provider</h3>
                <p>@Model.ProviderSite.Name</p>
                <div class="edit-wrapper">
                    <h3 class="heading-small">
                        Contact <a href="#" class="heading-edit edit-link font-xsmall">Edit</a>
                    </h3>
                    <address>
                        @Model.ProviderSite.Address.AddressLine1<br/>
                        @Model.ProviderSite.Address.AddressLine2<br/>
                        @Model.ProviderSite.Address.AddressLine3<br/>
                        @Model.ProviderSite.Address.AddressLine4<br/>
                        @Model.ProviderSite.Address.Postcode<br/>
                        @Model.ProviderSite.ContactDetailsForCandidate
                    </address>
                </div>
            </div>
        </div>
    </section>
    <div class="grid grid-1-2">
        <button type="submit" class="button">Submit for approval</button>
    </div>
}