@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Recruit.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model TrainingDetailsViewModel

@using (Html.BeginRouteForm(RecruitmentRouteNames.TrainingDetails, FormMethod.Post))
{
    @Html.DisplayFor(m => m, TrainingDetailsViewModel.PartialView)

    var saveButtonText = "Save and continue";
    var saveButtonValue = "TrainingDetails";

    if (Model.Status == VacancyStatus.Referred || Model.ComeFromPreview)
    {
        saveButtonText = "Save and return to Preview";
        saveButtonValue = "TrainingDetailsAndPreview";
    }

    <div class="form-group">
        <button id="createVacancyButton" type="submit" class="button" name="TrainingDetails" value="@saveButtonValue">@saveButtonText</button>
        <button id="createVacancyAndExit" type="submit" class="button-link" name="TrainingDetails" value="TrainingDetailsAndExit">Save and exit</button>
        @if (Model.ComeFromPreview)
        {
            @Html.RouteLink("Cancel", RecruitmentRouteNames.PreviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })
        }
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/autosave")

    <script>
        $("#@Html.NameFor(m => m.StandardId)").change(function () {
            var apprenticeshipLevel = $("#@Html.NameFor(m => m.StandardId) option:selected").attr("data-apprenticeship-level");
            if (apprenticeshipLevel === "@ApprenticeshipLevel.FoundationDegree.ToString()" || apprenticeshipLevel === "@ApprenticeshipLevel.Masters.ToString()") {
                apprenticeshipLevel = "@ApprenticeshipLevel.Degree.ToString()";
            }
            $("#apprenticeship-level-name").text(apprenticeshipLevel);
            $("#apprenticeship-level-container").show();
        });

        @*autoSaveTimeout = @Html.Raw(Json.Encode(Model.AutoSaveTimeInMinutes)) * 60 * 1000;*@

        $(window).on('load', function() {
            autoSave.initialise({
                formSelector: "form",
                timeout: 10000,
                postUrl: '@Url.RouteUrl(RecruitmentRouteNames.AutoSaveTrainingDetails)'
            });
        });
    </script>
}