@model FurtherVacancyDetailsViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Recruit.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(RecruitmentRouteNames.VacancySummary, FormMethod.Post))
{
    @Html.HiddenFor(m => m.AutoSaveTimeoutInSeconds)
    @Html.DisplayFor(m => m, FurtherVacancyDetailsViewModel.PartialView)

    var saveButtonText = "Save and continue";
    var saveButtonValue = "VacancySummary";

    if (Model.Status == VacancyStatus.Referred || Model.ComeFromPreview)
    {
        saveButtonText = "Save and return to Preview";
        saveButtonValue = "VacancySummaryAndPreview";
    }

    <div class="grid grid-1-2">
        <button id="vacancySummaryButton" type="submit" class="button" name="VacancySummary" value="@saveButtonValue">@saveButtonText</button>
        <button id="vacancySummaryAndExit" type="submit" class="button-link" name="VacancySummary" value="VacancySummaryAndExit">Save and exit</button>
        @if (Model.ComeFromPreview)
        {
            @Html.RouteLink("Cancel", RecruitmentRouteNames.PreviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })
        }
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/autosave")

    <script>
        var autoSaveTimeout = @Html.Raw(Json.Encode(Model.AutoSaveTimeoutInSeconds)) * 1000;

        $(window).on('load', function() {
            autoSave.initialise({
                formSelector: "form",
                timeout: autoSaveTimeout,
                postUrl: '@Url.RouteUrl(RecruitmentRouteNames.AutoSaveVacancySummary)'
            });
        });
    </script>

    <!---->
    <script src="https://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/4.5.10/standard/adapters/jquery.js"></script>
    <script>
            if (typeof CKEDITOR == 'undefined') {
                document.write(unescape("%3Cscript src='/Content/_assets/js/vendor/ckeditor/ckeditor.js' type='text/javascript'%3E%3C/script%3E"));
                document.write(unescape("%3Cscript src='/Content/_assets/js/vendor/ckeditor/adapters/jquery.js' type='text/javascript'%3E%3C/script%3E"));
            }
    </script>

    <script src="~/Content/_assets/js/vendor/nanospell/autoload.js"></script>
    <script>
            CKEDITOR.replace('LongDescription', {
                customConfig: '/Content/_assets/js/vendor/ckeditor/config.js',
                contentsCss: '/Content/_assets/js/vendor/ckeditor/contents.css'
            });
    </script>

    <script>
            nanospell.ckeditor('all',
            {
                dictionary: "en_uk", // 24 free international dictionaries
                server: "asp.net" // can be php, asp, asp.net or java
            });
    </script>

}