@model VacancySummaryViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@using SFA.Apprenticeships.Web.Recruit.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Common.Extensions
@{
    ViewBag.Title = "Recruit an Apprentice - Enter vacancy summary";
}

<h1 class="heading-xlarge">
    Enter vacancy details
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.VacancySummary, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.VacancyReferenceNumber)

    <section>
        <div class="form-group">
            <div class="form-group">
                @Html.FormTextAreaFor(m => m.WorkingWeek, containerHtmlAttributes: new {@baseClassName = "working-week"}, controlHtmlAttributes: new {@class = "width-all-1-2", type = "text", size = 12, autofocus = "autofocus"})
                @Html.FormTextFor(m => m.HoursPerWeek, containerHtmlAttributes: new {@baseClassName = "hours-per-week"}, controlHtmlAttributes: new {@class = "form-control-small", type = "tel", size = 12})
            </div>
            @Html.FormTextFor(m => m.Wage, controlHtmlAttributes: new {@class = "width-all-1-2", type = "text", size = 12})
            @Html.FormTextFor(m => m.Duration, controlHtmlAttributes: new {@class = "width-all-1-2", type = "text", size = 12})
            <fieldset class="form-group inline-fixed date-input">
                <legend class="form-label">@Model.GetMetadata(m => m.ClosingDate).DisplayName</legend>
                @Html.EditorFor(r => r.ClosingDate)
            </fieldset>
            <fieldset class="form-group inline-fixed date-input">
                <legend class="form-label">@Model.GetMetadata(m => m.PossibleStartDate).DisplayName</legend>
                @Html.EditorFor(r => r.PossibleStartDate)
            </fieldset>
            @Html.FormTextAreaFor(m => m.LongDescription, controlHtmlAttributes: new {@class = "width-all-1-1 form-textarea-large", type = "text", size = 12, rows = 22})
        </div>
    </section>
    <div class="grid grid-1-2">
        <button type="submit" class="button" name="VacancySummary" value="VacancySummary">Save and continue</button>
        <button id="vacancySummaryAndExit" type="submit" class="button-link" name="VacancySummary" value="VacancySummaryAndExit">Save and exit</button>
    </div>
}