@model FurtherVacancyDetailsViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Recruit.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(
    Model.Status.CanManageVacancyDates() ? RecruitmentRouteNames.ManageDates : RecruitmentRouteNames.VacancySummary,
    new RouteValueDictionary { { "vacancyReferenceNumber", Model.VacancyReferenceNumber } },
    FormMethod.Post))
{
    @Html.HiddenFor(m => m.AutoSaveTimeoutInSeconds)
    @Html.DisplayFor(m => m, FurtherVacancyDetailsViewModel.PartialView)

    var saveButtonText = "Save and continue";
    var saveButtonValue = "VacancySummary";

    if (Model.Status == VacancyStatus.Referred || Model.ComeFromPreview)
    {
        saveButtonText = "Save and return to Preview";
        saveButtonValue = "VacancySummaryAndPreview";
    }

    <div class="column-two-thirds inline sfa-xlarge-top-margin">
        @if (Model.Status.CanManageVacancyDates())
        {
            <button class="button" type="submit">Save and return</button>
        }
        else
        {
            <button id="vacancySummaryButton" type="submit" class="button no-autosave" name="VacancySummary" value="@saveButtonValue">@saveButtonText</button>
            <button id="vacancySummaryAndExit" type="submit" class="button sfa-button-secondary no-autosave" name="VacancySummary" value="VacancySummaryAndExit">Save and exit</button>
        }
        @if (Model.ComeFromPreview)
        {
            @Html.RouteLink("Cancel", RecruitmentRouteNames.PreviewVacancy, new {vacancyReferenceNumber = Model.VacancyReferenceNumber}, new {@class = "no-autosave button sfa-button-secondary"})
        }
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/autosave")

    <script>
        var autoSaveTimeout = @Html.Raw(Json.Encode(Model.AutoSaveTimeoutInSeconds)) * 1000;

        $(window).on('load', function() {
            autoSave.initialise({
                formSelector: "form",
                timeout: autoSaveTimeout,
                postUrl: '@Url.RouteUrl(RecruitmentRouteNames.AutoSaveVacancySummary)'
            });
        });
    </script>

    @Html.Partial("HtmlTextEditor")

}