@model SFA.Apprenticeships.Web.Recruit.ViewModels.Vacancy.VacancyQuestionsViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Enter vacancy question";
}

<h1 class="heading-xlarge">
    Enter vacancy details
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.VacancyQuestions, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.VacancyReferenceNumber)

    <section>
        <h2 class="heading-large">
            Questions for candidates
        </h2>
        <div class="grid-wrapper">
            <div class="grid grid-1-2">
                <div class="inner-block-padr">
                    @Html.FormTextAreaFor(m => m.FirstQuestion, controlHtmlAttributes: new {@class = "width-all-1-1", type = "text", autofocus = "autofocus" }, labelHtmlAttributes: new {@class = "bold-small"})
                    @Html.FormTextAreaFor(m => m.SecondQuestion, controlHtmlAttributes: new {@class = "width-all-1-1", type = "text"}, labelHtmlAttributes: new {@class = "bold-small"})
                </div>
            </div>
        </div>
    </section>
    <div class="grid grid-1-2">
        <button type="submit" class="button">Save and continue</button>
    </div>
}