@using SFA.Apprenticeships.Web.Common.Extensions
@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Recruit.ViewModels.Report.ApplicationsReceivedParameters

@{
    ViewBag.Title = "Applications received report";
}

<h1 id="heading" class="heading-xlarge">Applications received</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div>
        <fieldset>
            <a name="@Html.NameFor(m => m.FromDate).ToString().Replace(".", "_").ToLower()"></a>
            @Html.EditorFor(m => m.FromDate)
        </fieldset>

        <fieldset>
            <a name="@Html.NameFor(m => m.ToDate).ToString().Replace(".", "_").ToLower()"></a>
            @Html.EditorFor(m => m.ToDate)
        </fieldset>

        <div class="inline sfa-medium-bottom-margin">
            <button id="ValidateReportParameters" type="submit" class="button" name="ApplicationsReceived" value="ValidateApplicationsReceived">Export CSV</button>
            @if (Model.IsValid)
            {
                <button id="DownloadReport" type="submit" class="button sfa-button-secondary hidden" name="ApplicationsReceived" value="DownloadApplicationsReceived">Download CSV</button>
                <noscript>
                    <button id="DownloadReportNoJs" type="submit" class="button sfa-button-secondary" name="ApplicationsReceived" value="DownloadApplicationsReceived">Download CSV</button>
                </noscript>
            }
            @Html.RouteLink("Back to List", RecruitmentRouteNames.ReportList, null, new {@class="button sfa-button-secondary" })
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/reports")
}