@model AboutYouViewModel

<section class="section-border">
    <h2 class="heading-large">
        About you
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href='@Url.RouteUrl(CandidateRouteNames.ApprenticeshipApply, new {id = ViewBag.VacancyId})#applyAboutYou'>
                <i class="the-icon fa fa-pencil"></i><span class="the-text">Edit section</span>
            </a>

        }
    </h2>

    <div class="text">
        <div class="form-group">
            @Html.SpanFor(m => m.WhatAreYourStrengths, new { @class = "form-label-bold text" })
            <span id="@Html.IdFor(m => m.WhatAreYourStrengths)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.WhatAreYourStrengths)</span>
        </div>
        <div class="form-group">
            @Html.SpanFor(m => m.WhatDoYouFeelYouCouldImprove, new { @class = "form-label-bold text" })
            <span id="@Html.IdFor(m => m.WhatDoYouFeelYouCouldImprove)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.WhatDoYouFeelYouCouldImprove)</span>
        </div>
        <div class="form-group">
            @Html.SpanFor(m => m.WhatAreYourHobbiesInterests, new { @class = "form-label-bold text" })
            <span id="@Html.IdFor(m => m.WhatAreYourHobbiesInterests)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.WhatAreYourHobbiesInterests)</span>
        </div>
    </div>
</section>
