@model ApprenticeshipCandidateViewModel

<section class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-large">Your details</h3>
        <div class="grid-row">
            <div class="column-one-half">
                <h3 class="heading-small">Full name</h3>
                @Html.HiddenFor(m => m.FirstName)
                @Html.HiddenFor(m => m.LastName)
                <span id="candidate-fullname">@Html.DisplayFor(model => model.FullName)</span>

                <h3 class="heading-small">Date of birth</h3>
                @Html.HiddenFor(m => m.DateOfBirth)
                <span id="candidate-dob">@Html.DisplayFor(model => model.DateOfBirth, "Date")</span>
                <h3 class="heading-small">Address</h3>
                <ul class="list">
                    <li id="candidate-address-line1">
                        @Html.HiddenFor(m => m.Address.AddressLine1)
                        @Model.Address.AddressLine1
                    </li>
                    <li id="candidate-address-line2">
                        @Html.HiddenFor(m => m.Address.AddressLine2)
                        @Model.Address.AddressLine2
                    </li>
                    <li id="candidate-address-line3">
                        @Html.HiddenFor(m => m.Address.AddressLine3)
                        @Model.Address.AddressLine3
                    </li>
                    <li id="candidate-address-line4">
                        @Html.HiddenFor(m => m.Address.AddressLine4)
                        @Model.Address.AddressLine4
                    </li>
                    <li id="candidate-address-postcode">
                        @Html.HiddenFor(m => m.Address.Postcode)
                        @Model.Address.Postcode
                    </li>
                </ul>
            </div>
            <div class="column-one-half">
                <h3 class="heading-small">Email address</h3>
                @Html.HiddenFor(m => m.EmailAddress)
                <span id="candidate-email">@Model.EmailAddress</span>
                <h3 class="heading-small">Phone</h3>
                @Html.HiddenFor(m => m.PhoneNumber)
                <span id="candidate-phone">@Model.PhoneNumber</span>
            </div>
        </div>
        <hr />
    </div>
</section>