@model TraineeshipSearchResponseViewModel

@if (Model.TotalHits == 0)
{
    <p id="search-no-results-title">There are currently no traineeships that match your search.</p>
    <p>Try editing your search:</p>
    <ul id="search-no-results" class="list list-bullet">
        <li>using a different reference number</li>
        <li>expanding your search location</li>
    </ul>
}
else
{
    <fieldset>
        <legend class="visuallyhidden">Search items</legend>
        <div class="grid-row">
            <div class="column-full sfa-align-right-tablet">
                    <div class="form-group">
                        <label for="sort-results" class="heading-medium sfa-medium-right-margin">Sort results</label>
                        @Html.DropDownList("sortType", Model.SortTypes, new { @id = "sort-results", @class = "form-control form-control-auto" })
                        <noscript>
                            <button class="button show-nojs" name="SearchAction" value="Sort">Sort</button>
                        </noscript>  
                        <input id="SearchAction" name="SearchAction" value="Search" type="hidden" />
                    </div>
            </div>
        </div>
    </fieldset>

        <ul class="search-results">
            @if (Model.Vacancies != null)
            {
                var itemPosition = 1 + (Model.PageSize * Model.PrevPage);
                foreach (var vacancy in Model.Vacancies)
                {
                    var webTrendItemPositionTracker = "Webtrends.multiTrack({ element: this, argsa: ['DCS.dcsuri', '/traineeships/results/itemposition/" + vacancy.Id + "', 'WT.dl', '99', 'WT.ti', 'Traineeships Search – Item Position Clicked', 'DCSext.ipos', '" + itemPosition + "'] })";
                    <li class="search-result sfa-section-bordered">
                        <h2 class="heading-medium sfa-no-margins">@Html.ActionLink(@vacancy.Title, "DetailsWithDistance", new { id = vacancy.Id, distance = vacancy.DistanceAsString }, new { @class = "vacancy-link", data_vacancy_id = vacancy.Id, onclick = webTrendItemPositionTracker, data_lat = vacancy.Location.Latitude, data_lon = vacancy.Location.Longitude })</h2>
                        <ul class="list">
                            <li class="secondary-text">
                                <span id="posted-date-@vacancy.Id">
                                    (Added @vacancy.PostedDate.ToFriendlyDaysAgo()
                                </span>
                            </li>
                            <li class="font-xsmall secondary-text">
                                (Added @vacancy.PostedDate.ToFriendlyDaysAgo()
                                <span id="number-of-positions-@vacancy.Id" class="hidden-subcategory">
                                    @if (vacancy.NumberOfPositions == 1)
                                    {
                                        <span>- 1 position available)</span>
                                    }
                                    else
                                    {
                                        <span>- @vacancy.NumberOfPositions positions available)</span>
                                    }
                                </span>
                            </li>
                        </ul>
                        <p class="@vacancy.Description.GetPreserveFormattingCssClass()">@vacancy.Description</p>
                        <div class="grid-row">
                            <div class="column-two-thirds">
                                <ul class="list sfa-no-margins">
                                    <li>
                                        <span class="bold-small">Distance:</span> <span class="distance-value">@vacancy.DistanceAsString</span> miles
                                        <a href="#" class="summary-style hide-nojs journey-trigger">Journey time</a>
                                        <div class="detail-content toggle-content hide-nojs">
                                            <select class="form-control select-mode" name="">
                                                <option value="DRIVING">Driving</option>
                                                <option value="TRANSIT">Bus/Train</option>
                                                <option value="WALKING">Walking</option>
                                                <option value="BICYCLING">Cycling</option>
                                            </select>

                                            <span class="journey-time"></span>
                                        </div>
                                    </li>
                                    <li><span class="bold-small">Closing date:</span> <span class="closing-date-value" data-date="@vacancy.ClosingDate.ToString("u")">@vacancy.ClosingDate.ToFriendlyClosingWeek()</span></li>
                                    <li><span class="bold-small">Possible start date:</span><span class="start-date-value">@Html.DisplayFor(m => vacancy.StartDate, "Date")</span></li>
                                    <li class="sfa-hide-tablet">
                                        <a href="#1" style="margin-left: 0;" class="summary-style mob-map-trigger map-closed">Show/hide map</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-one-third map-container hide-nojs sfa-small-bottom-margin toggle-content--mob">
                                <a href="https://www.google.com/maps/dir/LocationLatLon/'@vacancy.Location.Latitude,@vacancy.Location.Longitude'" target="_blank" rel="external" class="map-links fake-link font-xxsmall view-googlemaps">Open map</a>
                                <div class="map-placeholder"></div>
                                <img class="static-map" src="//maps.googleapis.com/maps/api/staticmap?markers=@(vacancy.Location.Latitude),@(vacancy.Location.Longitude)&size=190x125&zoom=12" />
                            </div>
                        </div>
                    </li>
                    itemPosition++;
                }
            }
        </ul>

    Html.RenderPartial("_pagination", Model);

    if (Model.TotalHits > 5)
    {
        <div class="form-group sfa-medium-top-margin">
            <label for="results-per-page" class="heading-small inline">Display results</label>
            @Html.DropDownList("resultsPerPage", Model.ResultsPerPageSelectList, new { @id = "results-per-page", @class = "form-control form-control-auto" })
            <noscript>
                <button class="button show-nojs" name="ChangeResultsPerPageAction" value="ResultsPerPage">View</button>
            </noscript>
        </div>
    }
}
