@model TraineeshipSearchViewModel
@{
    ViewBag.Title = "Find a traineeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Find a traineeship</h1>
    <p class="heading-secondary ">Search and apply for a traineeship in England</p>
</div>
<div class="grid-row">

    <div class="grid-row controls-3-4">
        <section class="column-two-thirds">
            @using (Html.BeginRouteForm(CandidateRouteNames.TraineeshipSearch, FormMethod.Post, new { @id = "#searchForm" }))
            {
                @Html.Partial("ValidationSummary", ViewData.ModelState)

                @Html.FormTextFor(m => m.Location, hintHtmlAttributes: new { id = "geoLocateContainer" })

               @Html.FormTextFor(m=>m.ReferenceNumber, controlHtmlAttributes: new { type = "text" })

                <div class="form-group">
                    <button class="button" id="search-button">Search</button>
                </div>

                @Html.HiddenFor(m => m.WithinDistance);
                @Html.HiddenFor(m => m.SortType);
                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                @* This is declared explicitly because we want the value from the model NOT from the URL and the view engine will favour the (potentially incorrect) one from the URL *@
                <input id="Hash" name="Hash" type="hidden" value="@Model.LatLonLocHash()" />
                @Html.HiddenFor(m=> m.ResultsPerPage);
            }
        </section>
        <aside class="column-one-third">
            <div class="inner-block">
                <div class="gov-border">
                    <h2 class="heading-medium">Help</h2>
                    <ul class="list-text">
                        <li>0800 015 0400</li>
                        <li><a href='@Url.RouteUrl(CandidateRouteNames.Helpdesk)'>Contact us</a></li>
                    </ul>
                    <ul class="list-text">
                        <li>
                            <a href="https://www.gov.uk/find-traineeship">About traineeships</a>
                        </li>
                        <li>
                            @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { id = "find-apprenticeship-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>

@section scripts
{   
    @Scripts.Render("~/bundles/nas/locationsearch")
    <script>
        $("#Location").locationMatch({
            url: '@Url.RouteUrl(CandidateRouteNames.LocationSearch)',
            longitude: '#@(Html.IdFor(m => m.Longitude))',
            latitude: '#@(Html.IdFor(m => m.Latitude))',
            latlonhash: '#@(Html.IdFor(m => m.Hash))'
        });
    </script>
    @Scripts.Render("~/bundles/nas/geoLocater")
}
