@model TraineeshipSearchResponseViewModel

@{
    ViewBag.Title = "Results - Find a traineeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    @*Used by analytics to track succesful/unsuccessful searches*@
    <meta name="WT.oss_r" content="@Model.TotalHits" />
}

<div class="search-results-wrapper grid-row">
    <div class="hgroup column-full">
        <h1 class="heading-xlarge sfa-no-bottom-margin">Search results</h1>
        <div id="vacancy-result-summary">
            <p class="sfa-small-bottom-margin">We've found <b id="total-hits-count" class="bold-medium">@Model.TotalHits</b> traineeships in your selected area.</p>
        </div>
    </div>

    @using (Html.BeginRouteForm(CandidateRouteNames.TraineeshipResults, FormMethod.Get, new { id = "traineeship-results-form" }))
    {
        Html.Partial("ValidationSummary", ViewData.ModelState);
        Html.RenderPartial("_searchUpdate", Model.VacancySearch);
        <section class="column-two-thirds">
            <div id="pagedList">
                @{ Html.RenderPartial("_searchResults", Model); }
            </div>
        </section>
    }
</div>

<div class="saving-prompt toggle-content hide-nojs" id="ajaxLoading">
    Loading
</div>

@section scripts
{

    @Scripts.Render("~/bundles/nas/locationsearch")
    @Scripts.Render("~/bundles/nas/geoLocater")


    <script>
        var searchUrl = '@Url.RouteUrl(CandidateRouteNames.TraineeshipResults)';
        var locationUrl = '@Url.RouteUrl(CandidateRouteNames.LocationSearch)';
    </script>
    @Scripts.Render("~/bundles/nas/results")
}